@import org.incal.play.controllers.WebContext
@import org.incal.play.controllers.WebContext._
@import views.html.layout.main
@import views.html.mpowerchallenge.clusteringSideBar

@()(implicit context: WebContext)

@main(
    title = "PD Digital Biomarker DREAM Challenge: Feature Clustering",
    sideBar = Some(clusteringSideBar()),
    showMessageBox = false
) {
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <h1>PD Digital Biomarker DREAM Challenge: Feature Clustering</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h4>
                <p>
                    This site acts as a supplementary material for <a href="https://www.synapse.org/#!Synapse:syn8717496/wiki/422884">PD Digital Biomarker DREAM Challenge</a> concluded in October 2017.
                </p>
                <p>
                    Here, you can freely freely explore the results of clustering analysis for the features from all the subchallenges visualized as interactive charts.
                    Clustering was performed by two standard methods: k-means and bisecting k-means. To map an input feature space to two dimensions we employed two manifold projection techniques: MDS and t-SNE, whose outcomes were fed as an input to clustering.
                </p>
                <p>
                    Please use the menu on the left to navigate through the subchallenges.
                </p>
            </h4>
        </div>
        <div class="col-md-2">
            <div class="panel panel-success">
                <div class="panel-heading"><strong>Looking for the correlation results?</strong></div>
                <div class="panel-body">Go to <a href="@controllers.mpower.routes.MPowerChallengeCorrelationController.index()">here</a></div>
            </div>
        </div>
    </div>
}