@import org.incal.play.controllers.WebContext
@import org.incal.play.controllers.WebContext._
@import views.html.layout.main
@import controllers.mpower.routes.{MPowerChallengeCorrelationController => challengeRoutes}
@import play.api.libs.json.Json
@import views.html.basicSideBar
@import views.html.elements.selectEnum
@import controllers.mpower.VisNode
@import controllers.mpower.VisEdge
@import controllers.mpower.AggFunction
@import views.html.mpowerchallenge.correlationSideBar
@import org.incal.play.routes.CustomDirAssets

@(
    domainName: String,
    threshold: Double,
    aggOut: AggFunction.Value,
    aggIn: AggFunction.Value,
    withDemographics: Boolean,
    nodes: Traversable[VisNode],
    edges: Traversable[VisEdge]
)(implicit context: WebContext)

@option(i: Int) = {
    <option value="@{i*5}">Top @{i*5}</option>
}

@thresholdOption(i: Int) = {
    <option value="0.@i" @if(threshold.toString.equals(s"0.$i")) {selected="selected"}>0.@i</option>
}

@bottomResources = {

    <script type="text/javascript">
        var nodes = [
            @nodes.map{ node =>
                {id: @node.id, size: @node.size, font: { multi: true }, label: '<b>@{node.label}</b>', data: JSON.parse('@Html(Json.stringify(node.data.get))')},
            }
        ];

        var edges = [
            @edges.map{ edge =>
                {from: @edge.from, to: @edge.to, width: @edge.value, title: '@edge.label', color:{color:'#60c842', opacity: 0.8}, arrows:'to'},
            }
        ];

        var network = null;

        function draw(selectedNodes) {
            // Instantiate our network object.
            var container = document.getElementById('mynetwork');
            var physicsEnabled = true // (selectedNodes.length <= 30)
            var data = {
                nodes: selectedNodes,
                edges: edges
            };
            var options = {
                nodes: {
                    shape: 'dot',
                    font: {
                        size: 16
                    }
                },
                interaction: {
                    hover:true
                },
                physics: {
                    enabled: physicsEnabled
                }
            };
            network = new vis.Network(container, data, options);
            network.fit();

            network.on("click", function (params) {
                if (params.nodes.length > 0) {
                    // node  click
                    var node = getNode(params.nodes[0])
                    $("#teamInfoDiv").html("")
                    $("#teamInfoDiv").append("<h4><b>" + node.label + "</b></h4><hr/>")
                    $.each(node.data, function (key, value) {
                        if (value && (!Array.isArray(value) || value.length > 0)) {
                            $("#teamInfoDiv").append(key + " : " + value + "</br>")
                        }
                    })
                } else {
                    // edge click
                    var edge = getEdge(params.edges[0])
                    var from = getNode(edge.from)
                    var to = getNode(edge.to)
                    $("#teamInfoDiv").html("")
                    $("#teamInfoDiv").append("<h4>" + from.label + '<span class="glyphicon glyphicon-arrow-right"></span>' + to.label + "</h4><hr/>")
                    $("#teamInfoDiv").append(edge.title)
                }
            });
        }

        function zoomIn() {
            var newScale = 1.5 * network.getScale()
            var options = {
                scale: newScale,
                animation: { duration: 300, easingFunction: "easeInCubic" }
            };
            network.moveTo(options);
        }

        function zoomOut() {
            var newScale = 0.666 * network.getScale()
            var options = {
                scale: newScale,
                animation: { duration: 300, easingFunction: "easeInCubic" }
            };
            network.moveTo(options);
        }

        function getNode(nodeId) {
            var found = nodes.find(function (node) {
                return node.id == nodeId;
            });
            return found
        }

        function getEdge(edgeId) {
            var found = edges.find(function (edge) {
                return edge.id == edgeId;
            });
            return found
        }

        function selectTeams() {
            var teamsNum = $("#topTeamSelection").val()
            var selectedNodes = nodes
            if (teamsNum) {
                selectedNodes = nodes.slice(0, teamsNum)
            }
            draw(selectedNodes)
        }

        function resubmit() {
            var url = window.location.href

            var params = {};
            params['corrThreshold'] = $("#corrThreshold").val();
            params['aggOut'] = $("#aggOut").val();
            params['aggIn'] = $("#aggIn").val();
            params['withDemographics'] = $("#withDemographics").is(':checked');

            submit('get', url, params)
        }

        $("#aggOut").change(resubmit)
        $("#aggIn").change(resubmit)

        $(function () {
            // draw all nodes
            draw(nodes)
            // activate tooltips
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}

@main(
    title = Messages("network.title", domainName),
    sideBar = Some(correlationSideBar()),
    bottomResources = Some(bottomResources),
    showMessageBox = false
) {

    <style type="text/css">
        #mynetwork {
            height: 700px;
            border: #cbcbcb 1px solid;
            border-radius: 10px;
        }
    </style>

    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <h1>@Messages("network.title", domainName)</h1>
            </div>
        </div>
    </div>

    <script src="@routes.WebJarAssets.at(context.webJarAssets.locate("vis.min.js"))"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="@CustomDirAssets.versioned("stylesheets/vis.min.css")">

    <div class="row">
        <div class="col-md-10">
            <div id="mynetwork"></div>
        </div>

        <div class="col-md-2">
            <div id="teamInfoDiv" class="row alert alert-success">
                No team selected
            </div>
            <div class="row">
                <a class="btn btn-info" onclick="zoomIn();" data-toggle="tooltip" title="Zoom In">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </a>
                <a class="btn btn-info" onclick="zoomOut();" data-toggle="tooltip" title="Zoom Out">
                    <span class="glyphicon glyphicon-zoom-out"></span>
                </a>
            </div>
            <div class="row">
                <div class="panel panel-default" style="margin-top: 20px">
                    <div class="panel-body">
                        <span style="padding-top: 5px">Show</span>
                        <select class="pull-right" id="topTeamSelection" name="topTeamSelection" onchange="selectTeams()" >
                            <option value="">All</option>
                            @{for(i <- 1 until nodes.size / 5) yield option(i)}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default" style="margin-top: 20px">
                    <div class="panel-body">
                        <span style="padding-top: 5px">Threshold</span>
                        <select class="pull-right" id="corrThreshold" name="corrThreshold" onchange="resubmit()">
                            @{for (i <- 1 to 9) yield thresholdOption(i)}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default" style="margin-top: 20px">
                    <div class="panel-body">
                        <span style="padding-top: 5px"><a href="#" data-toggle="tooltip" data-placement="bottom" style="color: #000;" title="Recommended: Mean">Agg Out</a></span>
                        @selectEnum("aggOut", AggFunction, false, Some("pull-right"), Some(aggOut.toString))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default" style="margin-top: 20px">
                    <div class="panel-body">
                        <span style="padding-top: 5px"><a href="#" data-toggle="tooltip" data-placement="bottom" style="color: #000;" title="Recommended: Max">Agg In</a></span>
                        @selectEnum("aggIn", AggFunction, false, Some("pull-right"), Some(aggIn.toString))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default" style="margin-top: 20px">
                    <div class="panel-body">
                        <span style="padding-top: 5px">With Demographics</span>
                        <input type='checkbox' id="withDemographics" @if(withDemographics) {checked='checked'} onchange="resubmit()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}