@import views.html.chart.highcharts
@import util.chartElementName

@(chartSpec: ChartSpec)

@{chartSpec match {
    case x: CategoricalChartSpec => highcharts.categoricalChart(chartElementName(x), x)
    case x: NumericalChartSpec => highcharts.numericalChart(chartElementName(x), x)
    case x: ScatterChartSpec => highcharts.scatterChart(chartElementName(x), x)
    case x: BoxChartSpec[_] => highcharts.boxPlot(chartElementName(x), x)
    case x: HeatmapChartSpec => highcharts.heatmap(chartElementName(x), x)
    case _ => throw new IllegalArgumentException(s"Chart spec $chartSpec is unknown.")
}}