@(title : String, chartElementName : String, xAxisCaption : String, yAxisCaption : String, elements : Seq[(String, Any)])
    <div id="@chartElementName" class="chart-holder"></div>
    <script type="text/javascript">
        $(function () {
            $('#@{chartElementName}').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: "@title"
                },
                xAxis: {
                    type: '@xAxisCaption'
                },
                yAxis: {
                    title: {
                        text: '@yAxisCaption'
                    }
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b><br/>'
                },

                series: [{
                    name: "@title",
                    colorByPoint: true,
                    colorByPoint: true,
                    data: [
                        @elements.map { case (name, value) =>
                            {name : '@{if (name.length > 20) {name.substring(0, 18) + "../../../"} else name}', y : @value},
                        }
                    ]
                }]
            });
        });
    </script>