@import views.html.layout
@import views.html.table.paginatedTable
@import views.html.dataset.{datasetSubNav, datasetMenu}
@import views.html.category.treeChart
@import models.Category
@import controllers.dataset.CategoryRouter

@(
    domainName : String,
    page: Page[Category],
    router : CategoryRouter,
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader
)

@actions = {
    <div class="row">
        <div class="col-md-9">
            @filter(page.filter, router.plainList, Left(Seq("name")))
        </div>
        <div class="pull-right">
            <a class="btn btn-info btn-sm" id="expandAll" href="#" data-toggle="tooltip" title="Expand All" onclick="$('#treeDiv').tree('expandAll');return false;">
                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
            </a>
            <a class="btn btn-info btn-sm" id="collapseAll" href="#" data-toggle="tooltip" title="Collapse All" onclick="$('#treeDiv').tree('collapseAll');return false;">
                <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
            </a>
            <a class="btn btn-info btn-sm" id="add" href="@router.create" data-toggle="tooltip" title="Add New">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({
                placement : 'bottom'
            });
        });
    </script>
}

@table = @{
    paginatedTable(
        page,
        router.list(_, _, page.filter),
        Seq(
            ("name", "Name", {item : Any => Html(item.asInstanceOf[Category].name)})
        ),
        Some({ item : Any => router.get(item.asInstanceOf[Category]._id.get)})
    )
}

@layout.list(
    domainName,
    page.total,
    actions,
    table,
    Some(treeChart(router)),
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNav())
)