@import controllers.dataset.CategoryRouter

@(router : CategoryRouter)

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/tree.css")">
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("d3.min.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/tree.js")"></script>
<script type="text/javascript" src="@router.jsRoutes"></script>
<div id="treeDiv" name="treeDiv"></div>
<script>
    $.ajax({
        url: '@router.getCategoryD3Root',
            success: function (data) {
                $("#treeDiv").tree({
                    jsonData: data,
                    duration: 700,
                    width: 1100,
                    height: 500,
                    showNodeFun: function(data) {
                        if (data._id) {
                            var id = data._id.$oid
                            var r = jsRoutes.controllers.dataset.CategoryDispatcher.get(id);
                            submit('get', r.url, getQueryParams(r.url))
                        }
                    }
                });
            },
        });
</script>