@import reactivemongo.bson.BSONObjectID
@import util.FilterSpec
@import views.html.table.paginatedTable

@(
    domainName : String,
    page: Page[MetaTypeStats],
    findCall : (Int, String, FilterSpec) => Call,
    plainFindCall : Call,
    getCall : BSONObjectID => Call
)(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@actions = {
    <div class="row">
        <div class="col-md-8">
            @filter(page.filter, plainFindCall)
        </div>
    </div>
}

@formatDouble(d : Double) = @{
    if (d == 0d)
        "0"
    else
        "%,.3f".format(d)
}

@tableElement = @{
    paginatedTable(
        page,
        findCall(_, _, page.filter),
        Seq(
            ("attributeName", "Name", {item : Any => Html(item.asInstanceOf[MetaTypeStats].attributeName)}),
            ("intRatio", "Int Ratio", {item : Any => Html(formatDouble(item.asInstanceOf[MetaTypeStats].intRatio))}),
            ("longRatio", "Long Ratio", {item : Any => Html(formatDouble(item.asInstanceOf[MetaTypeStats].longRatio))}),
            ("floatRatio", "Float Ratio", {item : Any => Html(formatDouble(item.asInstanceOf[MetaTypeStats].floatRatio))}),
            ("doubleRatio", "Double Ratio", {item : Any => Html(formatDouble(item.asInstanceOf[MetaTypeStats].doubleRatio))}),
            ("nullRatio", "Null Ratio", {item : Any => Html(formatDouble(item.asInstanceOf[MetaTypeStats].nullRatio))})
        ),
        Some({ item : Any => getCall(item.asInstanceOf[MetaTypeStats]._id.get)})
    )
}

@views.html.list(
    domainName,
    page.total,
    actions,
    tableElement
)