@(currentPage: Page[MetaTypeStats], currentOrderBy: String, currentFilter: String, currentSearchField : String)(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@import helper.{select}

@**********************************
* Helper generating table headers *
***********************************@
@header(fieldName: String, title: String) = {
    <th class="col header @if(currentOrderBy == fieldName){'glyphicon glyphicon-chevron-down'}">
        <a href="@displayCall(0, Some(fieldName))">@title</a>
    </th>
}

@option(key : String, value : String) = {
    <option value="@key" @if(currentSearchField == key){selected="selected"}>@value</option>
}

@actions = {
    @helper.form(action=routes.DeNoPaMetaTypeController.find(), 'class -> "navbar-form navbar-left", 'role -> "search") {
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by...">
        <select name="searchField" id="searchField" value="@currentSearchField">
            @option("attributeName", "Name")
            @option("intRatio", "Int")
            @option("longRatio", "Long")
            @option("floatRatio", "Float")
            @option("doubleRatio", "Double")
            @option("nullRatio", "Null")
        </select>
        <input type="submit" id="searchsubmit" value="Filter" class="btn btn-primary btn-sm">
    }
}

@formatDouble(d : Double) = @{
    if (d == 0d)
        "0"
    else
        "%,.3f".format(d)
}

@table = {
    <table class="table table-striped">
        <thead>
            <tr>
                @header("attributeName", "Name")
                @header("intRatio", "Int Ratio")
                @header("longRatio", "Long Ratio")
                @header("floatRatio", "Float Ratio")
                @header("doubleRatio", "Double Ratio")
                @header("nullRatio", "Null")
            </tr>
        </thead>
        <tbody>

        @currentPage.items.map { item =>
            <tr class='clickable-row' data-href='@routes.DeNoPaMetaTypeController.get(item._id.get)'>
                <td>@item.attributeName</td>
                <td>@formatDouble(item.intRatio)</td>
                <td>@formatDouble(item.longRatio)</td>
                <td>@formatDouble(item.floatRatio)</td>
                <td>@formatDouble(item.doubleRatio)</td>
                <td>@formatDouble(item.nullRatio)</td>
            </tr>
        }

        </tbody>
    </table>
}

@displayCall(newPage : Int, newOrderBy : Option[String]) = @{
    routes.DeNoPaMetaTypeController.find(newPage, newOrderBy.map { orderBy =>
        if(orderBy == currentOrderBy) "-" + currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter, currentSearchField)
}

@views.html.list(
    "meta type stat",
    actions,
    table,
    displayCall,
    currentPage,
    currentOrderBy,
    currentFilter
)