@(currentPage: Page[MetaTypeStats], currentOrderBy: String, currentFilter: String, currentSearchField : String)(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@views.html.denopametatype.list(
    "baseline field",
    currentPage,
    currentOrderBy,
    currentFilter,
    currentSearchField,
    routes.DeNoPaBaselineMetaTypeStatsController.find,
    routes.DeNoPaBaselineMetaTypeStatsController.find(),
    routes.DeNoPaBaselineMetaTypeStatsController.get
)