@import play.api.libs.json.{JsObject, JsNull}
@import util.decodeMongoKey
@(domainName : String, item: MetaTypeStats, listCall : Call)(implicit msg: play.api.i18n.Messages, request: RequestHeader)

	@main(Messages("show.title", domainName)) {
    
        <!-- Begin page content -->
	    <div class="container" style="padding-bottom: 190px;">
		    <div class="page-header">
    			<h1>@Messages("show.title", domainName)</h1>
	    	</div>

		    <div class="row">
			    <div class="col-md-9">
					<fieldset>
						@views.html.twitterBootstrapJsValue("attributeName", attributeLabel("metaTypeStat", "attributeName"), decodeMongoKey(item.attributeName), false)
						@views.html.twitterBootstrapJsValue("intRatio", attributeLabel("metaTypeStat", "intRatio"), item.intRatio.toString, false)
						@views.html.twitterBootstrapJsValue("longRatio", attributeLabel("metaTypeStat", "longRatio"), item.longRatio.toString, false)
						@views.html.twitterBootstrapJsValue("floatRatio", attributeLabel("metaTypeStat", "floatRatio"), item.floatRatio.toString, false)
						@views.html.twitterBootstrapJsValue("doubleRatio", attributeLabel("metaTypeStat", "doubleRatio"), item.doubleRatio.toString, false)
						@views.html.twitterBootstrapJsValue("booleanRatio", attributeLabel("metaTypeStat", "booleanRatio"), item.booleanRatio.toString, false)
						@views.html.twitterBootstrapJsValue("nullRatio", attributeLabel("metaTypeStat", "nullRatio"), item.nullRatio.toString, false)
                        @views.html.twitterBootstrapLabelValue("valueOccurrenceChart", attributeLabel("metaTypeStat", "valueOccurrenceChart"), false) {
                            @views.html.pieChart("Value Occurrences - " + decodeMongoKey(item.attributeName), item.valueRatioMap.toSeq.sortBy(_._2).reverse)
                            <div align="right">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#more-info">Show as Table</button>
                            </div>
                        }
                        <div id="more-info" class="collapse">
                            @views.html.twitterBootstrapLabelValue("valueRatioMap", attributeLabel("metaTypeStat", "valueRatioMap"), false) {
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>Value</td>
                                            <td>Occurrence</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @item.valueRatioMap.toSeq.sortBy(_._2).reverse.map { case (value, freq) =>
                                    <tr>
                                        <td>@value</td>
                                        <td>@freq</td>
                                    </tr>
                                    }
                                    </tbody>
                                </table>
                            }
                        </div>
					</fieldset>

					<div class="actions" align="center" style="padding-top: 50px;">
					   <a href="@listCall" class="btn btn-default">Go Back</a>
					</div>
			    </div>
			    <div class="col-md-3">
				    @info()
			    </div>
		    </div>
	    </div>
    }