@import reactivemongo.play.json.BSONFormats._
@import views.html.layout.main
@import views.html.elements._
@import views.html.dataset.{datasetMenu, mlElements, inputFieldAndFilterResources, datasetSubNavWithJs, trainingSettingFields}
@import views.html.classificationrun.samplingTable
@import play.api.i18n.Messages
@import models.{DataSpaceMetaInfo, FieldTypeId, FilterShowFieldStyle}
@import controllers.DataSetWebContext
@import controllers.DataSetWebContext._

@(
    dataSetName: String,
    filterShowFieldStyle: Option[FilterShowFieldStyle.Value],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@bottomResources = {
    @inputFieldAndFilterResources(
        Seq("filter", "replicationFilter"),
        filterShowFieldStyle
    )

    @helper.javascriptRouter("classificationRunJsRoutes")(
        classificationRunJsRouter.classify,
        classificationRunJsRouter.selectFeaturesAsChiSquare
    )

    <script type="text/javascript">
        $(function () {
            populateFieldTypeahedFromUrl(
                $('#outputFieldTypeahead'),
                $('#outputFieldName'),
                '@Html(dataSetRouter.fields(Seq(FieldTypeId.Enum, FieldTypeId.String, FieldTypeId.Boolean)).url)',
                @filterShowFieldStyle.getOrElse(FilterShowFieldStyle.NamesAndLabels).id
            )

            $.ajax({
                url: '@Html(controllers.ml.routes.ClassificationController.idAndNames.url)',
                success: function (data) {
                    var typeaheadData = data.map(function (classification, index) {
                        return {name: classification._id.$oid, label: classification.name};
                    });
                    populateFieldTypeahed(
                        $('#mlModelTypeahead'),
                        $('#mlModelId'),
                        typeaheadData,
                        @FilterShowFieldStyle.LabelsOnly.id
                    );
                }
            });

            $('#outputFieldTypeahead, #mlModelTypeahead, #filterNameTypeahead').keypress(function (e) {
                if (e.which == 13) {
                    classify();
                }
            });

            $('#launchButton').on('click', function() {
                classify();
            })
        });

        function classify() {
            var outputFieldName = $("#outputFieldName").val();
            var outputFieldLabel = $("#outputFieldTypeahead").val();

            var mlModelId = $("#mlModelId").val();
            var mlModelIdJson = (mlModelId) ? {'$oid': mlModelId} : null

            var mlModelName = $("#mlModelTypeahead").val();

            $('#inputFieldNameDiv').dynamicTable('updateModelFromTable');
            var inputFieldNames = $("#inputFieldNameDiv").dynamicTable('getModel')

            var filterId = ($('#filterNameTypeahead').val()) ? $("#filterId").val() : null
            var filterIdJson = (filterId) ? {'$oid': filterId} : null

            var pcaDims = $("#pcaDims").val()
            var repetitions = $("#repetitions").val()
            var crossValidationFolds = $("#crossValidationFolds").val()
            var featuresNormalizationType = $("#featuresNormalizationType").val()
            if (!featuresNormalizationType)
                featuresNormalizationType = null

            var trainingTestingSplit = $("#trainingTestingSplit").val()
            var replicationFilterId = ($('#replicationFilterNameTypeahead').val()) ? $("#replicationFilterId").val() : null
            var replicationFilterIdJson = (replicationFilterId) ? {'$oid': replicationFilterId} : null

            $('#samplingRatioDiv').dynamicTable('updateModelFromTable');
            var samplingJsons = $("#samplingRatioDiv").dynamicTable('getModel')
            var samplingTuples = samplingJsons.map(function(item) {
                var json = JSON.parse(item)
                return [json.outputValue, parseFloat(json.samplingRatio)]
            })

            var saveResults = $("#saveResults").is(":checked")

            var setting = {
                "mlModelId": mlModelIdJson,
                "outputFieldName": outputFieldName,
                "inputFieldNames": inputFieldNames,
                "filterId": filterIdJson,
                "featuresNormalizationType": featuresNormalizationType,
                "pcaDims": intValue(pcaDims),
                "trainingTestingSplit": floatValue(trainingTestingSplit),
                "replicationFilterId": replicationFilterIdJson,
                "samplingRatios": samplingTuples,
                "repetitions": intValue(repetitions),
                "crossValidationFolds": intValue(crossValidationFolds)
            };

            var settingJSON = JSON.stringify(setting)

            $('#outputDiv').hide();

            classificationRunJsRoutes.controllers.dataset.ClassificationRunDispatcher.classify(settingJSON, saveResults).ajax( {
                success: function(evalRates) {
                    showMessage("'" + mlModelName + "' classification finished.")
                    showMLOutput(evalRates)
                },
                error: function(data){
                    showError( data.responseText );
                }
            });

            showMessage("Classification for the field '" + outputFieldLabel + "' using the ML model '" + mlModelName + "' launched.")
        }

        function intValue(value) {
            var intValue = null;
            if (value && value.length > 0) {
                intValue = parseInt(value)
                if (isNaN(intValue)) {
                    intValue = null
                }
            }
            return intValue;
        }

        function floatValue(value) {
            var floatValue = null;
            if (value && value.length > 0) {
                floatValue = parseFloat(value)
                if (isNaN(floatValue)) {
                    floatValue = null
                }
            }
            return floatValue;
        }

        function selectFeaturesAsChiSquare() {
            var outputFieldName = $("#outputFieldName").val();
            var outputFieldLabel = $("#outputFieldTypeahead").val();

            $('#inputFieldNameDiv').dynamicTable('updateModelFromTable');
            var inputFieldNames = $("#inputFieldNameDiv").dynamicTable('getModel')

            var filterId = ($('#filterNameTypeahead').val()) ? $("#filterId").val() : null
//            var filterIdJson = (filterId) ? JSON.stringify({'$oid': filterId}) : []

            var featuresToSelectNum = $("#featuresToSelectNum").val();
            var discretizerBucketsNum = $("#discretizerBucketsNum").val();

            if (!outputFieldName) {
                showError("Output field name must be defined");
                return
            }

            classificationRunJsRoutes.controllers.dataset.ClassificationRunDispatcher.selectFeaturesAsChiSquare(inputFieldNames, outputFieldName, filterId, featuresToSelectNum, discretizerBucketsNum).ajax( {
                success: function(selectedFieldNames) {
                    showMessage("Chi-Square feature selection finished.")
                    var tableBody = $("#inputFieldNameDiv").find("table tbody")
                    tableBody.find('tr').each(function() {
                        var fieldName = $(this).find("#fieldName").val();
                        if (selectedFieldNames.indexOf(fieldName) == -1) {
                            $(this).remove()
                        }
                     });
                },
                error: function(data){
                    showError( data.responseText );
                }
            });

            showMessage("Chi-Square feature selection for the field '" + outputFieldLabel + "' launched.")
        }
    </script>
}

@labelValueAux(key: String, label: Any)(valueElement : Any) = @{
    labelValue(key, label, false, None, 4)(valueElement)
}

@extraFields = {
    @trainingSettingFields()
    @labelValueAux("replicationFilterId", "Replication Data") {
        <input id="replicationFilterNameTypeahead" class="typeahead typeahead-large" type="text" placeholder="filter" value="">
        <input id="replicationFilterId" name="replicationFilterId" type="hidden" value="">
    }
    @labelValueAux("samplings", "Samplings"){
        @samplingTable(Nil)
    }
    @labelValueAux("saveResults", "Save Results?") {
        <input id="saveResults" type="checkbox"/>
    }
}

@main(Messages("classification.title", dataSetName), Some(datasetMenu(dataSpaceMetaInfos)), Some(datasetSubNavWithJs()), None, Some(bottomResources)) {

    <div class="page-header">
        <h3>
            @Messages("classification.title", dataSetName)
        </h3>
    </div>

    @mlElements(
        includeChiSquareSelector = true,
        includeOutputField = true,
        extraFields = Some(extraFields)
    )
}