@import reactivemongo.play.json.BSONFormats._
@import views.html.layout.main
@import views.html.chart.highcharts.highchartsJsImport
@import views.html.elements._
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs, inputFieldAndFilterResources, mlElements, trainingSettingFields}
@import views.html.classificationrun.samplingTable
@import play.api.i18n.Messages
@import models.{DataSpaceMetaInfo, FieldTypeId, FilterShowFieldStyle}
@import controllers.dataset.DataSetWebContext._
@import controllers.dataset.DataSetWebContext
@import models.ml.ClassificationEvalMetric

@(
    dataSetName: String,
    filterShowFieldStyle: Option[FilterShowFieldStyle.Value],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@bottomResources = {
    @inputFieldAndFilterResources(
        Seq("filter", "replicationFilter"),
        filterShowFieldStyle
    )
    @highchartsJsImport(true)

    @helper.javascriptRouter("classificationRunJsRoutes")(
        classificationRunJsRouter.classify,
        classificationRunJsRouter.selectFeaturesAsAnovaChiSquare
    )

    <script type="text/javascript">
        $(function () {
            populateFieldTypeahedFromUrl(
                $('#outputFieldTypeahead'),
                $('#outputFieldName'),
                '@Html(dataSetRouter.fieldNamesAndLabels(Seq(FieldTypeId.Enum, FieldTypeId.String, FieldTypeId.Boolean)).url)',
                @filterShowFieldStyle.getOrElse(FilterShowFieldStyle.NamesAndLabels).id
            )

            $.ajax({
                url: '@Html(controllers.ml.routes.ClassificationController.idAndNames.url)',
                success: function (data) {
                    var typeaheadData = data.map(function (classification, index) {
                        return {name: classification._id.$oid, label: classification.name};
                    });
                    populateFieldTypeahed(
                        $('#mlModelTypeahead'),
                        $('#mlModelId'),
                        typeaheadData,
                        @FilterShowFieldStyle.LabelsOnly.id
                    );
                }
            });

            $('#outputFieldTypeahead, #mlModelTypeahead, #filterNameTypeahead').keypress(function (e) {
                if (e.which == 13) {
                    classify();
                }
            });

            $('#launchButton').on('click', function() {
                classify();
            })
        });

        function classify() {
            var outputFieldName = $("#outputFieldName").val();
            var outputFieldLabel = $("#outputFieldTypeahead").val();

            var mlModelId = $("#mlModelId").val();
            var mlModelIdJson = (mlModelId) ? {'$oid': mlModelId} : null

            var mlModelName = $("#mlModelTypeahead").val();

            $('#inputFieldNameDiv').dynamicTable('updateModelFromTable');
            var inputFieldNames = $("#inputFieldNameDiv").dynamicTable('getModel')

            var filterId = ($('#filterNameTypeahead').val()) ? $("#filterId").val() : null
            var filterIdJson = (filterId) ? {'$oid': filterId} : null

            var pcaDims = $("#pcaDims").val()
            var featuresSelectionNum = $("#featuresSelectionNum").val()
            var repetitions = $("#repetitions").val()
            var crossValidationFolds = $("#crossValidationFolds").val()
            var crossValidationEvalMetric = $("#crossValidationEvalMetric").val()
            if (!crossValidationEvalMetric)
                crossValidationEvalMetric = null
            var featuresNormalizationType = $("#featuresNormalizationType").val()
            if (!featuresNormalizationType)
                featuresNormalizationType = null

            var trainingTestingSplit = $("#trainingTestingSplit").val()
            var replicationFilterId = ($('#replicationFilterNameTypeahead').val()) ? $("#replicationFilterId").val() : null
            var replicationFilterIdJson = (replicationFilterId) ? {'$oid': replicationFilterId} : null

            var binCurvesNumBins = $("#binCurvesNumBins").val()

            $('#samplingRatioDiv').dynamicTable('updateModelFromTable');
            var samplingJsons = $("#samplingRatioDiv").dynamicTable('getModel')
            var samplingTuples = samplingJsons.map(function (item) {
                var json = JSON.parse(item)
                return [json.outputValue, parseFloat(json.samplingRatio)]
            })

            var saveResults = $("#saveResults").is(":checked")

            var saveBinCurves = $("#saveBinCurves").is(":checked")

            var setting = {
                "mlModelId": mlModelIdJson,
                "outputFieldName": outputFieldName,
                "inputFieldNames": inputFieldNames,
                "filterId": filterIdJson,
                "featuresNormalizationType": featuresNormalizationType,
                "featuresSelectionNum": intValue(featuresSelectionNum),
                "pcaDims": intValue(pcaDims),
                "trainingTestingSplit": floatValue(trainingTestingSplit),
                "replicationFilterId": replicationFilterIdJson,
                "samplingRatios": samplingTuples,
                "repetitions": intValue(repetitions),
                "crossValidationFolds": intValue(crossValidationFolds),
                "crossValidationEvalMetric": crossValidationEvalMetric,
                "binCurvesNumBins": intValue(binCurvesNumBins)
            };

            var settingJSON = JSON.stringify(setting);

            $('#outputDiv').html("");
            $("#binCurvesPanelDiv").html("");

            if (!mlModelId) {
                showError("ML classification cannot be launched. No model selected.");
                return
            }

            if (!outputFieldName) {
                showError("ML classification cannot be launched. No output field selected.");
                return
            }

            if (inputFieldNames.length == 0) {
                showError("ML classification cannot be launched. No input fields selected.");
                return
            }

            classificationRunJsRoutes.controllers.dataset.ClassificationRunDispatcher.classify(settingJSON, saveResults, saveBinCurves).ajax({
                success: function (data) {
                    showMessage("'" + mlModelName + "' classification finished.")
                    showMLOutput(data.results)

                    if (data.trainingCurves.length > 0) {
                        var columnWidth = (data.replicationCurves.length > 0) ? 4 : 6

                        addBinCurves("Training", data.trainingCurves, columnWidth)
                        addBinCurves("Test", data.testCurves, columnWidth)

                        if (data.replicationCurves.length > 0)
                            addBinCurves("Replication", data.replicationCurves, columnWidth)
                    }
                },
                error: function (data) {
                    showError(data.responseText);
                }
            });

            showMessage("Classification for the field '" + outputFieldLabel + "' using the ML model '" + mlModelName + "' launched.")
            addSpinner($("#outputDiv"))

        }

        function addBinCurves(name, binCurves, columnWidth) {
            var header ="<h4 align='center'><b>" + name + "</b></h4><hr/>"

            var div = $("<div class='col-md-" + columnWidth + "'>")
            var row = $("<div class='row'>")
            $.each(binCurves, function (i, widget) {
                row.append(widgetDiv(widget))
            })
            div.append(header)
            div.append(row)
            $("#binCurvesPanelDiv").append(div)

            $.each(binCurves, function (i, widget) {
                genericWidget(widget)
            })
        }

        function intValue(value) {
            var intValue = null;
            if (value && value.length > 0) {
                intValue = parseInt(value)
                if (isNaN(intValue)) {
                    intValue = null
                }
            }
            return intValue;
        }

        function floatValue(value) {
            var floatValue = null;
            if (value && value.length > 0) {
                floatValue = parseFloat(value)
                if (isNaN(floatValue)) {
                    floatValue = null
                }
            }
            return floatValue;
        }

        function selectFeaturesAsAnovaChiSquare() {
            var outputFieldName = $("#outputFieldName").val();
            var outputFieldLabel = $("#outputFieldTypeahead").val();

            $('#inputFieldNameDiv').dynamicTable('updateModelFromTable');
            var inputFieldNames = $("#inputFieldNameDiv").dynamicTable('getModel')

            var filterId = ($('#filterNameTypeahead').val()) ? $("#filterId").val() : null

            var featuresToSelectNum = $("#featuresToSelectNum").val();

            if (!outputFieldName) {
                showError("Feature selection cannot be performed. No output field selected.");
                return
            }

            if (inputFieldNames.length == 0) {
                showError("Feature selection cannot be performed. No input fields selected.");
                return
            }

            classificationRunJsRoutes.controllers.dataset.ClassificationRunDispatcher.selectFeaturesAsAnovaChiSquare(inputFieldNames, outputFieldName, filterId, featuresToSelectNum).ajax( {
                success: function(selectedFieldNames) {
                    showMessage("ANOVA/Chi-Square feature selection finished.")
                    var tableBody = $("#inputFieldNameDiv").find("table tbody")
                    tableBody.find('tr').each(function() {
                        var fieldName = $(this).find("#fieldName").val();
                        if (selectedFieldNames.indexOf(fieldName) == -1) {
                            $(this).remove()
                        }
                    });
                },
                error: function(data){
                    showError( data.responseText );
                }
            });

            showMessage("ANOVA/Chi-Square feature selection for the field '" + outputFieldLabel + "' launched.")
        }
    </script>
}

@labelValueAux(key: String, label: Any)(valueElement : Any) = @{
    labelValue(key, label, false, None, 4)(valueElement)
}

@extraFields = {
    @trainingSettingFields()
    @labelValueAux("crossValidationEvalMetric", "Cross Validation Eval Metric") {
        @selectEnum("crossValidationEvalMetric", ClassificationEvalMetric, true, Some("input-lg"))
    }
    @labelValueAux("replicationFilterId", "Replication Data") {
        <input id="replicationFilterNameTypeahead" class="typeahead typeahead-large" type="text" placeholder="filter" value="">
        <input id="replicationFilterId" name="replicationFilterId" type="hidden" value="">
    }
    @labelValueAux("samplings", "Samplings"){
        @samplingTable(Nil)
    }
    @labelValueAux("binCurvesNumBins", "Bins for Binary Classification Curves") {
        <input id="binCurvesNumBins" type="text" class="input-lg" placeholder="" value="">
    }
    @labelValueAux("saveResults", "Save Results?") {
        <input id="saveResults" type="checkbox"/>
    }
    @labelValueAux("saveBinCurves", "Save (Bin) Curves?") {
        <input id="saveBinCurves" type="checkbox"/>
    }
}

@anovaChiSquareModalBody(defaultFeaturesToSelectNum: Int) = {
    <fieldset>
        @labelValue("featuresToSelectNum", "Features Num", false, None, 4) {
            <input id="featuresToSelectNum" name="featuresToSelectNum" value="@defaultFeaturesToSelectNum">
        }
    </fieldset>
}

@anovaChiSquareButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" id="submitButton" class="btn btn-primary" data-dismiss="modal" onclick="selectFeaturesAsAnovaChiSquare(); return false;">OK</button>
}

@extraFieldButtons =  {
    <a id="anovaChiSquareFieldSelectionButton" class="btn btn-info btn-sm" data-toggle="modal" data-target="#anovaChiSquareFeatureSelectionModal" title="ANOVA/Chi-Square Feature Selection">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>ANOVA/Chi-&#9724;
    </a>
    @modal("anovaChiSquareFeatureSelectionModal", "ANOVA/Chi-Square Feature Selection", anovaChiSquareModalBody(4), None, Some(anovaChiSquareButtons))
}

@main(Messages("classification.title", dataSetName), Some(datasetMenu(dataSpaceMetaInfos)), Some(datasetSubNavWithJs()), None, Some(bottomResources)) {

    <div class="page-header">
        <h3>
            @Messages("classification.title", dataSetName)
        </h3>
    </div>

    @mlElements(
        includeOutputField = true,
        includeFeatureSelectionNum = true,
        extraFieldButtons = Some(extraFieldButtons),
        extraFields = Some(extraFields)
    )

    <div id="binCurvesPanelDiv" class="row vertical-divider">
    </div>
}