@import views.html.layout
@import views.html.dataset.{filterWidgetPanel, datasetSubNavWithJs, datasetMenu}
@import views.html.chart.highcharts.highchartsJsImport
@import views.html.table.paginatedTable
@import views.html.filter.{filter, filterWithJs}
@import views.html.widget.widgetPanelJs
@import views.html.elements.labelValue
@import util.typeColumns
@import models.DataSpaceMetaInfo
@import models.Field
@import controllers.DataSetWebContext
@import controllers.DataSetWebContext._
@import models.ml.ClassificationResult
@import reactivemongo.bson.BSONObjectID

@(
    domainName : String,
    dataSetName: String,
    page: Page[ClassificationResult],
    widgets: Traversable[Widget],
    fieldNameLabelMap: Map[String, String],
    allClassificationRunFields: Traversable[Field],
    mlModelIdNameMap: Map[BSONObjectID, String],
    filterIdNameMap: Map[BSONObjectID, String],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@modalBody = {
    <fieldset>
        @labelValue("targetDataSetId", "Target Data Set Id", false, None, 4) {
            <input id="targetDataSetId" name="targetDataSetId" type="text" value="@{context.dataSetId}_classification">
        }
        @labelValue("targetDataSetName", "Target Data Set Name", false, None, 4) {
            <input id="targetDataSetName" name="targetDataSetName" type="text" value="@dataSetName Classification">
        }
    </fieldset>
}

@nodalButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" id="submitButton" data-dismiss="modal" class="btn btn-primary">OK</button>
}

@actions = {
    <div class="row">
        <div class="col-md-10">
            @filterWithJs(
                page.filter,
                classificationRunRouter.plainList,
                Left(allClassificationRunFields),
                None,
                Some(FilterShowFieldStyle.LabelsOnly)
            )
        </div>
        <div class="pull-right">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-success btn-sm" href="@classificationRunRouter.create" data-toggle="tooltip" title="Launch New Classification">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#exportToDataSetModal" title="Export to Data Set">
                        <span class="glyphicon glyphicon glyphicon-export"></span>
                    </a>
                </li>
                <li>
                    @exportDropdown(
                        page.filterConditions,
                        classificationRunRouter.exportCsv(_, true, None, _, _),
                        classificationRunRouter.exportJson
                    )()()
                </li>
            </ul>
        </div>
        @modal("exportToDataSetModal", "Export to Data Set", modalBody, Some(classificationRunRouter.exportToDataSet(None, None)), Some(nodalButtons))
    </div>
}

@table = {
    @paginatedTable(
        page,
        classificationRunRouter.list(_, _, page.filterConditions),
        typeColumns[ClassificationResult](
            (Some("setting-mlModelId"), "ML Model", result => mlModelIdNameMap.get(result.setting.mlModelId).get),
            (Some("setting-filterId"), "Filter", _.setting.filterId.map(filterId => filterIdNameMap.get(filterId).get).getOrElse("")),
            (Some("setting-outputFieldName"), "Output Field", result => fieldNameLabelMap.get(result.setting.outputFieldName).get),
            (Some("testStats-accuracy-mean"), "Test Accuracy Mean", result => "%.3f".format(result.testStats.accuracy.mean)),
            (Some("testStats-weightedPrecision-mean"), "Test Weighted Precision Mean", result => "%.3f".format(result.testStats.weightedPrecision.mean)),
            (Some("testStats-weightedRecall-mean"), "Test Weighted Recall Mean", result => "%.3f".format(result.testStats.weightedRecall.mean)),
            (Some("testStats-f1-mean"), "Test F1 Mean", result => "%.3f".format(result.testStats.f1.mean)),
            (Some("testStats-areaUnderROC-mean"), "Test Area Under ROC Mean", _.testStats.areaUnderROC.map(x => "%.3f".format(x.mean)).getOrElse("")),
            (Some("testStats-areaUnderPR-mean"), "Test Area Under PR Mean", _.testStats.areaUnderPR.map(x => "%.3f".format(x.mean)).getOrElse("")),
            (Some("timeCreated"), "Time Created", _.timeCreated.toString)
        ),
        Some({ item : Any => classificationRunRouter.get(item.asInstanceOf[ClassificationResult]._id.get)})
    )
}

@bottomResources = {
    @highchartsJsImport()
    @widgetPanelJs(widgets)
}

@layout.list(
    domainName,
    None,
    page.total,
    Some(actions),
    Some(table),
    Some(filterWidgetPanel("filterDiv", widgets, 6)),
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNavWithJs()),
    None,
    Some(bottomResources)
)