@import views.html.layout.jsonShow
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs}
@import controllers.dataset.DataSetWebContext._
@import controllers.dataset.DataSetWebContext
@import models.ml.classification.ClassificationResult.classificationResultFormat
@import play.api.libs.json.Json
@import play.api.libs.json.JsObject
@import org.incal.spark_ml.models.result.ClassificationResult
@import org.incal.spark_ml.models.result.ClassificationResult

@(
    title: String,
    item: ClassificationResult,
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@jsonShow(
    title,
    Json.toJson(item).as[JsObject],
    classificationRunRouter.plainList,
    Some(classificationRunRouter.delete(item._id.get)),
    false,
    Map(),
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNavWithJs())
)