@import views.html.elements.{inputText, select}
@import play.api.i18n.Messages
@import models.ml.classification.RandomForest
@import models.ml.classification.DecisionTreeImpurity
@import models.ml.classification.RandomForestFeatureSubsetStrategy

@(form: Form[RandomForest])(implicit msg: Messages)

<input type="hidden" id="concreteClass" name="concreteClass" value="@{classOf[RandomForest].getName}">

@inputText("randomForest", "name", form)

<hr/>

@inputText("randomForest", "core.maxDepth", form)
@inputText("randomForest", "core.maxBins", form)
@inputText("randomForest", "core.minInstancesPerNode", form)
@inputText("randomForest", "core.minInfoGain", form)
@inputText("randomForest", "core.seed", form)
@inputText("randomForest", "numTrees", form)
@inputText("randomForest", "subsamplingRate", form)
@select("randomForest", "impurity", form, util.enumToValueString(DecisionTreeImpurity), true)
@select("randomForest", "featureSubsetStrategy", form, util.enumToValueString(RandomForestFeatureSubsetStrategy), true)
