@(key: String, label: Any, hasError: Boolean = false, helpText: Option[String] = None)(valueElement : Any)

@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@
<div class="form-group @if(hasError) {has-error}">
  <label for="@key" class="col-sm-2 control-label">@label</label>
  <div class="col-sm-10">
    @valueElement
    <span class="help-block">@helpText.getOrElse("")</span>
  </div>
</div>
