@(key: String, label: Any, value: String, hasError: Boolean = false, helpText: Option[String] = None)

@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@
<div class="form-group @if(hasError) {has-error}">
  <label for="@key" class="col-sm-2 control-label">@label</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" value="@value" readonly="true"/>
    <span class="help-block">@helpText.getOrElse("")</span>
  </div>
</div>
