@import views.html.table.{displayTable, dynamicTable}
@import util.typeColumns

@(
    domainName: String,
    items: Traversable[String],
    sortable: Boolean = false,
    addModalInner: Option[Html] = None,
    extraActions: Option[Html] = None
)

@defaultModalInner = {
    <input text="text" id="newItem" value="">
}

@table = {
    @displayTable(
        items,
        typeColumns[String](
            (None, "", _ => {<input type="checkbox" class="table-selection"/>}),
            (Some("name"), "Name", identity)
        )
    )
}

@rowToModelJsFun = {
    function(row) {
        return row.find('#name').text().trim();
    }
}

@itemToRowJsFun = {
    function(values) {
        var name = values["newItem"];
        return "<tr><td><input type='checkbox' class='table-selection'></input></td><td id='name'>" + name + "</td></tr>";
    }
}

@dynamicTable(domainName, table, sortable, rowToModelJsFun, itemToRowJsFun, addModalInner.getOrElse(defaultModalInner), extraActions)