@import util.toHumanReadableCamel

@(domainName: String, table: Html, sortable: Boolean = false, rowToModelJsFun: Html, itemToRowJsFun: Html, extraActions: Option[Html] = None)

@modalInner = {
    <input text="text" id="newItems" value="">
}

@modalButtons(domainName: String) = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="@{domainName}SubmitButton" data-dismiss="modal">OK</button>
}

<div id="@{domainName}Div" class="row col-sm-4">
    <a class="btn btn-info btn-sm" href="#" onclick="$('#@{domainName}Div').dynamicTable('openAddModal');return false;" data-toggle="tooltip" title="Add New @{toHumanReadableCamel(domainName)}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <a class="btn btn-info btn-sm" href="#" onclick="$('#@{domainName}Div').dynamicTable('removeItems');return false;" data-toggle="tooltip" title="Delete @{toHumanReadableCamel(domainName)}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </a>
    @if(extraActions.isDefined) {
        @extraActions.get
    }
    <div>
        @table
    </div>
    @modal("add_" + domainName + "Modal", "Add " + toHumanReadableCamel(domainName) + "(s)", modalInner, None, Some(modalButtons(domainName)))
</div>

<script>
    $("#@{domainName}Div").dynamicTable({
        domainName: '@{domainName}',
        sortable: @sortable,
        rowToModel: @rowToModelJsFun,
        itemToRow: @itemToRowJsFun
    });
</script>
