@import views.html.table.{header, displayTable, pagination}

@(
    page: Page[_],
    listCall : (Int, String) => Call,
    columns : Traversable[(Option[String], String, (Any => Html))],
    rowClickCall : Option[Any => Call] = None,
    hiddenRowId: Option[(String, Any => String)] = None,
    tableId: Option[String] = None
)

@listCallAux(newPage : Int, newOrderBy : Option[String]) = @{
    listCall(newPage, newOrderBy.map { nOrderBy =>
        if (nOrderBy == page.orderBy) {
            "-" + page.orderBy
        } else if (("-" + nOrderBy) == page.orderBy) {
            nOrderBy
        } else nOrderBy
    }.getOrElse(page.orderBy))
}

@if(page.items.nonEmpty) {
    @displayTable(page.items, columns, Some(header(page.orderBy, listCallAux)), rowClickCall, hiddenRowId, tableId)
    <hr/>
    @pagination(page, listCallAux)
}
