@import views.html.layout
@import views.html.table.{paginatedTable, displayTable}
@import util.typeColumns

@import models.security.LdapUser

@(items: Traversable[LdapUser])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_])

@table = @{
    displayTable(
        items,
        typeColumns[LdapUser](
            (None, "LDAP DN", _.uid),
            (None, "Name", _.name),
            (None, "Email", _.email),
            (None, "OU", _.ou)
        ),
        None,
        Some({ item : Any => routes.LdapUserController.get(item.asInstanceOf[LdapUser].uid)})
    )
}

@layout.list(
    "LDAP user",
    None,
    items.size,
    None,
    table,
    None
)