@import models.security.LdapUser
@import views.html.elements.value
@import controllers.WebContext
@import controllers.WebContext._

@(item: LdapUser)(implicit context: WebContext)

@elements = {
    @value("ldapUser", "LDAP DN", item.uid)
    @value("ldapUser", "Name", item.name)
    @value("ldapUser", "Email", item.email)
    @value("ldapUser", "Organisatorical Unit", item.ou)
    @value("ldapUser", "Groups", item.permissions.mkString(", "))
}

@layout.show(
    "LDAP user",
    elements,
    Some(routes.LdapUserController.listAll())
)