@import views.html.layout
@import views.html.table.paginatedTable
@import util.typeColumns

@import models.security.LdapUser

@(page: Page[LdapUser])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_])

@actions = {
}

@table = @{
    paginatedTable(
        page,
        { (_: Int, _: String) => routes.LdapUserController.listAll()},
        typeColumns[LdapUser](
            (Some("_id"), "LDAP DN", _._id),
            (Some("name"), "Name", _.name),
            (Some("email"), "Email", _.email),
            (Some("ou"), "OU", _.ou)
        ),
        Some({ item : Any => routes.LdapUserController.get(item.asInstanceOf[LdapUser]._id)})
    )
}

@layout.list(
    "LDAP user",
    page.total,
    actions,
    table,
    None
)