@import views.html.layout.main
@import play.api.i18n.Messages
@import models.DataSpaceMetaInfo
@import views.html.elements._
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs}
@import controllers.core.WebContext
@import controllers.core.WebContext._

@(
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: WebContext
)

@paramElement(name: String, label: String, defaultValue: Option[Any] = None) = {
    @labelValue(name, label, false, None, 3) {
        <input id="@name" name="@name" type="text" style="width: 50%;" value="@defaultValue.map(_.toString).getOrElse("")">
    }
}

@main("mPower RC Prediction", Some(datasetMenu(dataSpaceMetaInfos))) {

    <div class="page-header">
        <h3>
            mPower RC Prediction
        </h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            @helper.form(action = routes.AdminController.runRCPrediction()) {
                <fieldset>
                    @paramElement("reservoirNodeNum", "Reservoir Node Num", Some(50))
                    @paramElement("reservoirInDegree", "Reservoir In Degree", Some(50))
                    @paramElement("inputReservoirConnectivity", "Input Reservoir Connectivity", Some(0.5))
                    @paramElement("reservoirSpectralRadius", "Reservoir Spectral Radius", Some(1))
                    @paramElement("washoutPeriod", "Washout Period", Some(500))
                    @paramElement("dropRightLength", "Drop Right Length", Some(500))
                    @paramElement("inputSeriesFieldPaths", "Input Series Field Paths", Some("accel_walking_outboundu002ejsonu002eitems.x, accel_walking_outboundu002ejsonu002eitems.y, accel_walking_outboundu002ejsonu002eitems.z"))
                    @paramElement("outputSeriesFieldPaths", "Output Series Field Paths", Some("accel_walking_outboundu002ejsonu002eitems.x"))
                    @paramElement("sourceDataSetId", "Source Data Set Id", Some("mpower_challenge.walking_activity_training"))
                    @paramElement("resultDataSetId", "Result Data Set Id", Some("mpower_challenge.walking_activity_training_rc_weights"))
                    @paramElement("resultDataSetName", "Result Data Set Name", Some("Walking Activity Training (RC) Weights"))
                    @paramElement("batchSize", "Batch Size", Some(20))
                </fieldset>

                <div class="actions pull-right">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            }
        </div>
    </div>
}