@import views.html.layout.main
@import play.api.i18n.Messages
@import models.DataSpaceMetaInfo
@import views.html.elements._
@import views.html.layout
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs}
@import controllers.core.WebContext
@import controllers.core.WebContext._
@import models.ml.RCPredictionSettings
@import models.ml.VectorTransformType

@(
    form: Form[RCPredictionSettings],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: WebContext
)

@inputTextAux(fieldName: String, defaultValue: Option[Any] = None) = @{
    defining(form(fieldName)) { field =>
        inputFieldText(
            "rcPredictionSettings",
            if (field.value.isEmpty && defaultValue.isDefined)
                field.copy(value = Some(defaultValue.get.toString))
            else
                field,
            Nil,
            3
        )
    }
}

@selectAux(fieldName: String, enum: Enumeration) = {
    @select("rcPredictionSettings", fieldName, form, util.enumToValueString(enum), true, Nil, 3)
}

@main("RC Prediction", Some(datasetMenu(dataSpaceMetaInfos))) {

    <div class="page-header">
        <h3>
            mPower RC Prediction
        </h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            @helper.form(action = controllers.ml.routes.RCPredictionController.runRCPrediction()) {
                <fieldset>
                    @inputTextAux("reservoirNodeNums", Some(50))
                    @inputTextAux("reservoirInDegrees", Some(50))
                    @inputTextAux("inputReservoirConnectivities", Some(0.5))
                    @inputTextAux("reservoirSpectralRadiuses", Some(1))
                    @inputTextAux("inScales", Some(1))
                    @inputTextAux("washoutPeriods", Some(500))
                    @inputTextAux("predictAheads", Some(1))
                    @inputTextAux("dropRightLengths", Some(200))
                    @inputTextAux("inputSeriesFieldPaths", Some("accel_walking_outboundu002ejsonu002eitems.x, accel_walking_outboundu002ejsonu002eitems.y, accel_walking_outboundu002ejsonu002eitems.z"))
                    @inputTextAux("outputSeriesFieldPaths", Some("accel_walking_outboundu002ejsonu002eitems.x"))
                    @inputTextAux("sourceDataSetId", Some("mpower_challenge.walking_activity_training"))
                    @inputTextAux("resultDataSetId", Some("mpower_challenge.walking_activity_training_rc_weights"))
                    @inputTextAux("resultDataSetName", Some("Walking Activity Training (RC) Weights"))
                    @inputTextAux("resultDataSetIndex", Some(1))
                    @selectAux("seriesPreprocessingType", VectorTransformType)
                    @inputTextAux("batchSize", Some(20))
                </fieldset>

                <div class="actions pull-right">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            }
        </div>
    </div>
}