@import org.ada.web.controllers.dataset.DataSetWebContext
@import org.ada.web.controllers.dataset.DataSetWebContext._
@import controllers.orderrequest.routes.{BatchOrderRequestSettingController => settingRoutes}

@()(implicit context: DataSetWebContext)

@typeaheadJsImport()

<script type="text/javascript">
    $(function () {
        populateIdNameTypeaheadsFromUrl({
            typeaheadElements: [
                $('#add_committeeUserIdModal').find('#userTypeahead'),
                $('#add_bioBankUserIdModal').find('#userTypeahead')
            ],
            idElements: [
                $('#add_committeeUserIdModal').find('#userId'),
                $('#add_bioBankUserIdModal').find('#userId')
            ],
            url: '@Html(settingRoutes.userIdAndNames().url)'
        })

        populateIdNameTypeaheadFromUrl({
            typeaheadElement: $('#viewNameTypeahead'),
            idElement: $('#viewId'),
            url: '@Html(context.dataViewRouter.idAndNamesAccessible.url)',
            initSelectByNameElement: true
        })
    })
</script>