@import org.ada.web.controllers.dataset.DataSetWebContext
@import org.ada.web.controllers.dataset.DataSetWebContext._
@import controllers.orderrequest.routes.{BatchOrderRequestSettingController => settingRoutes}

@()(implicit context: DataSetWebContext)

@typeaheadJsImport()

<script type="text/javascript">
    $(function () {
        populateIdNameTypeaheadFromUrl({
            typeaheadElement: $('#add_committeeUserIdModal').find('#userTypeahead'),
            idElement: $('#add_committeeUserIdModal').find('#userId'),
            url: '@Html(settingRoutes.userIdAndNames().url)'
        })

        populateIdNameTypeaheadFromUrl({
            typeaheadElement: $('#viewNameTypeahead'),
            idElement: $('#viewId'),
            url: '@Html(context.dataViewRouter.idAndNamesAccessible.url)',
            initSelectByNameElement: true
        })
    })
</script>