@import views.html.table.{dynamicTable, displayTable}
@import views.html.filter.{jsTreeImport, categoricalTree}
@import org.ada.web.util.typeColumns
@import org.ada.server.field.FieldUtil.nameOrLabel
@import org.ada.server.models.{Field, Category, FilterShowFieldStyle}
@import org.ada.server.models.User
@import views.html.elements.{inputTypeahead, typeahead}

@(
    tableId: String,
    items: Traversable[User] = Nil,
    sortable: Boolean = true,
    gridWidth: Int = 5
)(
    implicit request: Request[_], webJarAssets: WebJarAssets
)

@modalInner = {
    @typeahead("userTypeahead", "userId", "User", isLarge = true)
}

@userIdElement(user: User) = {
    <input type="hidden" id="userId" value="@user._id.get.stringify">
}

@table = {
    @displayTable(
        items,
        typeColumns[User](
            (None, "", userIdElement),
            (Some("ldapDn"), "", _.ldapDn)
        ),
        tableSelection = true
    )
}

@rowToModelJsFun = {
    function(row) {
        return row.find('#userId').val().trim();
    }
}

@itemToRowJsFun = {
    function(values) {
        var row = null
        if (values["userId"]) {
            var checkboxColumn = "<td><input type='checkbox' class='table-selection'></input></td>";
            var userIdColumn = "<td><input type='hidden' id='userId' value='" + values["userId"] + "'/></td>";
            var userNameColumn = "<td>" + values["userTypeahead"] + "</td>";

            // create row
            row = $("<tr></tr>")
            row.append(checkboxColumn)
            row.append(userIdColumn)
            row.append(userNameColumn)
        }

        return row;
    }
}

@dynamicTable(tableId, table, sortable, rowToModelJsFun, itemToRowJsFun, modalInner, None, gridWidth, false, false)