@import views.html.table.dynamicTableJsImport
@import views.html.elements._
@import views.html.requestSettings.dynamicUserTable
@import org.ada.web.controllers.dataset.DataSetWebContext
@import org.ada.web.controllers.dataset.DataSetWebContext._
@import reactivemongo.bson.BSONObjectID
@import org.ada.server.models.User

@(
    form: Form[BatchOrderRequestSetting],
    idUserMap: Map[BSONObjectID, User]
)(
    implicit context: DataSetWebContext
)

@labelValue("dataSetId", attributeLabel("requestSetting", "dataSetId")) {
    <input id="dataSetId" name="dataSetId" value="@context.dataSetId" readonly="readonly">
}

@dynamicTableJsImport()

@labelValue("committeeUserIds", "Committee Members") {
    @dynamicUserTable(
        "committeeUserId",
        form.value match {
            case Some(setting) => setting.committeeUserIds.map(idUserMap)
            case None => Nil
        }
    )
}

@labelValue("bioBankUserIds", "Bio Bank Contacts") {
    @dynamicUserTable(
        "bioBankUserId",
        form.value match {
            case Some(setting) => setting.bioBankUserIds.map(idUserMap)
            case None => Nil
        }
    )
}

@inputTypeahead("dataView", "viewId", "viewNameTypeahead", form, "Data View")