@(fieldsCall: Call)

@typeaheadJsImport()

<script type="text/javascript">
    $(function () {
        var showOption = @{FilterShowFieldStyle.NamesAndLabels.id}
        $.ajax({
            url: '@Html(fieldsCall.url)',
            success: function (data) {
                populateFieldTypeahed(
                    $('#add_tableColumnNameModal #newItemTypeahead'),
                    $('#add_tableColumnNameModal #newItem'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_statsCalcSpecModal #fieldNameTypeahead'),
                    $('#add_statsCalcSpecModal #fieldName'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_statsCalcSpecModal #xFieldNameTypeahead'),
                    $('#add_statsCalcSpecModal #xFieldName'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_statsCalcSpecModal #yFieldNameTypeahead'),
                    $('#add_statsCalcSpecModal #yFieldName'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_statsCalcSpecModal #groupFieldNameTypeahead'),
                    $('#add_statsCalcSpecModal #groupFieldName'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_statsCalcSpecModal #newItemTypeahead'),
                    $('#add_statsCalcSpecModal #newItem'),
                    data,
                    showOption
                );
            }
        });
    });
</script>