@(fieldsCall: Call)

@typeaheadJsImport()

<script type="text/javascript">
    $(function () {
        var showOption = @{FilterShowFieldStyle.NamesAndLabels.id}
        $.ajax({
            url: '@Html(fieldsCall.url)',
            success: function (data) {
                populateFieldTypeahed(
                    $('#add_tableColumnNameModal #newItemTypeahead'),
                    $('#add_tableColumnNameModal #newItem'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_widgetSpecModal #fieldNameTypeahead'),
                    $('#add_widgetSpecModal #fieldName'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_widgetSpecModal #xFieldNameTypeahead'),
                    $('#add_widgetSpecModal #xFieldName'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_widgetSpecModal #yFieldNameTypeahead'),
                    $('#add_widgetSpecModal #yFieldName'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_widgetSpecModal #groupFieldNameTypeahead'),
                    $('#add_widgetSpecModal #groupFieldName'),
                    data,
                    showOption
                );

                populateFieldTypeahed(
                    $('#add_widgetSpecModal #newItemTypeahead'),
                    $('#add_widgetSpecModal #newItem'),
                    data,
                    showOption
                );
            }
        });
    });
</script>