@(fieldsCall: Call)

@typeaheadJsImport()

<script type="text/javascript">
    $(function () {
        var showOption = @{FilterShowFieldStyle.NamesAndLabels.id}
        $.ajax({
            url: '@Html(fieldsCall.url)',
            success: function (data) {
                populateFieldTypeaheds(
                    [
                        $('#add_tableColumnNameModal #fieldTypeahead'),
                        $('#add_widgetSpecModal #fieldNameTypeahead'),
                        $('#add_widgetSpecModal #groupFieldNameTypeahead'),
                        $('#add_widgetSpecModal #xFieldNameTypeahead'),
                        $('#add_widgetSpecModal #yFieldNameTypeahead'),
                        $('#edit_widgetSpecModal #fieldNameTypeahead'),
                        $('#edit_widgetSpecModal #groupFieldNameTypeahead'),
                        $('#edit_widgetSpecModal #xFieldNameTypeahead'),
                        $('#edit_widgetSpecModal #yFieldNameTypeahead')
                    ],
                    [
                        $('#add_tableColumnNameModal #fieldName'),
                        $('#add_widgetSpecModal #fieldName'),
                        $('#add_widgetSpecModal #groupFieldName'),
                        $('#add_widgetSpecModal #xFieldName'),
                        $('#add_widgetSpecModal #yFieldName'),
                        $('#edit_widgetSpecModal #fieldName'),
                        $('#edit_widgetSpecModal #groupFieldName'),
                        $('#edit_widgetSpecModal #xFieldName'),
                        $('#edit_widgetSpecModal #yFieldName')
                    ],
                    data,
                    showOption
                );
            }
        });
    });
</script>