@import views.html.layout
@import views.html.elements._
@import models.DataView
@import controllers.dataset.DataViewRouter
@import views.html.dataview.elements
@import views.html.dataview.activateTypeahead
@import controllers.DataSetWebContext
@import controllers.DataSetWebContext._

@(
    domainName : String,
	form: Form[DataView]
)(
    implicit context: DataSetWebContext
)

@layout.create(
    domainName,
	form,
    elements(form, Map(), Map(), dataSetRouter.allFields),
    dataViewRouter.save,
    dataViewRouter.plainList
)

@activateTypeahead()
