@import views.html.layout
@import views.html.elements._
@import models.DataView
@import controllers.dataset.DataViewRouter
@import views.html.table.dynamicStringTable
@import views.html.datasetsetting.statsCalcSpecTable
@import views.html.dataview.elements
@import views.html.dataview.activateTypeahead

@(
    domainName : String,
	form: Form[DataView],
	router: DataViewRouter,
    fieldsCall: Call
)(
	implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_]
)

@layout.create(
    domainName,
	form,
    elements(form),
    router.save,
    router.plainList
)

@activateTypeahead(fieldsCall)