@import controllers.dataset.DataViewRouter
@import models.DataSpaceMetaInfo
@import models.DataView
@import reactivemongo.bson.BSONObjectID
@import views.html.dataview.edit
@import models.Field
@import controllers.DataSetWebContext
@import controllers.DataSetWebContext._

@(
    domainName: String,
    id : BSONObjectID,
    form: Form[DataView],
    nameFieldMap: Map[String,  Field],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@edit(
    domainName,
    id,
    form,
    dataViewRouter.update,
    nameFieldMap,
    dataSpaceMetaInfos
)