@import views.html.layout
@import views.html.dataset.{datasetSubNav, datasetSubNavJs, datasetMenu}
@import controllers.dataset.DataViewRouter
@import models.DataSpaceMetaInfo
@import models.{DataView, Field}
@import reactivemongo.bson.BSONObjectID
@import views.html.dataview.elements
@import views.html.dataview.activateTypeahead
@import controllers.DataSetWebContext
@import controllers.DataSetWebContext._

@(
    domainName: String,
    id : BSONObjectID,
    form: Form[DataView],
    nameFieldMap: Map[String,  Field],
    idFilterNameMap: Map[BSONObjectID, String],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo],
    updateCall: BSONObjectID => Call
)(
    implicit context: DataSetWebContext
)

@bottomResources = {
    @activateTypeahead(dataSetRouter.allFields, filterRouter.idAndNamesAccessible)
    @datasetSubNavJs()
}

@layout.edit(
    domainName,
	form.errors,
    elements(form, nameFieldMap, idFilterNameMap, dataSetRouter.allFields),
    updateCall(id),
    dataViewRouter.plainList,
    Some(dataViewRouter.delete(id)),
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNav()),
    Some(bottomResources)
)
