@import controllers.dataset.{DataSetWebContext, DataViewRouter}
@import models.DataSpaceMetaInfo
@import models.DataView
@import reactivemongo.bson.BSONObjectID
@import views.html.dataview.edit
@import models.Field
@import controllers.dataset.DataSetWebContext._

@(
    domainName: String,
    id : BSONObjectID,
    form: Form[DataView],
    nameFieldMap: Map[String,  Field],
    idFilterNameMap: Map[BSONObjectID, String],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo],
    showFieldStyle: Option[FilterShowFieldStyle.Value]
)(
    implicit context: DataSetWebContext
)

@edit(
    domainName,
    id,
    form,
    nameFieldMap,
    idFilterNameMap,
    dataSpaceMetaInfos,
    showFieldStyle,
    dataViewRouter.update
)