@import controllers.dataset.DataViewRouter
@import models.DataSpaceMetaInfo
@import models.DataView
@import reactivemongo.bson.BSONObjectID
@import views.html.dataview.edit
@import models.Field

@(
    domainName: String,
    id : BSONObjectID,
    form: Form[DataView],
    router: DataViewRouter,
    fieldsCall: Call,
    nameFieldMap: Map[String,  Field],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_]
)

@edit(
    domainName,
    id,
    form,
    router,
    router.get,
    fieldsCall,
    nameFieldMap,
    dataSpaceMetaInfos
)