@import views.html.layout
@import views.html.elements._
@import models.{DataView, Field}
@import views.html.table.{dynamicStringTable, dynamicTableJsImport}
@import views.html.dataview.statsCalcSpecTable
@import views.html.table.displayTable
@import views.html.filters.displayConditions
@import util.typeColumns
@import reactivemongo.bson.BSONObjectID

@(
    form: Form[DataView],
    nameFieldMap: Map[String,  Field] = Map()
)(implicit msg: play.api.i18n.Messages)

@dynamicTableJsImport()

@addModalInner = {
    <input type="text" id="newItemTypeahead" class="typeahead">
    <input type="hidden" id="newItem">
}

@inputText("dataView", "name", form)

@form.value.map(_.createdBy.map ( user => value("dataView", "Created By", user.ldapDn))).flatten.getOrElse("")

@checkbox("dataView", "default", form)

@checkbox("dataView", "useOptimizedRepoChartCalcMethod", form)

@labelValue("tableColumnNames", attributeLabel("dataView", "tableColumnNames")){
    @dynamicStringTable("tableColumnName", form.value.map(_.tableColumnNames).getOrElse(Nil), true, Some(addModalInner))
}

@labelValue("statsCalcSpecs", attributeLabel("dataView", "statsCalcSpecs")){
    @statsCalcSpecTable(
        form.value.map(_.statsCalcSpecs).getOrElse(Nil),
        nameFieldMap
    )
}

@labelValue("filterOrIds", attributeLabel("dataView", "filterOrIds")){
    @displayTable(
        form.value.map(_.filterOrIds).getOrElse(Nil),
        typeColumns[Either[Seq[models.FilterCondition], BSONObjectID]](
            (None, "Content", { filterOrId =>
                filterOrId match {
                    case Left(conditions) => displayConditions(conditions)
                    case Right(id) => id.stringify
                }
            })
        )
    )
}

@inputText("dataView", "elementGridWidth", form)