@import views.html.layout
@import views.html.elements._
@import models.{DataView, Field}
@import views.html.table.{dynamicStringTable, dynamicTableJsImport}
@import views.html.dataview.{widgetSpecTable, filterOrIdTable}
@import views.html.dataset.dynamicFieldTable
@import controllers.dataset.FilterRouter
@import reactivemongo.bson.BSONObjectID
@import controllers.DataSetWebContext
@import controllers.DataSetWebContext._

@(
    form: Form[DataView],
    nameFieldMap: Map[String,  Field],
    idFilterNameMap: Map[BSONObjectID, String],
    allFieldsCall: Call
)(
    implicit context: DataSetWebContext
)

@dynamicTableJsImport()

@inputText("dataView", "name", form)

@form.value.map(_.createdBy.map ( user => value("dataView", "Created By", user.ldapDn))).flatten.getOrElse("")

@checkbox("dataView", "default", form)

@checkbox("dataView", "isPrivate", form)

@extraFieldButtons = {
    <a id="addAllFieldsButton" class="btn btn-info btn-sm" href="#" onclick="addAllFields();" data-toggle="tooltip" title="Add All Fields">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> All
    </a>
}

@labelValue("tableColumnNames", attributeLabel("dataView", "tableColumnNames")){
    @dynamicFieldTable(
        "tableColumnName",
        form.value.map(_.tableColumnNames.map(nameFieldMap.get).flatten).getOrElse(Nil),
        true,
        5,
        Some(extraFieldButtons),
        Some(Right(dataSetRouter.getCategoriesWithFieldsAsTreeNodes(Left(Nil))))
    )
}

@labelValue("widgetSpecs", attributeLabel("dataView", "widgetSpecs")){
    @widgetSpecTable(
        form.value.map(_.widgetSpecs).getOrElse(Nil),
        nameFieldMap,
        idFilterNameMap
    )
}

@labelValue("filterOrIds", attributeLabel("dataView", "filterOrIds")) {
    @filterOrIdTable(form.value.map(_.filterOrIds).getOrElse(Nil))
}

@inputText("dataView", "elementGridWidth", form)

@checkbox("dataView", "useOptimizedRepoChartCalcMethod", form)

<script>
    function addAllFields() {
        $.ajax({
            url: '@Html(allFieldsCall.url)',
            success: function (data) {
                $.each(data, function(index, field) {
                    var values = {};
                    values["fieldName"] = field.name;
                    values["fieldTypeahead"] = field.label ? field.label : field.name;

                    $('#tableColumnNameDiv').dynamicTable('addTableRow', values)
                });
            }
        });
    }
</script>