@import views.html.table.{displayTable, dynamicTable}
@import views.html.elements.labelValue
@import views.html.table.{dynamicTableJsImport, dynamicStringTable}
@import util.typeColumns
@import models.ChartType
@import models.FieldChartType
@import models.{WidgetSpec, Field}

@(
    items: Traversable[WidgetSpec],
    nameFieldMap: Map[String,  Field]
)

@editableChartType(chartType: Option[ChartType.Value]) = {
    <select id="chartType" name="chartType">
        <option value="" @if(chartType.isEmpty) {selected="selected"}></option>
        @ChartType.values.map { _chartType =>
            <option value="@{_chartType}" @if(chartType.isDefined && chartType.get == _chartType) {selected="selected"}>@{_chartType}</option>
        }
    </select>
}

@concreteClassHiddenElement(widgetSpec: WidgetSpec) = {
    <input type="hidden" id="concreteClass" value="@widgetSpec.getClass.getName"/>
}

@concreteClassName(clazz: Class[_]) = @{
    clazz.getName.split("\\.")(1).replaceAll("WidgetSpec", "")
}

@fieldNamesHiddenElement(widgetSpec: WidgetSpec) = {
    <input type="hidden" id="fieldNames" value="@widgetSpec.fieldNames.mkString(", ")"/>
}

@gridWidthElement(widgetSpec: WidgetSpec) = {
    <input type="text" id="gridWidth" style="width:40px" value="@widgetSpec.displayOptions.gridWidth.getOrElse("")">
}

@gridOffsetElement(widgetSpec: WidgetSpec) = {
    <input type="text" id="gridOffset" style="width:40px" value="@widgetSpec.displayOptions.gridOffset.getOrElse("")">
}

@heightElement(widgetSpec: WidgetSpec) = {
    <input type="text" id="height" style="width:60px" value="@widgetSpec.displayOptions.height.getOrElse("")">
}

@distCountNumericBinCountElement(widgetSpec: DistributionWidgetSpec) = {
    <input type="text" id="numericBinCount" style="width:40px" value="@widgetSpec.numericBinCount.getOrElse("")">
}

@cumCountNumericBinCountElement(widgetSpec: CumulativeCountWidgetSpec) = {
    <input type="text" id="numericBinCount" style="width:40px" value="@widgetSpec.numericBinCount.getOrElse("")">
}

@table = {
    @displayTable(
        items,
        typeColumns[WidgetSpec](
            (None, "", _ => {<input type="checkbox"/>}),
            (None, "", concreteClassHiddenElement),
            (None, "Calc Type", {x => concreteClassName(x.getClass)}),
            (None, "", fieldNamesHiddenElement),
            (None, "Field(s)", _.fieldNames.map( fieldName => nameFieldMap.get(fieldName).map(_.labelOrElseName).getOrElse(fieldName) ).mkString(", ")),
            (None, "Grid Offset", gridOffsetElement),
            (None, "Grid Width", gridWidthElement),
            (None, "Height", heightElement),
            (None, "Numeric Bin Count", {x =>
                x match {
                    case x: DistributionWidgetSpec => distCountNumericBinCountElement(x)
                    case x: CumulativeCountWidgetSpec => cumCountNumericBinCountElement(x)
                    case _ => ""
                }
            }),
            (None, "Chart Type", {x =>
                if(x.displayOptions.isInstanceOf[MultiChartDisplayOptions]) {
                    editableChartType(x.displayOptions.asInstanceOf[MultiChartDisplayOptions].chartType)
                } else ""
            })
        )
    )
}

@rowToModelJsFun = {
    function(row) {
        var fieldNames = row.find('#fieldNames').val().split(",").map(function(str) {
            return str.trim();
        }).filter(function(v) {return v != ''});

        var concreteClass = row.find('#concreteClass').val().trim();
        var chartTypeElement = row.find('#chartType');
        var chartType = (chartTypeElement.length > 0) ? chartTypeElement.val().trim() : null;
        var gridOffset = row.find('#gridOffset').val().trim()
        var gridWidth = row.find('#gridWidth').val().trim()
        var height = row.find('#height').val().trim()
        var numericBinCountElement = row.find('#numericBinCount');
        var intNumericBinCount = null;
        if (numericBinCountElement) {
            var numericBinCount = (numericBinCountElement.length > 0) ? numericBinCountElement.val().trim() : null;
            if (numericBinCount) {
                intNumericBinCount = parseInt(numericBinCount)
                if (!isNaN(intNumericBinCount)) {
                    intNumericBinCount = Math.max(intNumericBinCount, 1)
                }
            }
        }

        var output = {};
        output["concreteClass"] = concreteClass

        var displayOptions = {};

        switch (concreteClass) {
            case "@{classOf[DistributionWidgetSpec].getName}" :
                output["fieldName"] = fieldNames[0];
                output["groupFieldName"] = fieldNames[1];
                if (intNumericBinCount) {
                    output["numericBinCount"] = intNumericBinCount;
                }
                break;
            case "@{classOf[CumulativeCountWidgetSpec].getName}" :
                output["fieldName"] = fieldNames[0];
                output["groupFieldName"] = fieldNames[1];
                if (intNumericBinCount) {
                    output["numericBinCount"] = intNumericBinCount;
                }
                break;
            case "@{classOf[BoxWidgetSpec].getName}" :
                output["fieldName"] = fieldNames[0];
                break;
            case "@{classOf[ScatterWidgetSpec].getName}" :
                output["xFieldName"] = fieldNames[0];
                output["yFieldName"] = fieldNames[1];
                output["groupFieldName"] = fieldNames[2];
                break;
            case "@{classOf[CorrelationWidgetSpec].getName}" :
                output["fieldNames"] = fieldNames
                break;
        }

        if (chartType) {
            displayOptions["chartType"] = chartType
        }

        if (gridOffset) {
            var intGridOffset = parseInt(gridOffset)
            if (!isNaN(intGridOffset)) {
                displayOptions["gridOffset"] = Math.min(intGridOffset, 12)
            }
        }

        if (gridWidth) {
            var intGridWidth = parseInt(gridWidth)
            if (!isNaN(intGridWidth)) {
                displayOptions["gridWidth"] = Math.min(intGridWidth, 12)
            }
        }

        if (height) {
            var intHeight = parseInt(height)
            if (!isNaN(intHeight)) {
                displayOptions["height"] = Math.min(intHeight, 1000)
            }
        }

        output["displayOptions"] = displayOptions;

        return JSON.stringify(output);
    }
}

@itemToRowJsFun = {
    function(values) {
        var concreteClass = values["concreteClass"].trim()
        var concreteClassName = concreteClass.replace('models.','').replace('WidgetSpec','')

        var checkboxColumn = "<td><input type='checkbox'></input></td>";
        var concreteClassValueColumn = "<td><input type='hidden' id='concreteClass' value='" + concreteClass + "'/></td>";
        var concreteClassNameColumn = "<td>" + concreteClassName + "</td>";

        var fieldNames;
        var fieldLabels;
        switch (concreteClass) {
            case "@{classOf[DistributionWidgetSpec].getName}" :
                fieldNames = [values["fieldName"], values["groupFieldName"]].join(", ");
                fieldLabels = [values["fieldNameTypeahead"], values["groupFieldNameTypeahead"]].join(", ");
                break;
            case "@{classOf[CumulativeCountWidgetSpec].getName}" :
                fieldNames = [values["fieldName"], values["groupFieldName"]].join(", ");
                fieldLabels = [values["fieldNameTypeahead"], values["groupFieldNameTypeahead"]].join(", ");
                break;
            case "@{classOf[BoxWidgetSpec].getName}" :
                fieldNames = values["fieldName"];
                fieldLabels = values["fieldNameTypeahead"];
                break;
            case "@{classOf[ScatterWidgetSpec].getName}" :
                fieldNames = [values["xFieldName"], values["yFieldName"], values["groupFieldName"]].join(", ");
                fieldLabels = [values["xFieldNameTypeahead"], values["yFieldNameTypeahead"], values["groupFieldNameTypeahead"]].join(", ");
                break;
            case "@{classOf[CorrelationWidgetSpec].getName}" :
                fieldNames = values["fieldNames"]
                fieldLabels = values["fieldNames"];
                break;
        }

        var fieldNamesColumn = "<td><input type='hidden' id='fieldNames' value='" + fieldNames + "'/></td>";
        var fieldLabelsColumn = "<td>" + fieldLabels + "</td>";
        var chartTypeColumn = (concreteClass == "@{classOf[DistributionWidgetSpec].getName}") ? `<td>@editableChartType(None)</td>` : "<td></td>";
        var gridOffsetColumn = "<td><input type='text' id='gridOffset' style='width:40px' value=''/></td>";
        var gridWidthColumn = "<td><input type='text' id='gridWidth' style='width:40px' value=''/></td>";
        var heightColumn = "<td><input type='text' id='height' style='width:60px' value=''/></td>";
        var numericBinCountColumn = "<td><input type='text' id='numericBinCount' style='width:40px' value=''/></td>";

        return "<tr>" + checkboxColumn + concreteClassValueColumn + concreteClassNameColumn + fieldNamesColumn + fieldLabelsColumn + gridOffsetColumn + gridWidthColumn + heightColumn + numericBinCountColumn + chartTypeColumn + "</tr>";
    }
}

@concreteClassOptions(classes: Class[_]*) = {
    @classes.map { clazz =>
        <option value="@{clazz.getName}">@concreteClassName(clazz)</option>
    }
}

@addModalInner = {
    <div class="row">
        @labelValue("concreteClass", "Type") {
            <select id="concreteClass" onchange="updateModalItems();">
                @concreteClassOptions(
                    classOf[DistributionWidgetSpec],
                    classOf[CumulativeCountWidgetSpec],
                    classOf[BoxWidgetSpec],
                    classOf[ScatterWidgetSpec],
                    classOf[CorrelationWidgetSpec]
                )
            </select>
        }

        <div id="fieldNameDiv" style="display: none">
            @labelValue("fieldName", "Field") {
                <input type="text" id="fieldNameTypeahead" class="typeahead">
                <input type="hidden" id="fieldName">
            }
        </div>

        <div id="xFieldNameDiv" style="display: none">
            @labelValue("xFieldName", "X Field") {
                <input type="text" id="xFieldNameTypeahead" class="typeahead">
                <input type="hidden" id="xFieldName">
            }
        </div>

        <div id="yFieldNameDiv" style="display: none">
            @labelValue("yFieldName", "Y Field") {
                <input type="text" id="yFieldNameTypeahead" class="typeahead">
                <input type="hidden" id="yFieldName">
            }
        </div>

        <div id="groupFieldNameDiv" style="display: none">
            @labelValue("groupFieldName", "Group Field") {
                <input type="text" id="groupFieldNameTypeahead" class="typeahead">
                <input type="hidden" id="groupFieldName">
            }
        </div>

        <div id="fieldNamesDiv" style="display: none">
            @labelValue("fieldNames", "Fields") {
                <input type="text" id="fieldNames">
            }
        </div>
    </div>
}

@dynamicTable("statsCalcSpec", table, true, rowToModelJsFun, itemToRowJsFun, addModalInner, None, 8)

<script type="text/javascript">

    function hideAll() {
        $("#fieldNameDiv").hide();
        $("#xFieldNameDiv").hide();
        $("#yFieldNameDiv").hide();
        $("#groupFieldNameDiv").hide();
    }

    function updateModalItems() {
        var concreteClass = $('#add_statsCalcSpecModal #concreteClass').val();
        hideAll();

        switch (concreteClass) {
            case "@{classOf[DistributionWidgetSpec].getName}" :
                $("#fieldNameDiv").show();
                $("#groupFieldNameDiv").show();
                break;
            case "@{classOf[CumulativeCountWidgetSpec].getName}" :
                $("#fieldNameDiv").show();
                $("#groupFieldNameDiv").show();
                break;
            case "@{classOf[BoxWidgetSpec].getName}" :
                $("#fieldNameDiv").show();
                break;
            case "@{classOf[ScatterWidgetSpec].getName}" :
                $("#xFieldNameDiv").show();
                $("#yFieldNameDiv").show();
                $("#groupFieldNameDiv").show();
                break;
            case "@{classOf[CorrelationWidgetSpec].getName}" :
                $("#fieldNamesDiv").show();
                break;
        }
    }
</script>