@import views.html.layout.formErrors
@import org.incal.play.controllers.WebContext
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.routes

@(
    form: Form[String]
)(
    implicit context: WebContext
)

@layout.main(title = "Ada OpenID Login", extraMessages = Some(formErrors("login", form.errors))) {

    <div class="page-header">
        <h1>Login</h1>
    </div>

    <div class="row">
        @helper.form(routes.AuthController.loginOpenIdPost){
            <div class="login well well-lg col-md-6">

                <div class="form-group">
                    <label form="user">Open ID<br></label>
                    <input type="text" class="form-control" id="openid" name="openid" value="" placeholder="User's open id">
                </div>

                <div class="col-md-12 row">
                    <input type="submit" id="submit" value="Login" class="btn btn-primary btn-sm btn-block">
                </div>
            </div>
        }
    </div>
    <div class="row">
        Don't have an account? <a href="@routes.AppController.contact()">Request one.</a>
    </div>
}