@import models.FilterCondition
@import views.html.layout.list
@import play.api.libs.json.JsObject
@import views.html.table.paginatedJsonTable
@import util.typeColumns
@import controllers.core.WebContext._
@import controllers.core.WebContext

@(currentPage: Page[JsObject], filter: Seq[FilterCondition])(implicit context: WebContext)

@modalBody(defaultDelimiter: String) = {
    <p>Delimeter</p>
    <input id="delimiter" name="delimiter" value="@defaultDelimiter">
}

@actions = {
    @helper.form(action=routes.RedCapController.listRecords(), 'role -> "search") {
        <div class="row">
            <div class="col-md-8">
                <input type="search" id="searchbox" name="f" value="@currentPage.filter" placeholder="Filter by record id...">
                <input type="submit" id="searchsubmit" value="Filter by record id" class="btn btn-primary btn-sm">
            </div>
            <div class="col-md-4">
                <div class="pull-right dropdown">
                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export All
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exportCsvModal">
                                Export All as CSV
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exportTranSMARTDataModal">
                                Export TransSMART Data
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exportTranSMARTMappingModal">
                                Export TransSMART Mapping
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    @views.html.exportModal("exportCsvModal", "LuxPark REDCap CSV Export", routes.RedCapController.exportRecordsAsCsv(), modalBody(","))
    @views.html.exportModal("exportTranSMARTDataModal", "LuxPark CSV TranSMART Data Export", routes.RedCapController.exportTranSMARTDataFile(), modalBody("\\t"))
    @views.html.exportModal("exportTranSMARTMappingModal", "LuxPark CSV TranSMART Mapping Export", routes.RedCapController.exportTranSMARTMappingFile(), modalBody("\\t"))
}

@table = @{
    paginatedJsonTable(
        currentPage,
        routes.RedCapController.listRecords(_, _, ""),
        None,
        Some(List("cdisc_dm_usubjd", "redcap_event_name", "cdisc_dm_subjid_2", "dm_site", "cdisc_dm_brthdtc", "cdisc_dm_sex", "cdisc_sc_sctestcd_maritstat")),
        Some({ (item: JsObject) => routes.RedCapController.showRecord(
            (item \ "cdisc_dm_usubjd").asOpt[String].getOrElse((item \ "cdisc_dm_usubjd").toString()))
        })
    )
}

@list(
    "record",
    None,
    currentPage.total,
    Some(actions),
    table,
    None
)