@import views.html.layout.list
@import views.html.table.paginatedTable
@import models.redcap.Metadata
@import util.typeColumns

@(page: Page[Metadata])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_])

@modalBody(defaultDelimiter: String) = {
    <p>Delimeter</p>
    <input id="delimiter" name="delimiter" value="@defaultDelimiter">
}

@actions = {
    @helper.form(action=routes.RedCapController.listMetadatas(), 'class -> "navbar-form navbar-left", 'role -> "search") {
        <div class="row">
            <div class="col-md-8">
                <input type="search" id="searchbox" name="f" value="@page.filter" placeholder="Filter by field name...">
                <input type="submit" id="searchsubmit" value="Filter by field name" class="btn btn-primary btn-sm">
            </div>
            <div class="col-md-4">
                <a class="btn btn-info btn-sm" href="#" data-toggle="modal" data-target="#exportCsvModal">
                    Export All as CSV
                </a>
            </div>
        </div>
    }
    @views.html.exportModal("exportCsvModal", "LuxPark REDCap Metadata CSV Export", routes.RedCapController.exportAllMetadatasAsCsv(), Some(modalBody(",")))
}

@table = @{
    paginatedTable(
        page,
        routes.RedCapController.listMetadatas(_, _, ""),
        typeColumns[Metadata](
            (Some("field_name"), "Name", _.field_name),
            (Some("form_name"), "Form", _.form_name),
            (Some("section_header"), "Section", _.section_header),
            (Some("field_type"), "Type", _.field_type),
            (Some("field_label"), "Label", _.field_label),
            (Some("select_choices_or_calculations"), "Select Choices or Calculations", _.select_choices_or_calculations)
        ),
        Some({ item : Any => routes.RedCapController.showMetadata(item.asInstanceOf[Metadata].field_name)})
    )
}

@list(
    "metadata",
    page.total,
    Some(actions),
    table,
    None
)