@import views.html.layout.list
@import views.html.table._
@import models.redcap.ExportField
@import util.typeColumns

@(currentPage: Page[ExportField])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_])

@actions = {
    @helper.form(action=routes.RedCapController.listExportFields(), 'class -> "navbar-form navbar-left", 'role -> "search") {
        <input type="search" id="searchbox" name="f" value="@currentPage.filter" placeholder="Filter by original field name...">
        <input type="submit" id="searchsubmit" value="Filter by field name" class="btn btn-primary btn-sm">
    }
}

@table = @{
    paginatedTable(
        currentPage,
        routes.RedCapController.listExportFields(_, _, ""),
        typeColumns[ExportField](
            (Some("original_field_name"), "Original Name", _.original_field_name),
            (Some("choice_value"), "Choice Value", _.choice_value),
            (Some("export_field_name"), "Export Name", _.export_field_name)
        ),
        Some({ item : Any => routes.RedCapController.showExportField(item.asInstanceOf[ExportField].export_field_name)})
    )
}

@list(
    "export field",
    currentPage.total,
    actions,
    table,
    None
)