@import play.api.libs.json.JsObject
@(currentPage: Page[JsObject], currentOrderBy: String, currentFilter: String)(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@actions = {
    @helper.form(action=routes.RedCapController.listRecords(), 'class -> "navbar-form navbar-left", 'role -> "search") {
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by record id...">
        <input type="submit" id="searchsubmit" value="Filter by record id" class="btn btn-primary btn-sm">
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exportModal">
            Export All as CSV
        </button>
    }
    @views.html.exportCsvModal("exportModal", "LuxPark REDCap CSV Export", routes.RedCapController.exportRecordsAsCsv())
}

@displayCall(newPage : Int, newOrderBy : Option[String]) = @{
    routes.RedCapController.listRecords(newPage, newOrderBy.map { orderBy =>
        if(orderBy == currentOrderBy) "-" + currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

@rowClickCall(item : JsObject) = @{
    defining(item.value.get("cdisc_dm_usubjd").get) { v =>
        routes.RedCapController.showRecord(v.asOpt[String].getOrElse(v.toString())).url
    }
}

@table = {
    @jsonTable(currentPage.items, currentOrderBy, displayCall(_, _),
        Some(List("cdisc_dm_usubjd", "redcap_event_name", "cdisc_dm_subjid_2", "dm_site", "cdisc_dm_brthdtc", "cdisc_dm_sex", "cdisc_sc_sctestcd_maritstat")),
        Some(rowClickCall)
    )
}

@views.html.list(
    "record",
    actions,
    table,
    displayCall,
    currentPage,
    currentOrderBy,
    currentFilter
)