@import play.api.libs.json.JsObject
@(currentPage: Page[JsObject], currentOrderBy: String, currentFilter: String)(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@actions = {
    @helper.form(action=routes.RedCapController.listRecords(), 'class -> "navbar-form navbar-left", 'role -> "search") {
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by record id...">
        <input type="submit" id="searchsubmit" value="Filter by record id" class="btn btn-primary btn-sm">
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">
            Export All as CSV
        </button>
    }
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">LuxPark REDCap CSV Export</h4>
                </div>
                <form action="@routes.RedCapController.exportRecordsAsCsv()">
                    <div class="modal-body">
                        <p>Delimeter</p>
                        <input id="delimiter" name="delimiter" value=",">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="exportButton" class="btn btn-primary">Export</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script type="text/javascript">
        $(function () {
          $('#exportButton').click(function(){
            $('#myModal').modal('hide');
         });
        })
    </script>
}

@displayCall(newPage : Int, newOrderBy : Option[String]) = @{
    routes.RedCapController.listRecords(newPage, newOrderBy.map { orderBy =>
        if(orderBy == currentOrderBy) "-" + currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

@rowClickCall(item : JsObject) = @{
    defining(item.value.get("cdisc_dm_usubjd").get) { v =>
        routes.RedCapController.showRecord(v.asOpt[String].getOrElse(v.toString())).url
    }
}

@table = {
    @jsonTable(currentPage.items, currentOrderBy, displayCall(_, _),
        Some(List("cdisc_dm_usubjd", "redcap_event_name", "cdisc_dm_subjid_2", "dm_site", "cdisc_dm_brthdtc", "cdisc_dm_sex", "cdisc_sc_sctestcd_maritstat")),
        Some(rowClickCall)
    )
}

@views.html.list(
    "record",
    actions,
    table,
    displayCall,
    currentPage,
    currentOrderBy,
    currentFilter
)