@import play.api.libs.json.JsObject
@(currentPage: Page[JsObject])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@actions = {
    @helper.form(action=routes.RedCapController.listFieldNames(), 'class -> "navbar-form navbar-left", 'role -> "search") {
        <input type="search" id="searchbox" name="f" value="@currentPage.filter" placeholder="Filter by original field name...">
        <input type="submit" id="searchsubmit" value="Filter by field name" class="btn btn-primary btn-sm">
    }
}

@displayCall(newPage : Int, newOrderBy : Option[String]) = @{
    routes.RedCapController.listFieldNames(newPage, newOrderBy.map { orderBy =>
        if(orderBy == currentPage.orderBy) "-" + currentPage.orderBy else orderBy
    }.getOrElse(currentPage.orderBy), currentPage.filter)
}

@rowClickCall(item : JsObject) = @{
    routes.RedCapController.showFieldName(item.value.get("export_field_name").get.as[String]).url
}

@table = {
    @jsonTable(currentPage.items, currentPage.orderBy, displayCall(_, _), None, Some(rowClickCall))
}

@views.html.list(
    "field",
    actions,
    table,
    displayCall,
    currentPage
)