@import standalone.TypeCount
@(title: String, genderData : Seq[(String, Any)])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@main(title) {

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h3>
                @Messages(title)
            </h3>
        </div>

        <div class="panel panel-info">
            <div class="panel-body" style="padding-bottom: 120px;">
                @views.html.pieChart(
                    "Gender",
                    genderData
                )
            </div>
        </div>
    </div>
}