@import views.html.layout

@(
    title: String,
    valueCounts : Seq[(String, Seq[(String, Any)])]
)(
    implicit msg: play.api.i18n.Messages, request: RequestHeader
)

@layout.main(title, false) {

    @layout.importPlotly()

    <div class="page-header">
        <h3>
        @Messages(title)
        </h3>
    </div>

    <div class="panel panel-info">
        <div class="panel-body">
        @valueCounts.map{case(name, data) =>
            @views.html.chart.plotly.pieChart(
                name,
                name,
                data
            )
        }
        </div>
    </div>
}