/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
/*   padding-top: 60px; */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 150px; */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 40px 15px 60px;
}

div > .page-content {
  padding: 40px 15px 60px 10%;
}

.container .text-muted {
  margin: 15px 0;
}

div.footer > .container {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#sidebar-wrapper{

  top: 50px;

  height: 100%;
  width: 10%;

  position: fixed;
  overflow-y: auto;

  background-color: #f5f5f5;

  padding: 10px 10px 10px 10px;
}



code {
  font-size: 80%;
}

.topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

tr.clickable-row {
  cursor: pointer;
}
