@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 50px;
    background-color: #f5f5f2;
}

.content {
    background-color: #fff;
    padding: 20px 40px 20px 40px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.inner-content {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover,
.navbar .nav > li > a:hover,
.navbar .nav > .open > a,
.navbar .nav > .open > a:focus,
.navbar .nav > .open > a:hover {
    background-color: #005BC0;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus,
.navbar .nav > .active > a:hover {
    background-color: #0074D9;
}

.sidebar-nav > li.dataspace {
    margin-top: 10px;
    clear: left;
}

.sidebar-nav > li.dataspace > a,
.sidebar-nav > li.dataspace > a:focus,
.sidebar-nav > li.dataspace > a:hover {
    color: darkgray;
}

.sidebar-nav > li.dataspace > a {
    padding-top: 6px;
    padding-bottom: 6px;
}

.btn-dataspace-expand {
    float: left;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
}

.sidebar-nav > li.dataset > a {
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 10px;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
}

footer {
    padding-top: 10px;
    padding-bottom: 20px;
}

.menu {
    padding-top: 10px;
}

.page-header {
    margin-top: 10px;
}

.container .text-muted {
  margin: 15px 0;
}

code {
  font-size: 80%;
}

.topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

tr.clickable-row {
  cursor: pointer;
}

.typeahead-large.tt-input,
.typeahead-large.tt-hint{
    font-size: 18px;
    height: 54px;
    width: 300px;
}

.messageDivider {
    border-top: 3px dotted #eeeeee !important;
}

.top-padded {
    padding-top: 15px;
}

.green {
    color: green;
}

.btn-clean {
    background-color: transparent;
}

.trollbox {
    background-color: #fff;
    padding: 15px 15px 30px 15px;
    margin-right: 15px;
    margin-top: 15px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    position: fixed;
}

.trollmessagebox {
    max-height:900px;
    overflow-y:auto;
}

.trollbox .tooltip-inner {
    font-size: 16px;
    max-width:300px;
}

.trollbox .alert {
    padding: 2px 10px 2px 10px;
    margin-top: 0px;
    margin-bottom: 0px
}

.trollbox .alert-success,
.trollbox .alert-info {
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
    margin-bottom: 5px
}

.treeDiv {
    max-height:600px;
    overflow-y:auto;
}

.topVerticalAlign {
    vertical-align:top
}

.label-inverse {
    color: #000000;
}

.float-left {
    float: left;
}

.clear-left {
    clear: left;
}

.label-filter {
    vertical-align: middle;
    margin-left: 10px;
}