@import play.api.libs.json.JsObject
@(currentPage: Page[JsObject], currentOrderBy: String, currentFilter: String)(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@views.html.denopa.list(
    "baseline record",
    currentPage,
    currentOrderBy,
    currentFilter,
    List("Line_Nr", "Probanden_Nr", "Geb_Datum", "a_Gruppe", "b_Gruppe"),
    routes.DeNoPaBaselineController.find,
    routes.DeNoPaBaselineController.find(),
    routes.DeNoPaBaselineController.get,
    routes.DeNoPaBaselineController.exportRecordsAsCsv()
)