@import play.api.libs.json.JsObject
@import reactivemongo.bson.BSONObjectID
@import play.modules.reactivemongo.json._

@(domainName : String, currentPage: Page[JsObject], currentOrderBy: String, currentFilter: String, fieldsToShow : Seq[String],
    findCall : (Int, String, String) => Call, plainFindCall : Call, getCall : BSONObjectID => Call,
    exportCsvCall : Call, exportJsonCall : Call, exportTranSMARTDataCall : Call, exportTranSMARTMappingCall : Call)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader
)

@actions = {
    @helper.form(action=plainFindCall, 'role -> "search") {
        <div class="row">
            <div class="col-md-8">
                <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by Probanden Nr...">
                <input type="submit" id="searchsubmit" value="Filter by Probanden Nr" class="btn btn-primary btn-sm">
            </div>
            <div class="col-md-4">
                <div class="pull-right dropdown">
                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export All
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exportCsvModal">
                                Export All as CSV
                            </a>
                        </li>
                        <li>
                            <a href="@exportJsonCall">
                                Export All as JSON
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exportTranSMARTDataModal">
                                Export TransSMART Data
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exportTranSMARTMappingModal">
                                Export TransSMART Mapping
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    @views.html.exportCsvModal("exportCsvModal", "DeNoPa CSV Export", ",", exportCsvCall)
    @views.html.exportCsvModal("exportTranSMARTDataModal", "DeNoPa CSV TranSMART Data Export", "\\t", exportTranSMARTDataCall)
    @views.html.exportCsvModal("exportTranSMARTMappingModal", "DeNoPa CSV TranSMART Mapping Export", "\\t", exportTranSMARTMappingCall)
}

@displayCall(newPage : Int, newOrderBy : Option[String]) = @{
    findCall(newPage, newOrderBy.map { nOrderBy =>
        if (nOrderBy == currentOrderBy) {
            "-" + currentOrderBy
        } else if (("-" + nOrderBy) == currentOrderBy) {
            nOrderBy
        } else nOrderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

@rowClickCall(item : JsObject) = @{
    getCall(item.value.get("_id").get.as[BSONObjectID]).url
}

@table = {
    @jsonTable(currentPage.items, currentOrderBy, displayCall(_, _),
        Some(fieldsToShow),
        Some(rowClickCall)
    )
}

@views.html.list(
    domainName,
    actions,
    table,
    displayCall,
    currentPage,
    currentOrderBy,
    currentFilter
)