@import play.api.libs.json.JsObject
@import reactivemongo.bson.BSONObjectID
@import play.modules.reactivemongo.json._
@(domainName: String)(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@main("First Visit Type Overview") {

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h3>
            @Messages("First Visit Type Overview")
            </h3>
        </div>

        <div class="panel panel-info">
            <div class="panel-body" style="padding-bottom: 120px;">
                <div id="pieChart" class="chart-holder"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#pieChart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Type Stats'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: "Type Count",
                    colorByPoint: true,
                    data: [{
                        name : "null-or-Nas",
                        y :	6982
                    }, {
                        name : "booleans",
                        y :	384
                    }, {
                        name : "number enums",
                        y :	371
                    }, {
                        name : "free numbers",
                        y :	385
                    }, {
                        name : "text enums",
                        y :	393
                    }, {
                        name : "free texts",
                        y :	403
                    }]
                }]
            });
        });


    </script>
}