@import standalone.TypeCount
@import scala.collection.immutable.ListMap

@(typeCount : TypeCount)
    @views.html.chart.pieChart(
        "Type Stats",
        "typeChart",
        ListMap[String, Any](
            "null-or-Nas" -> typeCount.nullOrNa,
            "booleans" -> typeCount.boolean,
            "dates" -> typeCount.date,
            "number enums" -> typeCount.numberEnum,
            "free numbers" -> typeCount.freeNumber,
            "text enums" -> typeCount.textEnum,
            "free texts" -> typeCount.freeText
        ).toSeq
    )