@import views.html.layout
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs, filterWidgetPanel}
@import views.html.chart.highcharts.highchartsJsImport
@import views.html.table.paginatedTable
@import views.html.filter.{filter, filterWithJs}
@import views.html.widget.widgetPanelJs
@import views.html.elements.labelValue
@import util.typeColumns
@import models.DataSpaceMetaInfo
@import models.Field
@import models.Filter
@import controllers.dataset.DataSetWebContext._
@import controllers.dataset.DataSetWebContext
@import models.ml.RegressionResult
@import reactivemongo.bson.BSONObjectID
@import org.incal.play.Page
@import org.incal.core.FilterCondition

@(
    domainName : String,
    dataSetName: String,
    page: Page[RegressionResult],
    conditions: Seq[FilterCondition],
    widgets: Traversable[Widget],
    fieldNameLabelMap: Map[String, String],
    allRegressionRunFields: Traversable[Field],
    mlModelIdNameMap: Map[BSONObjectID, String],
    filterIdNameMap: Map[BSONObjectID, String],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@modalBody = {
    <fieldset>
        @labelValue("targetDataSetId", "Target Data Set Id", false, None, 4) {
            <input id="targetDataSetId" name="targetDataSetId" type="text" value="@{context.dataSetId}_regression">
        }
        @labelValue("targetDataSetName", "Target Data Set Name", false, None, 4) {
            <input id="targetDataSetName" name="targetDataSetName" type="text" value="@dataSetName Regression">
        }
    </fieldset>
}

@nodalButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" id="submitButton" data-dismiss="modal" class="btn btn-primary">OK</button>
}

@actions = {
    <div class="row">
        <div class="col-md-10">
            @filterWithJs(
                Filter(conditions),
                regressionRunRouter.plainList,
                Left(allRegressionRunFields),
                None,
                Some(FilterShowFieldStyle.LabelsOnly)
            )
        </div>
        <div class="pull-right">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-success btn-sm" href="@regressionRunRouter.create" data-toggle="tooltip" title="Launch New Regression">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#exportToDataSetModal" title="Export to Data Set">
                        <span class="glyphicon glyphicon glyphicon-export"></span>
                    </a>
                </li>
                <li>
                @exportDropdown(
                    regressionRunRouter.exportCsv(_, true, None, _, _),
                    regressionRunRouter.exportJson,
                    Left(conditions)
                )()()
                </li>
            </ul>
        </div>
        @modal("exportToDataSetModal", "Export to Data Set", modalBody, Some(regressionRunRouter.exportToDataSet(None, None)), Some(nodalButtons))
    </div>
}

@table = {
    @paginatedTable(
        page,
        regressionRunRouter.list(_, _, conditions),
        typeColumns[RegressionResult](
            (Some("setting-mlModelId"), "ML Model", result => mlModelIdNameMap.get(result.setting.mlModelId).get),
            (Some("setting-filterId"), "Filter", _.setting.filterId.map(filterId => filterIdNameMap.get(filterId).get).getOrElse("")),
            (Some("setting-outputFieldName"), "Output Field", result => fieldNameLabelMap.get(result.setting.outputFieldName).get),
            (Some("testStats-mae-mean"), "Test MAE Mean", result => "%.3f".format(result.testStats.mae.mean)),
            (Some("testStats-mse-mean"), "Test MSE Mean", result => "%.3f".format(result.testStats.mse.mean)),
            (Some("testStats-rmse-mean"), "Test RMSE Mean", result => "%.3f".format(result.testStats.rmse.mean)),
            (Some("testStats-r2-mean"), "Test R2 Mean", result => "%.3f".format(result.testStats.r2.mean)),
            (Some("timeCreated"), "Time Created", _.timeCreated.toString)
        ),
        Some({ item : Any => regressionRunRouter.get(item.asInstanceOf[RegressionResult]._id.get)})
    )
}

@bottomResources = {
    @highchartsJsImport()
    @widgetPanelJs(widgets)
}

@layout.list(
    domainName,
    None,
    page.total,
    Some(actions),
    Some(table),
    Some(filterWidgetPanel("filterDiv", widgets, 6)),
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNavWithJs()),
    None,
    Some(bottomResources)
)