@import views.html.layout.jsonShow
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs}
@import controllers.dataset.DataSetWebContext._
@import controllers.dataset.DataSetWebContext
@import org.incal.spark_ml.models.results.RegressionResult
@import models.ml.regression.RegressionResult.regressionResultFormat
@import play.api.libs.json.Json
@import play.api.libs.json.JsObject

@(
    title: String,
    item: RegressionResult,
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@jsonShow(
    title,
    Json.toJson(item).as[JsObject],
    regressionRunRouter.plainList,
    Some(regressionRunRouter.delete(item._id.get)),
    false,
    Map(),
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNavWithJs())
)