@(
    chartElementName: String,
    chartSpec: BoxChartSpec[_]
)

<div id="@chartElementName" class="chart-holder"></div>

<script type="text/javascript">
        $(function () {
            var isDate = @{chartSpec.data.median.isInstanceOf[java.util.Date]};
            var dataType = (isDate) ? 'datetime' : null;

            var pointFormat = (isDate) ?
                '- Upper 1.5 IQR: {point.high:%Y-%m-%d}<br/>' +
                '- Q3: {point.q3:%Y-%m-%d}<br/>' +
                '- Median: {point.median:%Y-%m-%d}<br/>' +
                '- Q1: {point.q1:%Y-%m-%d}<br/>' +
                '- Lower 1.5 IQR: {point.low:%Y-%m-%d}<br/>'
                :
                '- Upper 1.5 IQR: {point.high}<br/>' +
                '- Q3: {point.q3}<br/>' +
                '- Median: {point.median}<br/>' +
                '- Q1: {point.q1}<br/>' +
                '- Lower 1.5 IQR: {point.low}<br/>'

            $('#@{chartElementName}').highcharts({
                chart: {
                    type: 'boxplot',
                    height: @chartSpec.height.getOrElse(400)
                },
                title: {
                    text:  "@chartSpec.title"
                },
                xAxis: {
                    categories: [''], // @chartSpec.title
                    @*title: {*@
                        @*text: '@chartSpec.title'*@
                    @*}*@
                },
                yAxis: {
                    type: dataType,
                    title: {
                        text: '@chartSpec.yAxisCaption'
                    },
                    min: @if(chartSpec.min.isDefined) {
                            @if(chartSpec.min.get.isInstanceOf[java.util.Date]) {
                                @{chartSpec.min.get.asInstanceOf[java.util.Date].getTime}
                            } else {
                                @{chartSpec.min.get}
                            }
                        } else {
                            null
                        },
                    max: @if(chartSpec.max.isDefined) {
                            @if(chartSpec.max.get.isInstanceOf[java.util.Date]) {
                                @{chartSpec.max.get.asInstanceOf[java.util.Date].getTime}
                            } else {
                                @{chartSpec.max.get}
                            }
                         } else {
                            null
                    },
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    boxplot: {
                        fillColor: '#eeeeee',
                        lineWidth: 2,
                        medianWidth: 3,
                    }
                },
                series: [{
                    name: '@chartSpec.title',
                    data: [[
                        @chartSpec.data.toSeq.map( x => x match {
                            case x: java.util.Date => x.getTime.toString
                            case _ => x.toString
                        }).mkString(",")
                    ]],
                    tooltip: {
                        headerFormat: '<b>{point.series.name}</b><br/>',
                        pointFormat:  pointFormat
                    }
                }]
            });
        });
</script>