@(
    chartElementName: String,
    chartSpec: BoxChartSpec[_]
)

<div id="@chartElementName" class="chart-holder"></div>
<script type="text/javascript">
        $(function () {
            $('#@{chartElementName}').highcharts({
                chart: {
                    type: 'boxplot'
                },
                title: {
                    text:  "@chartSpec.title"
                },
                xAxis: {
                    categories: [''], // @chartSpec.title
                    @*title: {*@
                        @*text: '@chartSpec.title'*@
                    @*}*@
                },
                yAxis: {
                    title: {
                        text: 'Value'
                    }
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: '@chartSpec.title',
                    data: [[
                        @chartSpec.data.lowerWhisker, @chartSpec.data.lowerQuantile, @chartSpec.data.median, @chartSpec.data.upperQuantile, @chartSpec.data.upperWhisker
                    ]],
                    tooltip: {
                        headerFormat: '<b>{point.series.name}</b><br/>',
                        pointFormat:  '- Upper 1.5 IQR: {point.high}<br/>' +
                        '- Q3: {point.q3}<br/>' +
                        '- Median: {point.median}<br/>' +
                        '- Q1: {point.q1}<br/>' +
                        '- Lower 1.5 IQR: {point.low}<br/>'
                    }
                }]
            });
        });
</script>