@import util.BasicStats

@(title : String, chartElementName : String, elements : Seq[(String, Seq[Any])])

// arguments:
// plot title, name fo chart element, sequence of elements [(name, ([lower whisker, lower boxbound, median, upper boxbound, upper whisker])]

<div id="@chartElementName" class="chart-holder"></div>
<script type="text/javascript">
        $(function () {
            $('#@{chartElementName}').highcharts({
                chart: {
                    type: 'boxplot',
                },
                title: {
                    text:  "@title"
                },
                xAxis: {
                    categories: [
                        @elements.map{ case (name, _) => '@name',}
                    ],
                    title: {text: 'Fields'}
                },
                yAxis: {

                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                series: [
                    {
                        name: 'Observations',
                        data: [
                            // extract quantiles from data series
                            @elements.map{case (_, data) =>
                                [@util.BasicStats.quantiles(data)],
                            }
                        ]
                    }
                ]
            });
        });
</script>