@import util.shorten
@import models.Count
@import models.ChartType
@import models.CategoricalChartSpec

@(
    chartElementName: String,
    chartSpec: CategoricalChartSpec
)

<script type="text/javascript">
    $(document).ready(function() {
        var categories = [ @chartSpec.data.head._2.map { case Count(label, _, _) => '@label',}];
        var datas = [@chartSpec.data.map { singleSeries => {
            name: '@singleSeries._1',
            data: [@singleSeries._2.map { case Count(label, count, key) => {
                name: '@shorten(label)',
                y: @count,
                key: '@key'
            }, }]
        }, }];

        var seriesSize = datas.length
        var showLegend = seriesSize > 1
        var height = @chartSpec.displayOptions.height.getOrElse(400)
        var pointFormat = '<span style="color:{point.color}">{point.name} (Count)</span>: <b>{point.y:.2f}</b><br/>'

        $('#@chartElementName').on('chartTypeChanged', function(event, chartType) {
            changeChartType(chartType);
        });

        changeChartType('@chartSpec.displayOptions.chartType');

        function changeChartType(chartType) {
            switch (chartType) {
                case '@ChartType.Pie':
                    var series = datas.map( function(data, index) {
                        var size = (100 / seriesSize) * (index + 1)
                        var innerSize = 0
                        if (index > 0)
                            innerSize = (100 / seriesSize) * index + 1
                        return {name: data.name, data: data.data, size: size + '%', innerSize: innerSize + '%'};
                    });

                    pieChart('@chartSpec.title', '@{chartElementName}', series, @chartSpec.showLabels, @chartSpec.showLegend, height, true, true);
                    break;
                case '@ChartType.Column':
                    var colorByPoint = (seriesSize == 1)
                    var series = datas.map( function(data, index) {
                        return {name: data.name, data: data.data, colorByPoint: colorByPoint};
                    });

                    columnChart('@chartSpec.title', '@{chartElementName}', categories, series, false, '', 'Count', showLegend, pointFormat, height, null, true, true);
                    break;
                case '@ChartType.Bar':
                    var colorByPoint = (seriesSize == 1)
                    var series = datas.map( function(data, index) {
                        return {name: data.name, data: data.data, colorByPoint: colorByPoint};
                    });

                    columnChart('@chartSpec.title', '@{chartElementName}', categories, series, true, '', 'Count', showLegend, pointFormat, height, null, true, true);
                    break;
                case '@ChartType.Line':
                    var series = datas

                    lineChart('@chartSpec.title', '@{chartElementName}', categories, series, '', 'Count', showLegend, pointFormat, height, null, true, true);
                    break;
                case '@ChartType.Polar':
                    var series = datas.map( function(data, index) {
                        return {name: data.name, data: data.data, type: 'area', pointPlacement: 'on'};
                    });

                    polarChart('@chartSpec.title', '@{chartElementName}', categories, series, showLegend, height, null, true, true);
                    break;
            }
        }
    });
</script>