@import util.shorten
@import models.DataPoint
@import models.ChartType
@import models.CategoricalChartSpec

@(
    chartElementName: String,
    chartSpec: CategoricalChartSpec
)

<script type="text/javascript">
    $(document).ready(function() {
        var categories = [ @chartSpec.data.map { case DataPoint(_, _, label) => '@label',}];
        var data = [ @chartSpec.data.map { case DataPoint(key, value, label) => {
            name : '@shorten(label)',
            y : @value,
            key: '@key'
        },}];

        var height = @chartSpec.height.getOrElse(400)

        $('#@chartElementName').on('chartTypeChanged', function(event, chartType) {
            changeChartType(chartType);
        });

        changeChartType('@chartSpec.chartType');

        function changeChartType(chartType) {
            switch (chartType) {
                case '@ChartType.Pie':
                    pieChart('@chartSpec.title', '@{chartElementName}', @chartSpec.showLabels, @chartSpec.showLegend, data, true, true, height);
                    break;
                case '@ChartType.Column':
                    columnChart('@chartSpec.title', '@{chartElementName}', '', 'Count', false, categories, data, true, true, height);
                    break;
                case '@ChartType.Bar':
                    columnChart('@chartSpec.title', '@{chartElementName}', '', 'Count', true, categories, data, true, true, height);
                    break;
                case '@ChartType.Line':
                    lineChart('@chartSpec.title', '@{chartElementName}', '', 'Count', categories, data, true, true, height);
                    break;
                case '@ChartType.Polar':
                    polarChart('@chartSpec.title', '@{chartElementName}', categories, data, true, true, height);
                    break;
            }
        }
    });
</script>