@import util.shorten
@import models.Count
@import models.ChartType
@import models.CategoricalCountWidget$

@(
    elementId: String,
    widget: CategoricalCountWidget
)

<script type="text/javascript">
    $(function () {
        var categories = [ @widget.data.head._2.map { case Count(label, _, _) => '@label',}];
        var datas = [@widget.data.map { singleSeries => {
            name: '@singleSeries._1',
            data: [@singleSeries._2.map { case Count(label, count, key) => {name: '@shorten(label)', y: @count, key: '@key' }, }]
        }, }];

        var seriesSize = datas.length
        var height = @widget.displayOptions.height.getOrElse(400)
        var pointFormat = '<span style="color:{point.color}">{point.name} (Count)</span>: <b>{point.y:.2f}</b><br/>'

        $('#@elementId').on('chartTypeChanged', function(event, chartType) {
            changeCategoricalCountChartType(chartType, categories, datas, seriesSize, '@widget.title', '@{elementId}', @widget.showLabels, @widget.showLegend, height, pointFormat);
        });

        changeCategoricalCountChartType('@widget.displayOptions.chartType', categories, datas, seriesSize, '@widget.title', '@{elementId}', @widget.showLabels, @widget.showLegend, height, pointFormat)
    });
</script>