@(
    title : String,
    chartElementName : String,
    xAxisCaption: Option[String],
    yAxisCaption: Option[String],
    elements : Seq[(String, Any)]
)

<script type="text/javascript">
    (function() {
        var series = [{
            name: '@title',
            colorByPoint: true,
            data: [@elements.map { case (x, y) => @y, }]
        }]

        columnChart(
            '@title',
            '@{chartElementName}',
            '@{xAxisCaption.getOrElse("")}',
            '@{yAxisCaption.getOrElse("")}',
            false,
            [ @elements.map { case (x, y) => '@x',}],
            series
        )
    })()
</script>