@(
    elementId: String,
    widget: HeatmapWidget
)

<script type="text/javascript">
    $(function () {
        var xCategories =  [ @widget.xCategories.map { cat => '@cat', } ]
        var yCategories =  [ @widget.yCategories.map { cat => '@cat', } ]
        var data = [ @widget.data.zipWithIndex.map { case (seq, i) =>
            @seq.zipWithIndex.map { case (value, j) => [@i, @j, @value.getOrElse(0)],}
        }]

        var height = @widget.displayOptions.height.getOrElse(400)
        heatmapChart('@widget.title', '@elementId', xCategories, yCategories, data, height)
    });
</script>