@(useBoost: Boolean = false)(implicit webJarAssets: WebJarAssets)

<script src="@routes.WebJarAssets.at(webJarAssets.locate("highcharts", "highcharts.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate("highcharts", "modules/exporting.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate("highcharts", "modules/heatmap.js"))"></script>
@if(useBoost) {
    <script src="@routes.WebJarAssets.at(webJarAssets.locate("highcharts", "modules/boost.js"))"></script>
}
<script src="@routes.WebJarAssets.at(webJarAssets.locate("highcharts", "highcharts-more.js"))"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/ada-highcharts.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/ada-widgets.min.js")"></script>