@(
    title : String,
    chartElementName : String,
    xAxisCaption: Option[String],
    yAxisCaption: Option[String],
    elements : Seq[(String, Any)]
)

<script type="text/javascript">
    (function() {
        var series = [{
            name: '@title',
            data: [@elements.map { case (x, y) => @y, }]
        }]

        var pointFormat = '<span style="color:{point.color}">{point.x} (Count)</span>: <b>{point.y:.2f}</b><br/>'
        lineChart(
            '@title',
            '@{chartElementName}',
            [@elements.map { case (x, y) => '@x', }],
            series,
            '@{xAxisCaption.getOrElse("")}',
            '@{yAxisCaption.getOrElse("")}',
            false,
            pointFormat
        )
    })()
</script>