@(
    title : String,
    chartElementName : String,
    xAxisCaption: Option[String],
    yAxisCaption: Option[String],
    elements : Seq[(String, Any)]
)

<script type="text/javascript">
    (function() {
        var series = [{
            name: '@title',
            data: [@elements.map { case (x, y) => @y, }]
        }]

        lineChart(
            '@title',
            '@{chartElementName}',
            [@elements.map { case (x, y) => '@x', }],
            series,
            '@{xAxisCaption.getOrElse("")}',
            '@{yAxisCaption.getOrElse("")}'
        )
    })()
</script>