@import util.shorten
@import models.DataPoint
@import models.ChartType
@import models.NumericalChartSpec

@(
    chartElementName : String,
    chartSpec: NumericalChartSpec
)

<script type="text/javascript">
    $(document).ready(function() {
        var categories = [ @chartSpec.data.map { case (x, y) => '@x',}];
        var data = [ @chartSpec.data.map { case (x, y) => {
            name : '@x',
            y : @y
        },}];

        $('#@chartElementName').on('chartTypeChanged', function(event, chartType) {
            changeChartType(chartType);
        });

        changeChartType('@chartSpec.chartType');

        function changeChartType(chartType) {
            switch (chartType) {
                case '@ChartType.Pie':
                    pieChart('@chartSpec.title', '@{chartElementName}', false, false, data, false, true);
                    break;
                case '@ChartType.Column':
                    columnChart('@chartSpec.title', '@{chartElementName}', '@chartSpec.title', 'Count', false, categories, data, false, true);
                    break;
                case '@ChartType.Bar':
                    columnChart('@chartSpec.title', '@{chartElementName}', '@chartSpec.title', 'Count', true, categories, data, false, true);
                    break;
                case '@ChartType.Line':
                    lineChart('@chartSpec.title', '@{chartElementName}', '@chartSpec.title', 'Count', categories, data, false, true);
                    break;
                case '@ChartType.Polar':
                    polarChart('@chartSpec.title', '@{chartElementName}', categories, data, false, true);
                    break;
            }
        }
    });
</script>