@import util.shorten

@(title : String, chartElementName : String, showLabels: Boolean, showLegend: Boolean, elements : Seq[(String, Any)])
    <div id="@chartElementName" class="chart-holder"></div>
    <script type="text/javascript">
        $(function () {
            $('#@{chartElementName}').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: "@title"
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: @showLabels,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                        showInLegend: @showLegend
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: "@title",
                    colorByPoint: true,
                    data: [
                        @elements.map { case (name, value) =>
                            {name : '@shorten(name)', y : @value},
                        }
                    ]
                }]
            });
        });
    </script>