@import util.shorten
@import models.Count

@(
    title: String,
    chartElementName: String,
    showLabels: Boolean,
    showLegend: Boolean,
    elements: Seq[Count]
)

<script type="text/javascript">
    (function() {
        var data = [ @elements.map { case Count(key, value, label) => {
            name : '@shorten(label)',
            y : @value,
            key: '@key'
        },}]

        var series = [{
            name: '@title',
            colorByPoint: true,
            data: data
        }]

        pieChart('@title', '@{chartElementName}', series, @showLabels, @showLegend);
    })()
</script>