@import controllers.dataset.DictionaryRouter
@import views.html.layout
@import views.html.elements._
@import models.{Category, Field}
@import controllers.DataSetWebContext
@import controllers.DataSetWebContext._

@(
    domainName : String,
	form: Form[Field],
	categories: Traversable[Category]
)(
    implicit context: DataSetWebContext
)

@elements = {
    @inputText(domainName, "name", form)
    @inputText(domainName, "label", form)
    @inputText(domainName, "fieldType", form)
    @inputText(domainName, "isArray", form)
    @inputText(domainName, "numValues", form)
    @inputText(domainName, "displayDecimalPlaces", form)
    @inputText(domainName, "displayTrueValue", form)
    @inputText(domainName, "displayFalseValue", form)
    @inputText(domainName, "aliases", form)
    @select(domainName, "categoryId", form, categories.map(cat => (cat._id.get.stringify, cat.name)).toSeq, true)
}

@layout.create(
    domainName,
	form,
    elements,
    dictionaryRouter.save,
    dictionaryRouter.plainList
)