@import controllers.dataset.DictionaryRouter
@import views.html.layout
@import views.html.elements._
@import models.{Category, Field}

@(
    domainName : String,
	form: Form[Field],
	categories: Traversable[Category],
	router : DictionaryRouter
)(
	implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_]
)

@elements = {
    @inputText(domainName, "name", form)
    @inputText(domainName, "fieldType", form)
    @inputText(domainName, "isArray", form)
    @inputText(domainName, "numValues", form)
    @inputText(domainName, "aliases", form)
    @inputText(domainName, "label", form)
    @select(domainName, "categoryId", form, categories.map(cat => (cat._id.get.stringify, cat.name)).toSeq, true)
}

@layout.create(
    domainName,
	form,
    elements,
    router.save,
    router.plainList
)