@import views.html.layout
@import views.html.elements.{inputText, select}
@import views.html.dataset.{datasetSubNav, datasetMenu}
@import controllers.dataset.DictionaryRouter
@import dataaccess.DataSpaceMetaInfo
@import dataaccess.Category

@(
    domainName : String,
    fieldName : String,
    form: Form[dataaccess.Field],
    categories: Traversable[Category],
    router : DictionaryRouter,
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_]
)

@elements = {
    @inputText(domainName, "name", form)
    @inputText(domainName, "fieldType", form)
    @inputText(domainName, "isArray", form)
    @inputText(domainName, "numValues", form, '_label -> "Enum Values")
    @inputText(domainName, "aliases", form)
    @inputText(domainName, "label", form)
    @select(domainName, "categoryId", form, categories.map(cat => (cat._id.get.stringify, cat.name)).toSeq, true)
}

@layout.edit(
    domainName,
	form.errors,
    elements,
    router.update(fieldName),
    router.plainList,
    deleteCall = None,
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNav())
)