@import views.html.layout
@import views.html.elements.{inputText, select}
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs}
@import models.DataSpaceMetaInfo
@import models.Category
@import controllers.dataset.DataSetWebContext._
@import controllers.dataset.DataSetWebContext

@(
    domainName : String,
    fieldName : String,
    form: Form[models.Field],
    categories: Traversable[Category],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@elements = {
    @inputText(domainName, "name", form)
    @inputText(domainName, "label", form)
    @inputText(domainName, "fieldType", form)
    @inputText(domainName, "isArray", form)
    @inputText(domainName, "numValues", form, Seq('_label -> "Enum Values"))
    @inputText(domainName, "displayDecimalPlaces", form)
    @inputText(domainName, "displayTrueValue", form)
    @inputText(domainName, "displayFalseValue", form)
    @inputText(domainName, "aliases", form)
    @select(domainName, "categoryId", form, categories.map(cat => (cat._id.get.stringify, cat.name)).toSeq, true)
}

@layout.edit(
    domainName,
	form.errors,
    elements,
    dictionaryRouter.update(fieldName),
    dictionaryRouter.plainList,
    deleteCall = None,
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNavWithJs())
)