@import views.html.layout
@import views.html.dataset.filterChartPanel
@import views.html.table.paginatedTable
@import models.Field
@import util.FieldChartSpec

@(
    domainName : String,
    page: Page[Field],
    fieldChartSpecs : Iterable[FieldChartSpec],

    router : DictionaryRouter,
    chartGridWidth: Int = 3
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader
)

@actions = {
    <div class="row">
        @filter(page.filter, router.plainList)
    </div>
}

@table = @{
    paginatedTable(
        page,
        router.list(_, _, page.filter),
        Seq(
            ("name", "Name", {item : Any => Html(item.asInstanceOf[Field].name)}),
            ("fieldType", "Type", {item : Any => Html(item.asInstanceOf[Field].fieldType.toString)}),
            ("label", "Label", {item : Any => Html(item.asInstanceOf[Field].label.getOrElse(""))})
        ),
        Some({ item : Any => router.get(item.asInstanceOf[Field].name)})
    )
}

@layout.list(
    domainName,
    page.total,
    actions,
    table,
    Some(filterChartPanel(fieldChartSpecs, chartGridWidth))
)