@import views.html.layout
@import views.html.dataset.{filterChartPanel, datasetSubNav, datasetMenu}
@import views.html.table.paginatedTable
@import views.html.chart.highcharts.highchartsJsImport
@import views.html.chart.chartPanelJs
@import views.html.modal
@import models.Field
@import util.FieldChartSpec
@import util.typeColumns

@import controllers.dataset.DictionaryRouter

@(
    domainName : String,
    page: Page[Field],
    fieldChartSpecs : Iterable[FieldChartSpec],
    router : DictionaryRouter,
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo],
    chartGridWidth: Int = 3
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader
)

@actions = {
    <div class="row">
        <div class="col-md-11">
            @filter(page.filter, router.plainList, Left(Seq("fieldType", "isArray", "label", "name")))
        </div>
        <div class="col-md-1">
            <a class="btn btn-info btn-sm" href="@router.inferDictionary">
                @if(page.total.equals(0l) && page.filter.conditions.isEmpty) {Infer} else {(Re)Infer}
            </a>
        </div>
    </div>
    @if(page.total.equals(0l) && page.filter.conditions.isEmpty) {
        @modal("inferModal", "No Dictionary Found", Html("Do you want to infer one?"), Some(router.inferDictionary))
    }
}

@table = @{
    paginatedTable(
        page,
        router.list(_, _, page.filter),
        typeColumns[Field](
            ("name", "Name", _.name),
            ("fieldType", "Type", _.fieldType),
            ("label", "Label", _.label.getOrElse("")),
            ("category.name", "Category", _.category.map(_.name).getOrElse(""))
        ),
        Some({ item : Any => router.get(item.asInstanceOf[Field].name)})
    )
}

@bottomResources = {
    @highchartsJsImport()
    @chartPanelJs(fieldChartSpecs.map(_.chartSpec))
}

@layout.list(
    domainName,
    page.total,
    actions,
    table,
    Some(filterChartPanel(fieldChartSpecs, chartGridWidth)),
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNav()),
    None,
    Some(bottomResources)
)

<script type="text/javascript">
    $(function () {
        $("#inferModal").modal()
    })
</script>