
@import views.html.elements.editableTextElements

@import org.ada.server.models.Translation
@import org.incal.play.controllers.{WebContext, IdForm}
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.routes
@import views.html.elements._
@import services.request.ActionGraph
@import models.Action
@import views.html.dataset.view.{viewExportDropdown, viewTables, viewCountFilters}
@import views.html.requests.itemsTable
@import views.html.table.paginatedTable
@import reactivemongo.bson.BSONObjectID
@import views.html.table.{displayTable, dynamicTable}
@import org.ada.web.util.typeColumns
@import services.request.RoleProviderService
@import org.ada.web.controllers.dataset.TableViewData
@import org.ada.server.models.{Field, FieldTypeId, Filter}
@import views.html.requests.historyTable
@(
        data: BatchOrderRequest,
        role: Role.Value,
        items: Option[(TableViewData, Filter)]
)(
        implicit context: WebContext
)

@elements = {
@labelValue("request", "DataSet Id") {
    <input type="text" class="form-control" value="@data.dataSetId" readonly="readonly"/>
}

@labelValue("request", "Requested items") {
    @if(items.isDefined) {
        @itemsTable(items.get._1)
    }
}

@labelValue("request", "History") {
    @historyTable(data.history)
}
}

@layout.editActions(
    "Update request status as " + role,
    "request",
    ActionGraph.apply.get(data.state).orElse(Some(Traversable[Action]())).get,
    Some(role),
    data._id.get,
    data.history,
    elements = elements,
    cancelCall = controllers.requests.routes.BatchOrderRequestsController.findActive(),
    None,
    None
)
