@import views.html.elements.editableTextElements
@import org.ada.server.models.Translation
@import org.incal.core.util.toHumanReadableCamel
@import org.incal.play.controllers.{IdForm, WebContext}
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.routes
@import views.html.elements._
@import models.Action
@import views.html.dataset.view.{viewCountFilters, viewExportDropdown, viewTables}
@import views.html.requests.itemsTable
@import views.html.table.paginatedTable
@import reactivemongo.bson.BSONObjectID
@import views.html.table.{displayTable, dynamicTable}
@import org.ada.web.util.typeColumns
@import org.ada.web.controllers.dataset.TableViewData
@import org.ada.server.models.{Field, FieldTypeId, Filter}
@import views.html.requests.historyTable
@import views.html.table.{displayJsonTable, header, pagination}
@import play.api.libs.json.JsObject
@import org.ada.web.controllers.dataset.DataSetWebContext
@import views.html.table.{displayJsonTable, header, pagination}
@import views.html.table.{displayTable, dynamicTable}

@(
    data: BatchOrderRequest,
    validActions: Traversable[Action],
    role: Role.Value,
    items: Traversable[JsObject],
    fieldNames: Traversable[String]
)(
      implicit context: WebContext
)

@elements = {
    @labelValue("request", "DataSet Id") {
        <input type="text" class="form-control" value="@data.dataSetId" readonly="readonly"/>
    }

    @labelValue("request", "Requested items") {
        @itemsTable(items, fieldNames)
    }

    @labelValue("request", "History") {
        @historyTable(data.history)
    }


    <div class="actions pull-right">
        @validActions.filter(a => a.commentNeeded).map { action =>
            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#addDescriptionModal" title="Add decision descr">
            @action.action
            </a>

            @modal("addDescriptionModal", "Add a description of the decision", addDescriptionModalBody, None, Some(addDescriptionModalButtons(action.action)))
        }


        @validActions.filter(a => a.commentNeeded == false).map { action =>
            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#addConfirmModal" title="Add decision descr">
            @action.action
            </a>

            @modal("addConfirmModal", "Confirm the decision", addConfirmModalBody(action.toState), None, Some(addConfirmModalButtons(action.action)))
        }
    </div>
}

@extraBottomResources = {

    @helper.javascriptRouter("requestJsRoutes")(
    controllers.requests.routes.javascript.BatchOrderRequestsController.performAction
    )

    <script type="text/javascript">
        function simpleSubmit(action) {
            var requestAction = requestJsRoutes.controllers.requests.BatchOrderRequestsController.performAction('@data._id.get.stringify', action, '@role')
            submit('post', requestAction.url)
        }

        function submitWithDescription(action) {
            var reasonDescription = $('#addDescriptionModal #decision-reason').val()
            var requestAction = requestJsRoutes.controllers.requests.BatchOrderRequestsController.performAction('@data._id.get.stringify', action, '@role', reasonDescription)
            submit('post', requestAction.url)
        }
    </script>
}


@addDescriptionModalBody = {
    <div class="row">
        <div class="col-md-12">
            <textarea id="decision-reason" name="content" rows="15" cols="65" style="resize:none"></textarea>
        </div>
    </div>
}

@addConfirmModalBody(toState: BatchRequestState.Value) = {
    <div class="row">
        <div class="col-md-12">
           You are about to change the status of this request to <i>@toHumanReadableCamel(toState.toString())</i>, Please confirm.
        </div>
    </div>
}


@addDescriptionModalButtons(action: RequestAction.Value) = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="submitWithDescription('@action')" data-dismiss="modal">OK</button>
}

@addConfirmModalButtons(action: RequestAction.Value) = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="simpleSubmit('@action')" data-dismiss="modal">OK</button>
}

@layout.show(
    "Update request status",
    elements = elements,
    Some(controllers.requests.routes.BatchOrderRequestsController.findActive()),
    None,
    None,
    Some(extraBottomResources),
    isFullDisplayName = true
)