@import views.html.layout
@import views.html.elements.editableTextElements
@import org.ada.server.models.Translation
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext
@import org.ada.web.util.typeColumns
@import org.ada.web.controllers.routes
@import views.html.elements._
@import org.incal.play.Page
@import org.ada.server.models.FilterShowFieldStyle
@import org.ada.web.controllers.dataset.routes
@import org.ada.web.security.AdaAuthConfig
@import views.html.table.{dynamicStringTable, dynamicTableJsImport, dynamicTable}
@import views.html.helper.input
@import views.html.table.dynamicStringTable
@import views.html.table.paginatedTable
@import views.html.dataset.{dynamicFieldTable, dataSetExportDropdown}
@import views.html.table.dynamicTableJsImport
@import reactivemongo.bson.BSONObjectID
@import org.incal.play.controllers.{GenericJsRouter, GenericRouter}
@import views.html.requests.itemsTable
@import org.ada.web.controllers.dataset.DataSetWebContext
@import views.html.dataset.view.{viewExportDropdown, viewTables, viewCountFilters}

@(
	form: Form[BatchOrderRequest]
)(
    implicit context: WebContext
)

@actions = {
	<div class="row">
		<div id="singleFilterDiv" class="col-md-10">
	</div>
}

@elements = {

	@labelValue("request", "DataSet Id") {
		<input type="text" id="dataSetId" name="dataSetId" class="form-control"/>
	}

	<input type="hidden" name="state" value="@BatchRequestState.Created"/>

	<div class="filter-div"></div>
	<div class="table-div"></div>

	@dynamicTableJsImport()
	@typeaheadJsImport()
}

@layout.create(
    "Request",
	"request",
	form = form,
	elements = elements,
	saveCall = controllers.orderrequest.routes.BatchOrderRequestController.save(),
	listCall = controllers.orderrequest.routes.BatchOrderRequestController.findActive()
)