@import views.html.layout
@import views.html.elements.editableTextElements

@import org.ada.server.models.Translation
@import org.incal.play.controllers.{WebContext, IdForm}
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.routes
@import views.html.elements._
@import org.ada.web.util.typeColumns
@import views.html.table.{displayTable, dynamicTable}
@import reactivemongo.bson.BSONObjectID
@import views.html.requests.itemsTable
@import org.ada.web.controllers.dataset.TableViewData
@import views.html.requests.historyTable
@(
        data: IdForm[BSONObjectID, BatchOrderRequest],
        items: Option[TableViewData]
)(
        implicit context: WebContext
)

@elements = {
@inputTextReadonly("request", "dataSetId", data.form)

@select("request", "state", data.form, BatchRequestState.values.map(state=>(state.toString,state.toString)).toSeq, true)


@labelValue("request", "Requested items") {
    @if(items.isDefined) {
        @itemsTable(items.get)
    } else {
        <div class="row">
            No item included
        </div>
    }
}

@labelValue("request", "History") {
    @historyTable(data.form.get.history)
}
}

@layout.edit(
    "Request",
    "request",
    errors = data.form.errors,
    elements = elements,
    updateCall = controllers.requests.routes.BatchOrderRequestsController.update(data.id),
    cancelCall = controllers.requests.routes.BatchOrderRequestsController.listAll(),
    deleteCall = Some(controllers.requests.routes.BatchOrderRequestsController.delete(data.id)),
    None,
    None
)
