@import views.html.layout
@import views.html.elements.editableTextElements
@import org.ada.server.models.Translation
@import org.incal.play.controllers.{WebContext, IdForm}
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.routes
@import views.html.elements._
@import org.ada.web.util.typeColumns
@import views.html.table.{displayTable, dynamicTable}
@import reactivemongo.bson.BSONObjectID
@import views.html.requests.itemsTable
@import org.ada.web.controllers.dataset.TableViewData
@import views.html.requests.historyTable
@import play.api.libs.json.JsObject
@import controllers.orderrequest.routes.{ BatchOrderRequestController => requestRoutes }

@(
    id: BSONObjectID,
    form: Form[BatchOrderRequest],
    requestedItems: Traversable[Seq[String]],
    fieldNames: Seq[String]
)(
    implicit context: WebContext
)

@elements = {
    @inputTextReadonly("request", "dataSetId", form)

    @select("request", "state", form, BatchRequestState.values.map(state => (state.toString, state.toString)).toSeq, true)

    @labelValue("requestedItems", "Requested items") {
        @itemsTable(requestedItems, fieldNames)
    }

    @labelValue("request", "History") {
        @form.value.map(_.history).map(history => historyTable(history)).getOrElse("")
    }
}

@layout.edit(
    "Request",
    "request",
    errors = form.errors,
    elements = elements,
    updateCall = requestRoutes.update(id),
    cancelCall = requestRoutes.listAll(),
    deleteCall = Some(requestRoutes.delete(id))
)