@import play.api.libs.json.{JsObject, JsNull}
@import views.html.table.{header, displayTable}
@import views.html.table.paginatedTable
@import org.incal.core.util.toHumanReadableCamel
@import org.ada.web.util.typeColumns
@import org.ada.web.controllers.dataset.TableViewData

@(
    items: Seq[ActionInfo]
)

@displayTable(
    items,
    typeColumns[ActionInfo](
        (None, "Date", _.timestamp.format("yyyy-MM-dd HH:mm:ss")),
        (None, "By user", _.performedByUser),
        (None, "State", (a: ActionInfo) => toHumanReadableCamel(a.toState.toString())),
        (None, "Comment", _.comment.map(commentArea).getOrElse(""))
    )
)

@commentArea(comment: String) = {
    <div id="commentArea">
        @if(comment.size >= 50) {
            @comment.substring(0, 50)...
            <span style="visibility: hidden;  position: absolute;  display: block; background: white">
                @comment.substring(51, comment.size - 1)
            </span>
        } else {
            @comment
        }
    </div>
}

<script type="text/javascript">
    $("#commentArea").on('mouseover',
        function showFull() {
            $(this).find("span").css("visibility", "visible");
        }
    )

    $("#commentArea").on('mouseout',
        function showTruncted() {
            $(this).find("span").css("visibility", "hidden");
        }
    )
</script>