@import play.api.libs.json.{JsObject, JsNull}
@import views.html.table.{header, displayTable}
@import views.html.table.paginatedTable
@import org.ada.web.controllers.dataset.TableViewData

@(
    items: Traversable[JsObject],
    fieldNames: Traversable[String]
)

@{
  //  if(items.size > 0) {
   //     val fieldNames = items.toSeq(0).fields.map(_.1)

        val columns: Traversable[(Option[String], String, Any => Html)] =
            fieldNames.map { fieldName =>
                (Some(fieldName), fieldName, (x: Any) => {
                    val item = x.asInstanceOf[JsObject]

                //    item.value.get(fieldName).map(value => itemField(value.toString()))
                    itemField(item.value.get(fieldName).getOrElse("").toString())
                })
            }

        displayTable(items, columns)
 //   }
}

@itemField(value: String) = {
    <span>
        @Html(value)
    </span>
}