@import play.api.libs.json.{JsObject, JsNull}
@import views.html.table.{header, displayTable}
@import views.html.table.paginatedTable
@import org.ada.web.controllers.dataset.TableViewData

@(
    items: Traversable[JsObject],
    fieldNames: Traversable[String]
)

@{
    val columns: Traversable[(Option[String], String, Any => Html)] =
        fieldNames.map { fieldName =>
            (Some(fieldName), fieldName, (x: Any) => {
                val item = x.asInstanceOf[JsObject]

                itemField(item.value.get(fieldName).getOrElse("").toString())
            })
        }

    displayTable(items, columns)
}

@itemField(value: String) = {
    <span>
        @Html(value)
    </span>
}