@import org.ada.web.util.typeColumns
@import org.incal.core.FilterCondition
@import org.incal.play.Page
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext
@import views.html.layout
@import views.html.filter.{filter, filterWithJs}
@import views.html.table.paginatedTable
@import reactivemongo.bson.BSONObjectID
@import org.incal.core.ConditionType
@import org.ada.server.models.{User,Field,FilterShowFieldStyle,Filter}
@import views.html.requests.requestTable

@(
    page: Page[(BatchOrderRequest, String, Call )],
    conditions: Seq[FilterCondition]
)(
    implicit context: WebContext
)

@actions = {
    <div class="row">
        <div class="col-md-8">
            @filterWithJs(
                Filter(conditions),
                controllers.requests.routes.BatchOrderRequestsController.findActive(),
                Left(Seq(
                    Field("Status", Some("Status"))
                )),
                None,
                Some(FilterShowFieldStyle.LabelsOnly)
            )
    </div>
}

@layout.list(
    "request",
    None,
    page.total,
    Some(actions),
    Some(requestTable(page,conditions,controllers.requests.routes.BatchOrderRequestsController.find(_, _, conditions))),
    None
)