@import org.ada.web.util.typeColumns
@import org.incal.core.FilterCondition
@import org.incal.play.Page
@import org.incal.play.controllers.WebContext
@import services.request.{ActionGraph, RoleProviderService}
@import views.html.layout
@import views.html.table.paginatedTable
@import reactivemongo.bson.BSONObjectID
@import org.incal.core.ConditionType
@(
        page: Page[(BatchOrderRequest, String, Call )],
        conditions: Seq[FilterCondition]
)(
        implicit context: WebContext
)

    @table = @{
        paginatedTable(
            page,
            controllers.requests.routes.BatchOrderRequestsController.find(_, _, conditions),

            typeColumns[(BatchOrderRequest, String, Call)](
                (Some("createdby"), "Requester name", _._2),
                (Some("timecreated"), "Date", _._1.timeCreated),
                (Some("state"), "Status", _._1.state)
            ),
            Some({ item: Any => item.asInstanceOf[(BatchOrderRequest, String, Call)]._3 })
        )
    }


    @layout.list(
        "request",
        None,
        page.total,
        None,
        Some(table),
        None
    )