@import org.ada.server.models.{Field, Filter}
@import org.incal.play.Page
@import views.html.table.paginatedTable
@import org.incal.core.FilterCondition
@import org.ada.web.util.typeColumns
@import org.incal.core.util.toHumanReadableCamel

@(
    page: Page[(BatchOrderRequest, Option[String], Call)],
    conditions: Seq[FilterCondition],
    refreshCall: (Int, String) => Call,
    isAjaxRefresh : Boolean = false
)(
    implicit request: Request[_]
)

<div class="table-div">
    @paginatedTable(
        page,
        refreshCall,
        typeColumns[(BatchOrderRequest, Option[String], Call)](
            (Some("createdById"), "Requester name", _._2.getOrElse("")),
            (Some("dataSetId"), "Data Set", _._1.dataSetId),
            (Some("timeCreated"), "Date", _._1.timeCreated.format("yyyy-MM-dd HH:mm:ss")),
            (Some("state"), "Status", r => toHumanReadableCamel(r._1.state.toString()))
        ),
        Some({ item: Any => item.asInstanceOf[(BatchOrderRequest, String, Call)]._3 }),
        isAjaxRefresh = isAjaxRefresh
    )
</div>