
@import views.html.elements.editableTextElements

@import org.ada.server.models.Translation
@import org.incal.play.controllers.{WebContext, IdForm}
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.routes
@import views.html.elements._
@import services.request.ActionGraph
@import models.Action
@import org.ada.web.util.typeColumns
@import views.html.table.{displayTable, dynamicTable}
@import reactivemongo.bson.BSONObjectID
@import views.html.table.paginatedTable
@import services.request.RoleProviderService
@import org.ada.web.controllers.dataset.TableViewData
@import play.api.libs.json.JsObject
@import views.html.requests.itemsTable
@import views.html.requests.historyTable
@(
        request: BatchOrderRequest,
        items: Option[TableViewData]
)(
        implicit context: WebContext
)

    @elements = {
   @labelValue("request", "DataSet Id") {
        <input type="text" class="form-control" value="@request.dataSetId" readonly="readonly"/>
    }

    @labelValue("request", "Requested items") {
        @if(items.isDefined) {
            @itemsTable(items.get)
        }
    }

    @labelValue("request", "History") {
       @historyTable(request.history)
    }
    }

    @layout.show(
        "Request status",
        elements = elements,
        Some(controllers.requests.routes.BatchOrderRequestsController.findActive())
    )

