
@import views.html.elements.editableTextElements

@import org.ada.server.models.Translation
@import org.incal.play.controllers.{WebContext, IdForm}
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.routes
@import views.html.elements._
@import services.request.ActionGraph
@import models.Action
@import org.ada.web.util.typeColumns
@import views.html.table.{displayTable, dynamicTable}
@import reactivemongo.bson.BSONObjectID
@import views.html.table.paginatedTable
@import services.request.RoleProviderService
@import org.ada.web.controllers.dataset.TableViewData
@import play.api.libs.json.JsObject
@import views.html.requests.itemsTable
@(
        data: (IdForm[BSONObjectID, BatchOrderRequest]),
        items: Option[TableViewData]
)(
        implicit context: WebContext
)

    @elements = {
    @inputText("request", "dataSetId", data.form)
         <input type="hidden" name="state" value=""/>

    @if(items.isDefined) {
        @itemsTable(items.get)
    }
    }

    @layout.editActions(
        "Request status",
        "request",
        Traversable[Action](),
        None,
        data.form.get._id.get,
        data.form.get.history,
        errors = data.form.errors,
        elements = elements,
        updateCall = controllers.requests.routes.BatchOrderRequestsController.update(data.id),
        cancelCall = controllers.requests.routes.BatchOrderRequestsController.findActive(),
        None,
        None
    )

