@import org.ada.server.models.{Field, Filter}
@import org.incal.play.Page
@import views.html.requests.requestTable
@import org.incal.core.FilterCondition
@import org.ada.web.util.typeColumns
@import org.incal.core.util.toHumanReadableCamel
@import controllers.orderrequest.routes.{ BatchOrderRequestController => requestRoutes }

@(
    page: Page[(BatchOrderRequest, Option[String], Call)],
    conditions: Seq[FilterCondition]
)(
    implicit request: Request[_]
)

@requestTable(
    page,
    conditions,
    (p: Int, o: String) => requestRoutes.getRequestTable(None, Some(p), o, conditions),
    true
)