@import org.ada.web.util.typeColumns
@import org.incal.core.FilterCondition
@import org.incal.play.Page
@import org.incal.play.controllers.WebContext
@import services.request.{ActionGraph, RoleProviderService}
@import views.html.layout
@import views.html.table.paginatedTable
@import reactivemongo.bson.BSONObjectID
@import org.incal.core.ConditionType
@(
        page1: Page[(BatchOrderRequest, String, Call )],
        page2: Page[(BatchOrderRequest, String, Call )],
        conditions: Seq[FilterCondition]
)(
        implicit context: WebContext
)

    @tableOwnedRequest = @{
        paginatedTable(
            page1,
         controllers.requests.routes.BatchOrderRequestsController.findActive(_,page2.page,_, conditions),
            typeColumns[(BatchOrderRequest, String, Call)](
                (Some("createdby"), "Requester name", _._2),
                (Some("timecreated"), "Date", _._1.timeCreated),
                (Some("state"), "Status", _._1.state)
            ),
            Some({ item: Any => item.asInstanceOf[(BatchOrderRequest, String, Call)]._3 })
        )
    }

    @tableRequestsToApprove = @{
        paginatedTable(
            page2,
            controllers.requests.routes.BatchOrderRequestsController.findActive(page1.page,_,_, conditions),
            typeColumns[(BatchOrderRequest, String, Call)](
                (Some("createdby"), "Requester name", _._2),
                (Some("timecreated"), "Date", _._1.timeCreated),
                (Some("state"), "Status", _._1.state)
            ),
            Some({ item: Any => item.asInstanceOf[(BatchOrderRequest, String, Call)]._3 })
        )
    }

        Requests Created

    @layout.list(
        "request",
        None,
        page1.total,
        None,
        Some(tableOwnedRequest),
        None
    )


    Requests to Approve

    @layout.list(
    "request",
    None,
    page2.total,
    None,
    Some(tableRequestsToApprove),
    None
    )