@(
    domainName:  String,
    count: Long,
    actions: Html,
    table: Html,
    charts: Html,
    sideBar: Option[Html] = None
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader
)

@main(Messages("overviewList.title", domainName), sideBar) {

    <div class="page-header">
        <h3>
            @Messages("list.count.title", count, domainName)
        </h3>
    </div>

    @flashMessages()

    <div id="actions">
        @actions
    </div>

    <hr/>

    @charts

    @if(count > 0) {
        <br/> <br/>

        <div align="middle">
            <div class="well">
                <div class="row">
                    <span id="arrowUp" class="glyphicon glyphicon-arrow-up"></span>
                </div>
                <div class="row">
                    <button id="showHideTableButton" type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#table-panel">
                        Hide Table</button>
                </div>
                <div class="row">
                    <span id="arrowDown" class="glyphicon glyphicon-arrow-down" style="display:none"></span>
                </div>
            </div>
        </div>

        <div id="table-panel" class="collapse in">
        @table
        </div>

        <script type="text/javascript">
                var tableShown = true
                $('#showHideTableButton').on('click', function() {
                    if (tableShown) {
                        $('#arrowUp').hide();
                        $('#arrowDown').show();
                        $('#showHideTableButton').html("Show Table");
                    } else {
                        $('#arrowUp').show();
                        $('#arrowDown').hide();
                        $('#showHideTableButton').html("Hide Table");
                    }
                    tableShown = !tableShown;
                });
        </script>
    }
}