@import views.html.layout.formErrors

@(
	domainName : String,
	form: Form[_],
	elements : Html,
	saveCall : Call,
	listCall : Call,
	formArgs: (Symbol,String)*
)(
	implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_]
)

@main(Messages("create.title", domainName), None, None, None, None, Some(formErrors(domainName, form.errors))) {

	<div class="page-header">
		<h2>@Messages("create.title", domainName)</h2>
	</div>

	<div class="row">
		<div class="col-md-12">
		    @helper.form(action = saveCall, formArgs: _*) {
			    <fieldset>
				    @elements
			    </fieldset>

				<hr/>
			    <div class="actions pull-right">
				    <input type="submit" value="Create" class="btn btn-primary">
				    <a href="@listCall" class="btn btn-default">Cancel</a>
			    </div>
		    }
		</div>
	</div>
}