@(form: Form[_], elements : Any, saveCall : Call, listCall : Call)(implicit msg: play.api.i18n.Messages, request: RequestHeader)

@import helper.{inputText, FieldConstructor}
@import util.getDomainName

@defining(getDomainName(form)) { domainName =>

    @main(Messages("create.title", domainName)) {

	    <!-- Begin page content -->
	    <div class="container">

		    <div class="page-header">
			    <h1>@Messages("create.title", domainName)</h1>
		    </div>

            @form.errors.map{ error =>
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @Messages(error.message, Messages(domainName + "../../../public" + error.key))
                </div>
            }

		    <div class="row">
			    <div class="col-md-8">
				    @helper.form(saveCall) {
					    <fieldset>@elements</fieldset>
				
					    <div class="actions">
						    <input type="submit" value="Create this @domainName" class="btn btn-primary">
						    <a href="@listCall" class="btn btn-default">Cancel</a>
					    </div>
				    }
			    </div>
			    <div class="col-md-4">
				    @info()
			    </div>
		    </div>
	    </div>
    }
}