@import views.html.layout.formErrors
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext
@import views.html.filter.{filter => filterUI}
@import org.ada.web.util.typeColumns
@import controllers.requests.{routes => requestRoutes}
@import org.ada.server.models.FilterShowFieldStyle
@import views.html.dataset.filter.dataSetFilter
@import views.html.elements.labelValue
@import views.html.table.dynamicStringTable
@import reactivemongo.bson.BSONObjectID
@import controllers.requests.routes
@import views.html.table.displayTable
@import models.Action
@import models.RequestAction
@import play.api.libs.concurrent.Execution.Implicits.defaultContext
@import scala.concurrent.Future
@(
    displayName: String,
    messagePrefix: String,
    validActions: Traversable[Action],
        role: Option[Role.Value],
        requestId: BSONObjectID,
        trackingHistory: Seq[ActionInfo],
        elements: Html,
        cancelCall: Call,
        sideBar: Option[Html] = None,
        topContentBar: Option[Html] = None,
        bottomResources: Option[Html] = None
)(
    implicit context: WebContext
)



@main(Messages(displayName), sideBar, topContentBar, None, bottomResources) {

    <div class="page-header">
        <h3>@Messages(displayName)</h3>
    </div>

    <div class="row">
        <div class="col-md-12">

            <fieldset>
            @elements
            </fieldset>
            <hr/>
            <div class="actions pull-right">

                @validActions.filter(a => a.commentNeeded /*&& a.allowed == userRole*/ ).map{ action =>
                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#addDescriptionModal" title="Add decision descr">
                    @action.action
                    </a>

                @modal("addDescriptionModal", "Add a description of the decision", addDescriptionModalBody, None, Some(addDescriptionModalButtons(action.action)))
               }

                @validActions.filter(a => a.commentNeeded==false /*&& a.allowed == userRole*/).map{ action =>
                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#addConfirmModal" title="Add decision descr">
                    @action.action
                </a>

                @modal("addConfirmModal", "Confirm the decision", addConfirmModalBody, None, Some(addConfirmModalButtons(action.action)))
              }

                <a href="@cancelCall" class="btn btn-default">Cancel</a>
       </div>

        </div>
    </div>
}


@addDescriptionModalBody = {
    <div class="row">
    @labelValue("content", "Content") {
        <textarea id="decision-reason" name="content" rows="15" cols="65" resize="none"></textarea>
    }
    </div>
}

@addConfirmModalBody = {
    <div class="row">
    </div>
}


@addDescriptionModalButtons(action: RequestAction.Value) = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="submitWithDescription('@action')" data-dismiss="modal">OK</button>
}

@addConfirmModalButtons(action: RequestAction.Value) = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="simpleSubmit('@action')" data-dismiss="modal">OK</button>
}


@helper.javascriptRouter("requestJsRoutes")(
    controllers.requests.routes.javascript.BatchOrderRequestsController.performAction
)

<script type="text/javascript">
        function simpleSubmit(action) {
         var requestAction = requestJsRoutes.controllers.requests.BatchOrderRequestsController.performAction('@requestId.stringify', action, '@role')
            submit('post', requestAction.url)
        }

        function submitWithDescription(action) {
            var reasonDescription = $('#addDescriptionModal #decision-reason').val()
            var requestAction = requestJsRoutes.controllers.requests.BatchOrderRequestsController.performAction('@requestId.stringify', action, '@role', reasonDescription)
            submit('post', requestAction.url)
        }
</script>