@import views.html.layout.formErrors

@(
    domainName: String,
    errors: Seq[FormError],
    elements: Html,
    updateCall: Call,
    cancelCall: Call,
    deleteCall: Option[Call],
    sideBar: Option[Html] = None,
    topContentBar: Option[Html] = None
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader
)

@main(Messages("edit.title", domainName), sideBar, topContentBar) {

    <div class="page-header">
        <h2>@Messages("edit.title", domainName)</h2>
    </div>

    @flashMessages()
    @formErrors(domainName, errors)

    <div class="row">
        <div class="col-md-12">
        @helper.form(updateCall) {
            <fieldset>
                @elements
            </fieldset>

            <div class="actions pull-right">
                <hr/>
                <input type="submit" value="Update" class="btn btn-primary">
                <a href="@cancelCall" class="btn btn-default">Cancel</a>
            </div>
        }
        </div>
    </div>

    @if(deleteCall.isDefined) {
        @helper.form(deleteCall.get, 'class -> "topRight") {
            <input type="submit" value="Delete" class="btn btn-danger">
        }
    }
}