@import controllers.WebContext
@import controllers.WebContext._

@(
    itemName: String,
    title: Option[String],
    count: Long,
    actions: Option[Html],
    table: Html,
    charts: Option[Html] = None,
    sideBar: Option[Html] = None,
    topContentBar: Option[Html] = None,
    topResources: Option[Html] = None,
    bottomResources: Option[Html] = None
)(
    implicit context: WebContext
)

@main(title.getOrElse(Messages("overviewList.title", itemName)), sideBar, topContentBar, topResources, bottomResources) {

    <div class="page-header">
        <h3>
            @Messages("list.count.title", count, itemName)
        </h3>
    </div>

    @if(actions.isDefined) {
        <div id="actions">
            @actions.get
        </div>
        <hr/>
    }

    @if(charts.isDefined){
        @charts.get

        @if(count > 0) {
            @collapsibleElement(table)
        }
    } else {
        @table
    }
}