@(
    domainName: String,
    count: Long,
    actions: Html,
    table: Html,
    sideBar: Option[Html] = None,
    topContentBar: Option[Html] = None
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader
)

@main(Messages("list.title", domainName), sideBar, topContentBar) {

    <div class="page-header">
        <h3>
            @Messages("list.count.title", count, domainName)
        </h3>
    </div>

    @flashMessages()

    <div id="actions">
        @actions
    </div>

    @table
}

