@(
	domainName: String,
	elements: Html,
    cancelCall: Option[Call] = None,
    editCall: Option[Call] = None,
	deleteCall: Option[Call] = None,
	sideBar: Option[Html] = None,
	topContentBar: Option[Html] = None
)(
	implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader
)

@main(Messages("show.title", domainName), sideBar, topContentBar) {

	<div class="page-header">
		<h2>@Messages("show.title", domainName)</h2>
	</div>

	@flashMessages()

	<div class="row">
		<div class="col-md-12">
			<fieldset>
			    @elements
			</fieldset>


            @if(editCall.isDefined || cancelCall.isDefined) {
				<hr/>
                <div class="actions pull-right">
                    @if(editCall.isDefined) {
                        <a href="@editCall.get" class="btn btn-primary">Edit</a>
                    }
                    @if(cancelCall.isDefined) {
                        <a href="@cancelCall.get" class="btn btn-default">Cancel</a>
                    }
					@if(deleteCall.isDefined) {
						<a href="#" class="btn btn-danger" onclick='submit("post", "@deleteCall.get")'>Delete</a>
					}
                </div>
            }
		</div>
	</div>
}