@import views.html.elements.inputText
@import views.html.elements.{labelValue, value}
@import views.html.table.displayTable

@(
    form: Form[DataSpaceMetaInfo],
    dataSetIdSizeMap: Map[String, Int]
)(implicit msg: play.api.i18n.Messages)

@editableInput(key: String, value: Any) = {
    <input type="text" class="form-control" id="@key" name="@key" value="@value">
}

@table = {
    @displayTable(
        form.value.get.dataSetMetaInfos,
        Seq(
            ("name", "Name", { item: Any => editableInput("dataSetMetaInfos.name", item.asInstanceOf[DataSetMetaInfo].name) }),
            ("sortOrder", "Sort Order", { item: Any => editableInput("dataSetMetaInfos.sortOrder", item.asInstanceOf[DataSetMetaInfo].sortOrder) }),
            ("size", "# Items/Patients", { item: Any => Html(dataSetIdSizeMap.get(item.asInstanceOf[DataSetMetaInfo].id).get.toString) })
        ),
        None,
        None,
        Some("dataSetMetaInfos.id", { item: Any => item.asInstanceOf[DataSetMetaInfo]._id.get.stringify })
    )
}

@inputText("dataSpaceMetaInfo", "name", form)
@inputText("dataSpaceMetaInfo", "sortOrder", form)
@value("dataSetMetaInfos", "Time Created", form.value.get.timeCreated.toString)

@labelValue("dataSetMetaInfos", "Data Sets"){@table}