@import views.html.layout
@import views.html.elements.{labelValue, value}
@import views.html.dataset.datasetMenu
@import views.html.table.displayTable
@import controllers.dataset.DataSetRouter
@import util.typeColumns
@import controllers.dataset.routes.{DataSpaceMetaInfoController => dataSpaceMetaInfoRoutes}

@(
    dataSpaceMetaInfo: DataSpaceMetaInfo,
    dataSetIdSizeMap: Map[String, Int],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_]
)

@table = {
    @displayTable(
        dataSpaceMetaInfo.dataSetMetaInfos.sortBy(_.sortOrder),
        typeColumns[DataSetMetaInfo](
            (None, "Name", _.name),
            (None, "# Items/Patients", {info: DataSetMetaInfo => dataSetIdSizeMap.get(info.id).get.toString})
        ),
        None,
        Some({ item : Any => new DataSetRouter(item.asInstanceOf[DataSetMetaInfo].id).plainOverviewList})
    )
}

@elements = {
    @value("dataSpaceMetaInfo", "Name", dataSpaceMetaInfo.name)
    @value("dataSpaceMetaInfo", "Time Created", dataSpaceMetaInfo.timeCreated.toString)
    <hr/>
    @labelValue("dataSetMetaInfos", "Data Sets"){@table}
}

@layout.show(
    "Study",
    elements,
    None,
    Some(dataSpaceMetaInfoRoutes.edit(dataSpaceMetaInfo._id.get)),
    None,
    Some(datasetMenu(dataSpaceMetaInfos)),
    None
)