@import org.ada.web.controllers.dataset.DataSetWebContext
@import org.ada.web.controllers.dataset.DataSetWebContext._
@import controllers.orderrequest.routes.{BatchOrderRequestSettingController => settingRoutes}

@()(implicit context: DataSetWebContext)

@typeaheadJsImport()

<script type="text/javascript">
    $(function () {
        populateIdNameTypeahedFromUrl(
            $('#add_committeeUserIdModal').find('#userTypeahead'),
            $('#add_committeeUserIdModal').find('#userId'),
            '@Html(settingRoutes.userIdAndNames().url)'
        )

        populateIdNameTypeahedFromUrl(
            $('#viewNameTypeahead'),
            $('#viewId'),
            '@Html(context.dataViewRouter.idAndNamesAccessible.url)',
            true
        )
    })
</script>