@import controllers.sampleRequest.routes.{SampleRequestController => sampleRequestRoutes}
@import org.ada.server.models.{DataSetSetting, DataSpaceMetaInfo}
@import org.ada.web.controllers.dataset.{DataSetWebContext, TableViewData}
@import reactivemongo.bson.BSONObjectID
@import services.CatalogueItem
@import views.html.dataset.view.coreView
@(
        catalogueItems: Seq[CatalogueItem],
        dataViewId: BSONObjectID,
        tableViewParts: Seq[TableViewData],
        dataSetSetting: DataSetSetting,
        dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo],
        widgetGridElementWidth: Int
)(
        implicit context: DataSetWebContext
)

@catalogueItemDropdown = {
    <label for="remsCatalogueItemDropdown">REMS Catalogue Items:</label>
    <select id="remsCatalogueItemDropdown" class="form-control">
    @catalogueItems.map { item =>
        <option value='{"id": @item.id, "formId": @item.formId}'>@item.name</option>
    }
    </select>
}

@actions = {
    <button class="btn btn-info btn-sm" type="button" onclick="submitForm();">
        Request Samples
    </button>
    <div class="row">
        <div class="form-group">
        @catalogueItemDropdown
        </div>
        <div id="application-link" style="display: none;" class="form-group">
            <label for="remsLink">Direct Link to Application:</label>
            <a id="remsLink" href="" target="_blank"></a>
        </div>
        <p id="request-error" style="display: none;"></p>
    </div>
}

@extraBottomResources = {
    <script type="text/javascript">
            $(function () {
                // get all the filters available
                var filters = $("#filtersTr").find(".filter-div")
                $("#widgetsTr").html("")
                $.each(filters, function (i, filter) {
                    var td = $("<td style='vertical-align:top'>")
                    var row = $("<div class='row'>")
                    td.append(row)
                    $("#widgetsTr").append(td)
                })
                // generate (refresh) a view for each filter
                $.each(filters, function (index, filter) {
                    $(filter).multiFilter('submitFilter');
                })
            })
            function submitForm() {
                $('#request-error').hide()
                $('#application-link').hide()
                const option = JSON.parse($('#remsCatalogueItemDropdown').val())
                const action = '@Html(sampleRequestRoutes.submitRequest.url)'
                const table = getSelectedRowIds($('#tablesTr .table-div'))
                const selectedIds = []
                $.each(table, function (index, id) {
                    selectedIds.push(id)
                })
                const params = {
                    dataSetId: '@dataSetSetting.dataSetId',
                    'tableColumnNames[]': '@tableViewParts.head.tableFields.map(_.name).toVector.mkString("\t")'.split("\t"),
                    catalogueItemId: option.id,
                    catalogueFormId: option.formId,
                    'selectedIds[]': selectedIds,
                    'conditions[]': $('.filter-div').multiFilter('getModel').map(model => JSON.stringify(model))
                }

                const form = $('<form></form>');
                form.attr("method", "POST");
                form.attr("action", action);
                addParams(form, params)
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function(url) {
                        const a = $('#remsLink')
                        a.text(url)
                        a.attr('href', url)
                        $('#application-link').show()
                    },
                    error: function(ctx) {
                        const p = $('#request-error')
                        p.text(ctx.responseText)
                        p.show()
                    }
                });

            }
    </script>
}

@coreView(
    "Request Samples",
    "Sample",
    dataViewId,
    tableViewParts,
    widgetGridElementWidth,
    dataSetSetting,
    actions,
    Some(extraBottomResources),
    tableRowSelection = true,
    dataSpaceMetaInfos
)