@import controllers.sampleRequest.routes.{SampleRequestController => sampleRequestRoutes}
@import org.ada.server.models.{DataSetSetting, DataSpaceMetaInfo}
@import org.ada.web.controllers.dataset.{DataSetWebContext, TableViewData}
@import reactivemongo.bson.BSONObjectID
@import views.html.dataset.view.coreView
@(
        dataViewId: BSONObjectID,
        tableViewParts: Seq[TableViewData],
        dataSetSetting: DataSetSetting,
        dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo],
        widgetGridElementWidth: Int
)(
        implicit context: DataSetWebContext
)

@actions = {
    <div>
        <div class="form-group">
            <button id="btnSamplesRequest" class="btn btn-info btn-sm" type="button" onclick="submitForm();">
                Request Samples
            </button>
        </div>

        <div id="application-link" class="form-group">
            <label for="podiumLink">Direct Link to Application:</label><br/>
            <a id="podiumLink" href="" target="_blank"></a>
        </div>


        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error during samples submission</h5>
                    </div>
                    <div class="modal-body">
                        <iframe id="errorFrame" style="display: block; width: 100%"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@extraBottomResources = {
    <script type="text/javascript">
            $(function () {
                // get all the filters available
                var filters = $("#filtersTr").find(".filter-div")
                $("#widgetsTr").html("")
                $.each(filters, function (i, filter) {
                    var td = $("<td style='vertical-align:top'>")
                    var row = $("<div class='row'>")
                    td.append(row)
                    $("#widgetsTr").append(td)
                })
                // generate (refresh) a view for each filter
                $.each(filters, function (index, filter) {
                    $(filter).multiFilter('submitFilter');
                })

            });

            let selectedRowMap = new Map();
            let selector = $("#tablesTr .table-div");

            function setSelectedRowMap(id, checkedFlag) {
                if (checkedFlag)
                    selectedRowMap.set(id, checkedFlag)
                else
                    selectedRowMap.delete(id)
            }

            function setAllSelectedRows() {
                selector.find('tbody').find('tr').each(function() {
                    var checked = $(this).find("td input.table-selection[type=checkbox]").is(':checked');
                    var id = $(this).find("#_id").val();
                    setSelectedRowMap(id, checked)
                });
            }

            function setHeaderCheckBox(totalRows, rowSelectedCnt){
                var elemAllSelection = selector
                        .find('thead').find('tr')
                        .find("input.table-selection-all[type=checkbox]");
                if (rowSelectedCnt !== 0 && rowSelectedCnt % totalRows === 0)
                    elemAllSelection.prop('checked', true)
                else
                    elemAllSelection.prop('checked', false)
            }

            function setSelectedRows() {
                var rowSelectedCnt = 0;
                var rows = selector.find('tbody').find('tr')
                var totalRows = rows.length;
                rows.each(function() {
                    var elem = $(this).find("td input.table-selection[type=checkbox]");
                    var id = $(this).find("#_id").val();
                    if(selectedRowMap.has(id)){
                        rowSelectedCnt++
                        elem.prop('checked', selectedRowMap.get(id))
                    }
                });
                setHeaderCheckBox(totalRows, rowSelectedCnt)
            }

            selector.on('change', 'input.table-selection[type=checkbox]', function(){
                var checked = $(this).is(':checked');
                var id = $(this).next().val();
                setSelectedRowMap(id, checked)
                });

            selector.on('change', 'input.table-selection-all[type=checkbox]', () => setAllSelectedRows());

            $(document).on('tableReloaded', () => setSelectedRows());

            function openErrorDialog(text) {
                var errorFrame = $("#errorFrame").contents().find('body');
                errorFrame.html(text);
                $('#errorModal').modal('show');
            }

            function btnLoading(elem) {
                $(elem).attr("data-original-text", $(elem).html());
                $(elem).prop("disabled", true);
                $(elem).html('<i class="spinner-border spinner-border-sm"></i> Please wait ...');
            }

            function btnReset(elem) {
                $(elem).prop("disabled", false);
                $(elem).html($(elem).attr("data-original-text"));
            }

            function submitForm() {
                const action = '@Html(sampleRequestRoutes.submitRequest(dataSetSetting.dataSetId).url)'
                const selectedIds = selectedRowMap.keys();
                const params = {
                    'tableColumnNames[]': '@tableViewParts.head.tableFields.map(_.name).toVector.mkString("\t")'.split("\t"),
                    'selectedIds[]': selectedIds,
                    'conditions[]': $('.filter-div').multiFilter('getModel').map(model => JSON.stringify(model))
                }
                btnLoading("#btnSamplesRequest")
                if(selectedIds.length === 0) {
                    alert("Please select at least one sample.")
                    btnReset("#btnSamplesRequest")
                } else {
                    const form = $('<form></form>');
                    form.attr("method", "POST");
                    form.attr("action", action);
                    addParams(form, params)
                    $.ajax({
                        type: form.attr('method'),
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function(url) {
                            btnReset("#btnSamplesRequest")
                            if (url.includes("<!DOCTYPE html>")) {
                                openErrorDialog(url)
                            } else {
                                const a = $('#podiumLink')
                                a.text(url)
                                a.attr('href', url)
                            }
                        },
                        error: function(ctx) {
                            btnReset("#btnSamplesRequest")
                            openErrorDialog(ctx.responseText)
                        }
                    });
                }
            }
    </script>
}

@coreView(
    "Request Samples",
    "Sample",
    dataViewId,
    tableViewParts,
    widgetGridElementWidth,
    dataSetSetting,
    actions,
    Some(extraBottomResources),
    tableRowSelection = true,
    dataSpaceMetaInfos
)