@import org.ada.web.models.Widget
@import org.ada.web.util.toJsonHtml
@import play.api.Configuration
@import org.ada.web.controllers.dataset.DataSetWebContext._

@(
    widgets : Traversable[Widget])(
    implicit configuration: Configuration, webJarAssets: WebJarAssets
)

@jsWidgetEngineImports(configuration, webJarAssets)

<script type="text/javascript">
    const widgetEngine = @jsWidgetEngine(configuration)

    $(function () {
        const filterElement = $(".filter-div");

        @widgets.map { widget =>
            {
                const w = JSON.parse('@{toJsonHtml(widget)}')
                widgetEngine.plot(w, filterElement)
            }
        }
    });
</script>

