@(notificationInfo: NotificationInfo)

Dear @notificationInfo.targetUser,<br/>
<br/>
you are receiving this email to notify you of a status change in a sample request.<br/>
@notificationInfo.notificationType match {
    case NotificationType.Solicitation => { In your role as <b>@notificationInfo.userRole.toString</b> you are required to take action.<br/> }
}
<br/>
<b>Requester:</b> @notificationInfo.createdByUser<br/>
<b>Dataset:</b> @notificationInfo.dataSetId<br/>
<b>Status:</b> @notificationInfo.toState<br/>
<b>Updated by:</b> @notificationInfo.updatedByUser<br/>
<br/>
View or update the request here: <a href="@notificationInfo.getRequestUrl">@notificationInfo.getRequestUrl</a><br/>
<br/>
[This is an automated message. Please do not respond to it.]