@import views.html.layout
@import views.html.user.elements

@import dataaccess.DataSpaceMetaInfo
@import dataaccess.User

@(
	form: Form[User],
	metaInfos: Traversable[DataSpaceMetaInfo],
	dataSetActionNames: Array[String],
	fieldActionNames: Array[String],
	categoryActionNames: Array[String]
)(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_])

@layout.create(
    "user",
	form,
	elements(form, metaInfos, dataSetActionNames, fieldActionNames, categoryActionNames),
	routes.UserController.save(),
	routes.UserController.listAll()
)