@import views.html.layout
@import views.html.user.elements
@import models.DataSpaceMetaInfo
@import dataaccess.User
@import controllers.core.WebContext._
@import controllers.core.WebContext

@(
    id: reactivemongo.bson.BSONObjectID,
    form: Form[User],
    metaInfos: Traversable[DataSpaceMetaInfo],
    controllerActionNames: DataSetControllerActionNames
)(
    implicit context: WebContext
)

@layout.edit(
    "user",
	form.errors,
    elements(form, metaInfos, controllerActionNames),
	routes.UserController.update(id),
	routes.UserController.listAll(),
    Some(routes.UserController.delete(id)),
    None,
    None
)