@import views.html.layout
@import views.html.user.elements
@import models.DataSpaceMetaInfo
@import dataaccess.User

@(
    id: reactivemongo.bson.BSONObjectID,
    form: Form[User],
    metaInfos: Traversable[DataSpaceMetaInfo],
    dataSetActionNames: Array[String],
    fieldActionNames: Array[String],
    categoryActionNames: Array[String],
    filterActionNames: Array[String],
    dataViewActionNames: Array[String]
)(
    implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_]
)

@layout.edit(
    "user",
	form.errors,
    elements(form, metaInfos, dataSetActionNames, fieldActionNames, categoryActionNames, filterActionNames, dataViewActionNames),
	routes.UserController.update(id),
	routes.UserController.listAll(),
    Some(routes.UserController.delete(id)),
    None,
    None
)