@import views.html.elements.{inputText, labelValue}
@import views.html.table.{dynamicStringTable, dynamicTableJsImport}
@import play.api.i18n.Messages
@import models.DataSpaceMetaInfo
@import models.User

@(
    form: Form[User],
    metaInfos: Traversable[DataSpaceMetaInfo],
    controllerActionNames: DataSetControllerActionNames
)(
    implicit msg: Messages, webJarAssets: WebJarAssets
)

@dynamicTableJsImport()

@addDataSetPermissionModalBody = {
    <div class="row">
        @labelValue("dataSetPermission", "DS Id") {
            <select id="permission-dataSetId" name="permission-dataSetId" class="form-control">
            @metaInfos.flatMap(_.dataSetMetaInfos).toSeq.sortBy(_.id).map { dataSet =>
                <option value="@{dataSet.id}">@{dataSet.id}</option>
            }
            </select>
        }

        @labelValue("dataSetPermission", "Controller") {
            <select id="permission-controller" name="permission-controller" class="form-control" onchange="updateActionItems()">
                <option value="" selected>ALL</option>
                <option value="dataSet">dataSet</option>
                <option value="field">field</option>
                <option value="category">category</option>
                <option value="filter">filter</option>
                <option value="dataview">dataview</option>
                <option value="classificationRun">classificationRun</option>
                <option value="regressionRun">regressionRun</option>
            </select>
        }

        <div id="permission-actionDiv" style="display:none">
            @labelValue("dataSetPermission", "Action") {
                <select id="permission-action" name="permission-action" class="form-control">
                    <option value=""></option>
                </select>
            }
        </div>
    </div>
}

@addDataSetPermissionModalButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="addDataSetPermissionSubmitButton" data-dismiss="modal">OK</button>
}

@extraButtons = {
    <a class="btn btn-info btn-sm" href="#" onclick="$('#addDataSetPermissionModal').modal();return false;" title="Add Data Set Permission">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        DS
    </a>
    @modal("addDataSetPermissionModal", "Add Data Set Permission", addDataSetPermissionModalBody, None, Some(addDataSetPermissionModalButtons))
}

@inputText("user", "name", form)
@inputText("user", "email", form)
@labelValue("user", "Roles"){
    @dynamicStringTable("role", form.value.map(_.roles).getOrElse(Nil))
}
@labelValue("user", "Permissions"){
    @dynamicStringTable("permission", form.value.map(_.permissions.sorted).getOrElse(Nil), false, None, Some(extraButtons), true)
}

@actionNamesAsString(list: Traversable[String]) = @{
    Html(list.map(s => "\"" + s + "\"").mkString(","))
}

<script type="text/javascript">
    $(function () {
        handleModalButtonEnterPressed("addDataSetPermissionModal", "addDataSetPermissionSubmitButton", addDataSetPermission, true)
        $("#permission-controller").val("")
    })

    var dataSetActionNames = [@actionNamesAsString(controllerActionNames.dataSetActions)]
    var fieldActionNames = [@actionNamesAsString(controllerActionNames.fieldActions)]
    var categoryActionNames = [@actionNamesAsString(controllerActionNames.categoryActions)]
    var filterActionNames = [@actionNamesAsString(controllerActionNames.filterActions)]
    var dataViewActionNames = [@actionNamesAsString(controllerActionNames.dataViewActions)]
    var classificationRunActionNames = [@actionNamesAsString(controllerActionNames.classificationRunActions)]
    var regressionRunActionNames = [@actionNamesAsString(controllerActionNames.regressionRunActions)]

    function updateActionItems() {
        var permission_controller = $('#permission-controller').val()
        var actions = []

        switch (permission_controller) {
            case "dataSet":
                actions = dataSetActionNames;
                break;
            case "field":
                actions = fieldActionNames;
                break;
            case "category":
                actions = categoryActionNames;
                break;
            case "filter":
                actions = filterActionNames;
                break;
            case "dataview":
                actions = dataViewActionNames;
                break;
            case "classificationRun":
                actions = classificationRunActionNames;
                break;
            case "regressionRun":
                actions = regressionRunActionNames;
                break;
        }

        if (actions.length == 0)
            $('#permission-actionDiv').hide()
        else
            $('#permission-actionDiv').show()

        populateActions(actions)
    }

    function addDataSetPermission() {
        var dataSetId = $('#permission-dataSetId').val()
        var controller = $('#permission-controller').val()
        var action = $('#permission-action').val()

        var dsPermission = "DS:" + dataSetId
        if (controller) {
            dsPermission = dsPermission + "." + controller
            if (action)
                dsPermission = dsPermission + "." + action
        }

        var values = {};
        values["newItem"] = dsPermission;
        $('#permissionDiv').dynamicTable('addTableRow', values)
    }

    function populateActions(values) {
        $('#permission-action').html("");
        $('#permission-action').append($('<option>', { value : '' }).text('ALL'));
        $.each(values, function(i, val) {
            $('#permission-action').append($('<option>', { value : val }).text(val));
        });
    }
</script>