@import views.html.layout
@import views.html.table.paginatedTable
@import views.html.filter.{filter, filterWithJs}
@import util.typeColumns
@import models.User
@import models.Field
@import models.FilterShowFieldStyle
@import models.Filter
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext
@import org.incal.play.Page
@import org.incal.core.FilterCondition

@(
    page: Page[User],
    conditions: Seq[FilterCondition]
)(implicit context: WebContext)

@actions = {
    <div class="row">
        <div class="col-md-8">
            @filterWithJs(
                Filter(conditions),
                routes.UserController.find(),
                Left(Seq(
                    Field("ldapDn", Some("Id")),
                    Field("email", Some("Email"))
                )),
                None,
                Some(FilterShowFieldStyle.LabelsOnly)
            )
        </div>
        <div class="col-md-4">
            <a class="btn btn-success btn-sm pull-right" id="add" href="@routes.UserController.create()">Add a new user</a>
        </div>
    </div>
}

@table = @{
    paginatedTable(
        page,
        routes.UserController.find(_, _, conditions),
        typeColumns[User](
            (Some("id"), "Id", _.ldapDn),
            (Some("email"), "Email", _.email)
        ),
        Some({ item : Any => routes.UserController.get(item.asInstanceOf[User]._id.get)})
    )
}

@layout.list(
    "user",
    None,
    page.total,
    Some(actions),
    Some(table)
)