@import views.html.layout
@import views.html.table.paginatedTable
@import views.html.filter.{filter, filterWithJs}
@import views.html.elements.labelValue
@import util.typeColumns
@import models.User
@import models.Field
@import models.FilterShowFieldStyle
@import models.Filter
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext
@import org.incal.play.Page
@import org.incal.core.FilterCondition

@(
    page: Page[User],
    conditions: Seq[FilterCondition]
)(implicit context: WebContext)

@modalBody = {
    <fieldset>
        <input id="permissionPrefix" name="permissionPrefix" value="">
    </fieldset>
}

@actions = {
    <div class="row">
        <div class="col-md-8">
            @filterWithJs(
                Filter(conditions),
                routes.UserController.find(),
                Left(Seq(
                    Field("ldapDn", Some("Id")),
                    Field("email", Some("Email"))
                )),
                None,
                Some(FilterShowFieldStyle.LabelsOnly)
            )
        </div>
        <div class="pull-right">
            <div class="dropdown">
                <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@routes.UserController.create()">
                            Add a new user
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#filterByPermissionPrefixModal" title="Filter By Permission Prefix">
                            Filter by permission
                        </a>
                    </li>
                </ul>
            </div>
            @modal("filterByPermissionPrefixModal", "Filter By Permission Prefix", modalBody, Some(routes.UserController.listUsersForPermissionPrefix(None)))
        </div>
    </div>
}

@table = @{
    paginatedTable(
        page,
        routes.UserController.find(_, _, conditions),
        typeColumns[User](
            (Some("id"), "Id", _.ldapDn),
            (Some("email"), "Email", _.email)
        ),
        Some({ item : Any => routes.UserController.get(item.asInstanceOf[User]._id.get)})
    )
}

@layout.list(
    "user",
    None,
    page.total,
    Some(actions),
    Some(table)
)