@import views.html.layout
@import views.html.table.paginatedTable
@import views.html.filter.{filter, filterWithJs}
@import util.typeColumns
@import dataaccess.User
@import models.Field
@import models.FilterShowFieldStyle

@(page: Page[User])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_])

@actions = {
    <div class="row">
        <div class="col-md-8">
            @filterWithJs(
                page.filter,
                routes.UserController.find(),
                Left(Seq(
                    Field("ldapDn", Some("Id")),
                    Field("email", Some("Email"))
                )),
                None,
                Some(FilterShowFieldStyle.LabelsOnly)
            )
        </div>
        <div class="col-md-4">
            <a class="btn btn-success btn-sm pull-right" id="add" href="@routes.UserController.create()">Add a new user</a>
        </div>
    </div>
}

@table = @{
    paginatedTable(
        page,
        routes.UserController.find(_, _, page.filterConditions),
        typeColumns[User](
            (Some("id"), "Id", _.ldapDn),
            (Some("email"), "Email", _.email)
        ),
        Some({ item : Any => routes.UserController.get(item.asInstanceOf[User]._id.get)})
    )
}

@layout.list(
    "user",
    None,
    page.total,
    Some(actions),
    table
)