@import controllers.dataset.DataSetJsRouter

@(
    widgetCallbackId: String,
    widgetGridElementWidth: Int
)(
    implicit request: Request[_]
)

<script type="text/javascript">
    dataSetJsRoutes.controllers.dataset.DataSetDispatcher.getWidgets().ajax( {
        data: {
            "callbackId": '@widgetCallbackId'
        },
        success: function(data) {
            $("#widgetsTr").html("")
            $.each(data, function (i, widgets) {
                var td = $("<td style='vertical-align:top'>")
                var div = $("<div id='widgetsDiv" + i + "' class='col-md-12'>")
                var row = $("<div class='row'>")
                $.each(widgets, function (j, widget) {
                    row.append(widgetDiv(widget, @widgetGridElementWidth))
                })
                td.append(div)
                div.append(row)
                $("#widgetsTr").append(td)
            })
            $.each(data, function (i, widgets) {
                var filterId = "filter" + i
                $.each(widgets, function (j, widget) {
                    genericWidget(widget, filterId)
                })
            })
        },
        error: function(data){
            $("#widgetsTr").html("")
            showErrorResponse(data)
        }
    });
</script>