@import views.html.layout
@import views.html.elements.editableTextElements
@import reactivemongo.bson.BSONObjectID
@import controllers.core.WebContext._
@import controllers.core.{IdForm, WebContext}
@(
    data: IdForm[BSONObjectID, Translation]
)(
    implicit context: WebContext
)

@layout.edit(
    "translation",
	errors = data.form.errors,
    elements = editableTextElements("translation", data.form),
	updateCall = routes.TranslationController.update(data.id),
	cancelCall = routes.TranslationController.listAll(),
    deleteCall = Some(routes.TranslationController.delete(data.id)),
    None,
    None
)