@import views.html.layout
@import views.html.elements.editableTextElements

@(id: reactivemongo.bson.BSONObjectID, form: Form[Translation])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: Request[_])

@layout.edit(
    "translation",
	errors = form.errors,
    elements = editableTextElements("translation", form),
	updateCall = routes.TranslationController.update(id),
	cancelCall = routes.TranslationController.listAll(),
    deleteCall = Some(routes.TranslationController.delete(id))
)