@import views.html.layout
@import views.html.table.paginatedTable

@(page: Page[Translation])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@actions = {
    <div class="row">
        <div class="col-md-8">
            @filter(page.filter, routes.TranslationController.find())
        </div>
        <div class="col-md-4">
            <a class="btn btn-success btn-sm pull-right" id="add" href="@routes.TranslationController.create()">Add a new translation</a>
        </div>
    </div>
}

@table = @{
    paginatedTable(
        page,
        routes.TranslationController.find(_, _, page.filter),
        Seq(
            ("original", "Original", {item : Any => Html(item.asInstanceOf[Translation].original)}),
            ("translated", "Translated", {item : Any => Html(item.asInstanceOf[Translation].translated)})
        ),
        Some({ item : Any => routes.TranslationController.get(item.asInstanceOf[Translation]._id.get)})
    )
}

@layout.list(
    "translation",
    page.total,
    actions,
    table
)