@(currentPage: Page[Translation])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

@**********************************
* Helper generating table headers *
***********************************@

@header(fieldName: String, title: String) = {
    <th class="col header @if(currentPage.orderBy == fieldName){glyphicon glyphicon-chevron-down} @if(currentPage.orderBy == "-" + fieldName){glyphicon glyphicon-chevron-up}">
        <a href="@displayCall(0, Some(fieldName))">@title</a>
    </th>
}

@actions = {
    <div class="row">
        <div class="col-md-8">
            @filter(currentPage.filter, routes.TranslationController.find())
            <!--
                @helper.form(action=routes.TranslationController.find(), 'class -> "navbar-form navbar-left", 'role -> "search") {
                <input type="search" id="searchbox" name="f" value="@currentPage.filter" placeholder="Filter by original entry...">
                <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary btn-sm">
                }
            -->
        </div>
        <div class="col-md-4">
            <a class="btn btn-success btn-sm pull-right" id="add" href="@routes.TranslationController.create()">Add a new translation</a>
        </div>
    </div>
}

@table = {
    <table class="table table-striped">
        <thead>
            <tr>
                @header("original", "Original")
                @header("translated", "Translated")
            </tr>
        </thead>
        <tbody>

        @currentPage.items.map { item =>
            <tr class='clickable-row' data-href='@routes.TranslationController.get(item._id.get)'>
                <td>@item.original</td>
                <td>@item.translated</td>
            </tr>
        }

        </tbody>
    </table>
}

@displayCall(newPage : Int, newOrderBy : Option[String]) = @{
    routes.TranslationController.find(newPage, newOrderBy.map { orderBy =>
        if(orderBy == currentPage.orderBy) "-" + currentPage.orderBy else orderBy
    }.getOrElse(currentPage.orderBy), currentPage.filter)
}

@views.html.list(
    "translation",
    actions,
    table,
    displayCall,
    currentPage
)