@import views.html.layout
@import views.html.table.paginatedTable
@import views.html.filter.{filter, filterWithJs}
@import util.typeColumns
@import models.Field
@import controllers.core.WebContext._
@import controllers.core.WebContext

@(
    page: Page[Translation]
)(
    implicit context: WebContext
)

@actions = {
    <div class="row">
        <div class="col-md-8">
            @filterWithJs(
                page.filter,
                routes.TranslationController.find(),
                Left(Seq(
                    Field("original", Some("Original")),
                    Field("translated", Some("Translated"))
                )),
                None,
                Some(FilterShowFieldStyle.LabelsOnly)
            )
        </div>
        <div class="col-md-4">
            <a class="btn btn-success btn-sm pull-right" id="add" href="@routes.TranslationController.create()">Add a new translation</a>
        </div>
    </div>
}

@table = @{
    paginatedTable(
        page,
        routes.TranslationController.find(_, _, page.filterConditions),
        typeColumns[Translation](
            (Some("original"), "Original", _.original),
            (Some("translated"), "Translated", _.translated)
        ),
        Some({ item : Any => routes.TranslationController.get(item.asInstanceOf[Translation]._id.get)})
    )
}

@layout.list(
    "translation",
    None,
    page.total,
    Some(actions),
    table,
    None
)