@import be.objectify.deadbolt.scala.views.html.restrict
@import dataaccess.User
@import models.security.SecurityRole
@import controllers.core.WebContext
@import controllers.core.WebContext._

@(user: User)(implicit webContext: WebContext)

@layout.main("NCER-PD Home") {
    <!-- Begin page content -->
    <div class="container" style="padding-bottom: 190px;" xmlns="http://www.w3.org/1999/html">
        @userprofile.profileHeader(1)
        <br>
        <div class="row">
            <div class="col-sm-3">
                @userItems("General", Seq(user.ldapDn, user.email))
            </div>
            <div class="col-sm-3">
                @userItems("Roles", user.roles)
            </div>
            <div class="col-sm-3">
                @userItems("Permissions", user.permissions)
            </div>
        </div>
    </div>
}