@import models.security.AbstractUser
@import be.objectify.deadbolt.scala.views.html.restrict
@import models.security.SecurityRoleCache

@(active: Int = 0)(implicit request: Request[Any])

<h2>My Profile</h2>
<ul class="nav nav-tabs">
    <!-- profile header with tabs -->
    <li @if(active==1){class="active"}><a href="@routes.UserProfileController.profile()">Home</a></li>
    <li @if(active==2){class="active"}><a href="@routes.UserProfileController.workspace()">Workspace</a></li>
    <li @if(active==3){class="active"}><a href="">Settings</a></li>
    @restrict(roles = List(Array(SecurityRoleCache.adminRole.getName()))){
        <li @if(active==4){class="active"}><a href="">Admin Panel</a></li>
    }
</ul>