@import models.security.CustomUser
@import be.objectify.deadbolt.scala.views.html.restrict
@import models.security.SecurityRoleCache

@(user: CustomUser)(implicit request: Request[Any])

@layout.main("NCER-PD Home") {
    <!-- Begin page content -->
    <div class="container" style="padding-bottom: 190px;" xmlns="http://www.w3.org/1999/html">
        @userprofile.profileHeader(1)
        <br>
        <div class="row">
            <div class="col-sm-3">
                @userItems("General", user.getProperties)
            </div>
            @{/*<div class="col-sm-3">
                @userItems("Roles", user.roles)
            </div>*/}
            <div class="col-sm-3">
                @userItems("Permissions", user.permissions)
            </div>
        </div>
    </div>
}