@import dataaccess.User
@import models.workspace.Workspace
@import controllers.core.WebContext
@import controllers.core.WebContext._

@(user: User, workspace: Workspace)(implicit webContext: WebContext))

@layout.main(Messages("project.name") + " Home") {
    <!-- user profile header; move to designated template -->
    <div class="container" style="padding-bottom: 190px;" xmlns="http://www.w3.org/1999/html">
        @userprofile.profileHeader(2)
        <br>

        <div class="row">
            <div class="col-sm-3">
                @userItems("Saved Filters", workspace.filters.map{x=>x.toString()})
            </div>

            <div class="col-sm-3">
                @userItems("Saved Tree Projections", workspace.treeProjections.map{x=>x.toString()})
            </div>

            <div class="col-sm-3">
                @userItems("List of Collaborators", workspace.collaborators.members.map{x=>x.toString()})
            </div>
        </div>


    </div>
}