@import models.security.CustomUser
@import be.objectify.deadbolt.scala.views.html.restrict
@import models.security.SecurityRoleCache
@import models.workspace.Workspace


@import play.api.libs.json.JsObject
@(user: CustomUser, workspace: Workspace)(implicit request: Request[Any])

@layout.main("NCER-PD Home") {
    <!-- user profile header; move to designated template -->
    <div class="container" style="padding-bottom: 190px;" xmlns="http://www.w3.org/1999/html">
        @userprofile.profileHeader(2)
        <br>

        <div class="row">
            <div class="col-sm-3">
                @userItems("Saved Filters", workspace.filters.map{x=>x.toString()})
            </div>

            <div class="col-sm-3">
                @userItems("Saved Tree Projections", workspace.treeProjections.map{x=>x.toString()})
            </div>

            <div class="col-sm-3">
                @userItems("List of Collaborators", workspace.collaborators.map{x=>x.toString()})
            </div>
        </div>


    </div>
}