@import org.ada.web.models.LineWidget
@import org.ada.web.util.toChartData

@(
    elementId: String,
    widget: LineWidget[_, _]
)

<script type="text/javascript">
    $(function() {
        var isDate = @{widget.data.headOption.map(_._2.headOption.map(_._1.isInstanceOf[java.util.Date])).flatten.getOrElse(false)};
        var isDouble = @{widget.data.headOption.map(_._2.headOption.map(_._1.isInstanceOf[Double])).flatten.getOrElse(false)};
        var xDataType = (isDate) ? 'datetime' : null;
        var datas = [@toChartData(widget).map { singleSeries => {name: '@singleSeries._1', data: [@singleSeries._2.map { case (x, y) => [@x, @y], }]}, }];

        var seriesSize = datas.length
        var showLegend = seriesSize > 1

        var height = @widget.displayOptions.height.getOrElse(400)
        var pointFormat = function () {
            return numericalPointFormat(isDate, isDouble, this, 3, 3);
        }

        var xMin = (@{widget.xMin.isDefined}) ? @{widget.xMin.getOrElse(0)} : null
        var xMax = (@{widget.xMax.isDefined}) ? @{widget.xMax.getOrElse(0)} : null
        var yMin = (@{widget.yMin.isDefined}) ? @{widget.yMin.getOrElse(0)} : null
        var yMax = (@{widget.yMax.isDefined}) ? @{widget.yMax.getOrElse(0)} : null

        lineChart(
            '@widget.title',
            '@{elementId}',
            null,
            datas,
            '@widget.xAxisCaption',
            '@widget.yAxisCaption',
            showLegend,
            true,
            pointFormat,
            height,
            xDataType,
            false,
            false,
            false,
            xMin,
            xMax,
            yMin,
            yMax
        );
    })
</script>