@import views.html.elements.editableTextElements
@import org.ada.server.models.Translation
@import org.incal.play.controllers.{IdForm, WebContext}
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.routes
@import views.html.elements._
@import models.Action
@import org.ada.web.util.typeColumns
@import views.html.table.{displayTable, dynamicTable}
@import reactivemongo.bson.BSONObjectID
@import views.html.table.paginatedTable
@import org.ada.web.controllers.dataset.TableViewData
@import play.api.libs.json.JsObject
@import views.html.requests.itemsTable
@import views.html.requests.historyTable
@import controllers.orderrequest.routes.{ BatchOrderRequestController => requestRoutes }

@(
    request: BatchOrderRequest,
    items: Traversable[Seq[String]],
    fieldLabels: Seq[String]
)(
    implicit context: WebContext
)

@elements = {
    @labelValue("dataSetId", "DataSet Id") {
        <input type="text" class="form-control" value="@request.dataSetId" readonly="readonly"/>
    }

    @labelValue("requestedItems", "Requested items") {
        @itemsTable(items, fieldLabels)
     }

    @labelValue("history", "History") {
       @historyTable(request.history)
    }
}

@layout.show(
    "Request status",
    elements,
    Some(requestRoutes.findActive())
)