@import views.html.layout
@import views.html.elements._
@import models.Filter
@import controllers.dataset.DataSetWebContext._
@import controllers.dataset.DataSetWebContext

@(
    domainName : String,
	form: Form[Filter]
)(
    implicit context: DataSetWebContext
)

@elements = {
    @inputText(domainName, "name", form)
    @checkbox(domainName, "isPrivate", form)
    @inputText(domainName, "conditions", form)
}

@layout.create(
    domainName,
	form,
    elements,
    filterRouter.save,
    filterRouter.plainList
)