@import views.html.layout
@import views.html.dataset.{filterChartPanel, datasetSubNav, datasetMenu}
@import views.html.table.paginatedTable
@import views.html.filter.filter
@import models.{Filter, Field}
@import util.typeColumns
@import controllers.dataset.FilterRouter
@import models.DataSpaceMetaInfo
@import controllers.DataSetWebContext
@import controllers.DataSetWebContext._

@(
    domainName : String,
    page: Page[Filter],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@actions = {
    <div class="row">
        <div class="col-md-10">
            @filter(
                page.filter,
                filterRouter.plainList,
                Left(Seq(Field("name", None)))
            )
        </div>
        <div class="col-md-2">
            <a class="btn btn-success btn-sm pull-right" href="@filterRouter.create" data-toggle="tooltip" title="Add New Filter">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
}

@table = {
    @paginatedTable(
        page,
        filterRouter.list(_, _, page.filterConditions),
        typeColumns[Filter](
            (Some("name"), "Name", _.name.getOrElse("")),
            (Some("createdById"), "Created By", _.createdBy.map(_.ldapDn).getOrElse("") ),
            (Some("timeCreated"), "Time Created", _.timeCreated.map(_.format("yyyy-MM-dd HH:mm:ss")).getOrElse("")),
            (Some("conditions"), "Conditions", _.conditions.map( condition => s"${condition.fieldName} ${condition.conditionType} ${condition.value}" ).mkString(" AND "))
        ),
        Some({ item : Any => filterRouter.get(item.asInstanceOf[Filter]._id.get)})
    )
}

@layout.list(
    domainName,
    None,
    page.total,
    Some(actions),
    table,
    None,
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNav())
)