@import play.api.libs.json.Json
@import models.{Field, Filter}
@import controllers.dataset.FilterJsRouter

@(
    filter: Option[Filter],
    submitCall: Call,
    fieldsOrCall: Either[Traversable[Field], Call],
    filterJsRouter: Option[FilterJsRouter],
    listFiltersCall: Option[Call],
    filterSubmitParamName: String,
    filterElementName: String,
    createSubmissionJson: Option[Html]
)(
    implicit request: Request[_]
)

@fieldNameLabelsAsString = @{
    fieldsOrCall match {case Left(fields) =>
        Html(
            Json.stringify(
                Json.toJson(
                    fields.map { field =>
                        Json.obj("name" -> field.name, "label" -> field.label)
                    }
                )
            )
        )
    }
}

@fieldsUrl = @{
    fieldsOrCall match {case Right(call) => call.url}
}

@if(filterJsRouter.isDefined) {
    @helper.javascriptRouter("filterJsRoutes")(
        filterJsRouter.get.saveAjax
    )
}

<!-- '
    Widget' part of the JQuery UI lib is sufficient for the filter JS, however for consistence we load the whole JQuery UI
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-ui-1.11.4-widget.min.js")"></script>
-->
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/multiFilter.min.js")"></script>

<script type="text/javascript" defer="defer">
    var jsConditions = JSON.parse('@{Html(Json.stringify(Json.toJson(filter.map(_.conditions).getOrElse(Nil))))}');

    var filterId =
        @if(filter.isDefined && filter.get._id.isDefined) {
            '@filter.get._id.get.stringify'
        } else {
            null
        }

    var fieldNameAndLabels =
        @if(fieldsOrCall.isLeft) {
            JSON.parse('@fieldNameLabelsAsString')
        } else {
            null
        }

    var getFieldsUrl =
        @if(fieldsOrCall.isRight) {
            '@fieldsUrl'
        } else {
            null
        }

    var listFiltersUrl =
        @if(listFiltersCall.isDefined) {
            '@listFiltersCall.get.url'
        } else {
            null
        }

    var createSubmissionJson = @if(createSubmissionJson.isDefined) {@createSubmissionJson} else {null}

    $("#@{filterElementName}").multiFilter({
        jsonConditions: jsConditions,
        fieldNameAndLabels: fieldNameAndLabels,
        getFieldsUrl: getFieldsUrl,
        submitUrl: '@submitCall.url',
        listFiltersUrl: listFiltersUrl,
        filterSubmitParamName: '@filterSubmitParamName',
        filterId: filterId,
        createSubmissionJson: createSubmissionJson
    })
</script>