@import models.ConditionType
@import play.api.libs.json.Json
@import models.FilterShowFieldStyle
@import models.{Field, Filter}
@import controllers.dataset.FilterJsRouter

@(
    filter: Option[Filter],
    submitCall: Call,
    fieldsOrCall: Either[Traversable[Field], Call],
    showFieldStyle: Option[FilterShowFieldStyle.Value] = None,
    filterJsRouter: Option[FilterJsRouter] = None,
    listFiltersCall: Option[Call] = None,
    filterSubmitParamName: String = "filter",
    filterElementName: String = "filterDiv"
)(
    implicit request: Request[_]
)

<!-- need to import css and js first -->
@typeaheadJsImport()

@showChoice(value: FilterShowFieldStyle.Value, text: String) = {
    <li>
        <label class="radio-inline"><input type="radio" name="showChoice" value="@value.id" @if(showFieldStyle.getOrElse(FilterShowFieldStyle.NamesAndLabels) == value) {checked="checked"}>
            <h5 style="padding-left: 10px">
            @text
            </h5>
        </label>
    </li>
}

@saveFilterModalBody = {
    <input id="saveFilterName" name="saveFilterName" value="" placeholder="Filter Name">
}
@saveFilterModelButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" id="submitButton" onclick="$('#@filterElementName').multiFilter('saveFilter');" data-dismiss="modal" class="btn btn-primary">OK</button>
}

@loadFilterModalBody = {
    <input id="filterTypeahead" class="typeahead" style="width: 100%;" type="text" placeholder="Filter Name" value="">
    <input id="filterId" name="filterId" type="hidden" value="">
}

@loadFilterModelButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" id="submitButton" onclick="$('#@filterElementName').multiFilter('loadFilter');" data-dismiss="modal" class="btn btn-primary">OK</button>
}

@valueOrUndefined(condition: FilterCondition) = @{
    condition.valueLabel.getOrElse(condition.value) match {
        case s if s.isEmpty => <i>undefined</i>
        case s => s
    }
}

@conditionPanel(isDisplayed: Boolean) = {
    <ul id="conditionPanel" class="list-inline" @if(!isDisplayed) {style="display:None"}>
        @filter.map{ f =>
            @f.conditions.zipWithIndex.map { case (condition, index) =>
            <li id="condition-full@index" class="condition-full">
                <h4>
                    <span class="condition">
                        <span class="label label-primary">@condition.fieldLabelOrElseName</span>
                        <span><b>@condition.conditionType</b></span>
                        <span class="label label-primary">@valueOrUndefined(condition)</span>
                    </span>
                    <span class="condition-buttons" style="display: none; padding-left: 5px">
                        <button type="button" class="btn btn-sm btn-default" onclick="$('#@filterElementName').multiFilter('showEditConditionModal', '@index')">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-default" onclick="$('#@filterElementName').multiFilter('deleteCondition', '@index')">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            </span>
            </h4>
            </li>
            }.reduceLeftOption((e1: Html, e2: Html) => Html(e1 + "<li>AND</li>" + e2))
        }.getOrElse(Html(""))
        <button type="button" class="btn btn-sm btn-default" onclick="$('#@filterElementName').multiFilter('showAddConditionModal')" data-toggle="tooltip" title="Add Filter Condition">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </ul>
}

<div id="@filterElementName">
    <div class="modal fade" id="addEditConditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add/Edit Condition</h4>
                </div>
                <form onsubmit="return false;">
                    <div class="modal-body">
                        <input id="conditionIndex" type="hidden" value=""/>
                        <div class="row">
                            <div class="float-left col-md-4">
                                <input id="fieldNameTypeahead" class="typeahead" type="text" placeholder="Field Name or Label">
                                <input id="fieldName" type="hidden" value="">
                            </div>
                            <div id="conditionDiv">
                                <select id="conditionType" class="float-left">
                                @ConditionType.values.map{ conditionType =>
                                    <option value="@conditionType">@conditionType</option>
                                }
                                </select>
                                <input id="value" class="float-left" placeholder="Condition"/>
                            </div>
                            <a id="showChoicesButton" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#show-choices" data-toggle="tooltip" title="Field Name/Label Display Options">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div id="show-choices" class="row collapse">
                            <hr/>
                            <div class="well">
                                What do you want to show?
                                <ul class="list-unstyled">
                                    @showChoice(FilterShowFieldStyle.NamesOnly, "Field names only")
                                    @showChoice(FilterShowFieldStyle.LabelsOnly, "Field labels only")
                                    @showChoice(FilterShowFieldStyle.LabelsAndNamesOnlyIfLabelUndefined, "Field labels, and names only if label undefined")
                                    @showChoice(FilterShowFieldStyle.NamesAndLabels, "Both, field names and labels")
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="$('#@filterElementName').multiFilter('addEditConditionFinished')">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <ul class="list-inline">
        <li>
            Filter:
        </li>
        @if(filter.isDefined && filter.get._id.isDefined) {
            <li>
                <button id="filterNameButton" type="button" class="btn btn-sm" onclick="$('#@filterElementName').multiFilter('showConditionPanel')" title="Show Conditions">
                    <h5><b>@filter.get.name.getOrElse("No Name")</b></h5>
                </button>
            </li>
        }
        <li>
        @conditionPanel(!filter.isDefined || !filter.get._id.isDefined)
        </li>
        <li>
            @if(filterJsRouter.isDefined && filter.isDefined && filter.get._id.isEmpty && filter.get.conditions.nonEmpty) {
                <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#saveFilterModal" title="Save Filter">
                    <span class="glyphicon glyphicon glyphicon-save"></span>
                </button>
                @modal("saveFilterModal", "Save Filter", saveFilterModalBody, None, Some(saveFilterModelButtons))
            }

            @if(listFiltersCall.isDefined) {
                <button id="loadFilterButton" type="button" class="btn btn-sm btn-default" onclick="$('#@filterElementName').multiFilter('loadFilterSelectionAndShowModal')" title="Load Filter">
                    <span class="glyphicon glyphicon-book"></span>
                </button>

                @modal("loadFilterModal", "Load Filter", loadFilterModalBody, None, Some(loadFilterModelButtons))
            }
        </li>
    </ul>
</div>

@filterJs(
    filter,
    submitCall,
    fieldsOrCall,
    filterJsRouter,
    listFiltersCall,
    filterSubmitParamName,
    filterElementName
)