@import util.{FilterCondition, ConditionType}
@import play.api.libs.json.Json

@(filter: Seq[FilterCondition], submitCall: Call, fieldNamesOrCall: Either[Traversable[String], Call], saveCall: Option[Call]=None)

<!-- need to import css and js first -->
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/typeahead.min.css")">
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))"></script>

<div class="modal fade" id="addEditConditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/Edit Condition</h4>
            </div>
            <form onsubmit="return false;">
                <div class="modal-body">
                    <input id="conditionIndex" type="hidden" value=""/>
                    <div class="row">
                        <div class="col-md-4">
                            <input id="fieldName" class="typeahead" type="text" placeholder="Field Name">
                        </div>
                        <select id="conditionType" class="col-md-2">
                            @ConditionType.values.map{ conditionType =>
                                <option value="@conditionType">@conditionType</option>
                            }
                        </select>
                        <input id="value" class="col-md-6" placeholder="Condition"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="addEditConditionFinished();">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<ul class="list-inline">
    <li>
         Filter:
    </li>
    @filter.zipWithIndex.map { case (condition, index) =>
        <li id="condition-full@index" class="condition-full">
            <h4>
                <span class="condition">
                    <span class="label label-primary">@condition.fieldName</span>
                    <span>@condition.conditionType</span>
                    <span class="label label-primary">@condition.value</span>
                </span>
                <span class="condition-buttons" style="display: none">
                    <button type="button" class="btn btn-sm btn-default" onclick="showEditConditionModal('@index');">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-default" onclick="deleteCondition('@index');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>
            </h4>
        </li>
    }.reduceLeftOption((e1: Html, e2: Html) => Html(e1 + "<li>AND</li>" + e2))
    <li>
        <button type="button" class="btn btn-sm btn-default" onclick="showAddConditionModal();" data-toggle="tooltip" title="Add Filter Condition">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

        @if(saveCall.isDefined){
            <button type="button" class="btn btn-sm btn-default" onclick="saveCall();">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        }
    </li>
</ul>

@fieldNamesAsString = @{
    fieldNamesOrCall match {case Left(strings) =>
        Html(strings.map(s => "\"" + s + "\"").mkString(","))
    }
}

@getFieldNamesUrl = @{
    fieldNamesOrCall match {case Right(call) => call.url}
}

<script type="text/javascript" defer="defer">
    var jsFilter = JSON.parse('@{Html(Json.stringify(Json.toJson(filter)))}');
    var conditionFields = ["fieldName", "conditionType", "value"];
    var fieldNames = @if(fieldNamesOrCall.isLeft) {
        [@fieldNamesAsString]
    } else {
        null
    }

    if (fieldNames) {
        populateTypeahead($('#fieldName'), fieldNames, false, '_');
    }

    $('#addEditConditionModal').on('shown.bs.modal', function () {
        if ($(this).find("#conditionIndex:first").val())
            $('#condition').focus();
        else
            $('#fieldName').focus();
    })

    $(".condition-full").hover(null, function() {
        var buttons = $(this).find(".condition-buttons").first();
        buttons.fadeOut( 400 );
    });

    $(".condition").click(function() {
        var buttons = $(this).parent().children(".condition-buttons").first();
        buttons.fadeIn( 400 );
    });

    function showAddConditionModal() {
        loadFieldNames();
        $("#addEditConditionModal").find("#conditionIndex").first().val("");

        var condition = {conditionType : "="};
        updateModalFromModel(condition, conditionFields);

        $("#addEditConditionModal").modal('show');
    }

    function showEditConditionModal(index) {
        loadFieldNames();
        $("#addEditConditionModal").find("#conditionIndex").first().val(index);

        var condition = jsFilter[index]
        updateModalFromModel(condition, conditionFields);

        $("#addEditConditionModal").modal('show');
    }

    function addEditConditionFinished() {
        var index =  $("#addEditConditionModal").find("#conditionIndex").val();
        if (index)
            editAndSubmitConditionFromModal(index)
        else
            addAndSubmitConditionFromModal()
    }

    function addAndSubmitConditionFromModal() {
        var condition = { };

        updateModelFromModal(condition, conditionFields);

        addAndSubmitCondition(condition);
    }

    function editAndSubmitConditionFromModal(index) {
        var condition = jsFilter[index];

        updateModelFromModal(condition, conditionFields);
        updateFilterFromModel(index, condition, conditionFields);

        submitFilter();
    }

    function addAndSubmitCondition(condition) {
        jsFilter.push(condition);
        submitFilter();
    }

    function deleteCondition(index) {
        jsFilter.splice(index, 1);
        submitFilter();
    }

    function submitFilter() {
        var params = getQueryParams('@submitCall')
        $.extend(params, {filter: JSON.stringify(jsFilter)});
        submit('get', '@submitCall', params);
    }

    // update functions
    function updateModelFromModal(condition, fields) {
        $.each(fields, function( i, field ) {
            condition[field] = $("#addEditConditionModal").find("#" + field).first().val();
        })
    }

    function updateModalFromModel(condition, fields) {
        $.each(fields,  function( i, field ) {
            $("#addEditConditionModal").find("#" + field).first().val(condition[field]);
        })
    }

    function updateFilterFromModel(index, condition, fields) {
        $.each(fields, function( i, field ) {
            $("#condition-full" + index).find("#" + field).first().html(condition[field]);
        })
    }

    function loadFieldNames() {
        if (!fieldNames) {
            @if(fieldNamesOrCall.isRight) {
                $.ajax({
                    url: '@getFieldNamesUrl',
                    success: function (data) {
                        fieldNames = data;
                        populateTypeahead($('#fieldName'), fieldNames, false, '_');
                    },
                    async: false
                });
            }
        }
    }
</script>