@import play.api.Play.current

<footer>
    <div align="center">
        <hr/>
        <ul class="list-inline">
            <li>
                <a href="@current.configuration.getString("fnr.url").get">
                    <img src="@routes.Assets.versioned("images/logos/fnr.png")" />
                </a>
            </li>
            <li>
                <a href="@current.configuration.getString("chl.url").get">
                    <img src="@routes.Assets.versioned("images/logos/chl.png")" />
                </a>
            </li>
            <li>
                <a href="@current.configuration.getString("lih.url").get">
                    <img src="@routes.Assets.versioned("images/logos/lih.png")" />
                </a>
            </li>
            <li>
                <a href="@current.configuration.getString("ibbl.url").get">
                    <img src="@routes.Assets.versioned("images/logos/ibbl.png")" />
                </a>
            <li>
            <li>
                <a href="@current.configuration.getString("lcsb.url").get">
                    <img src="@routes.Assets.versioned("images/logos/unilu-lcsb.png")" />
                </a>
            </li>
        </ul>
        <hr/>
        <p class="text-muted" align="center">
            Ada (NCER-PD Reporting System), Version @current.configuration.getString("app.version").get
        </p>
        <p class="text-muted" align="center">
            &copy; LCSB, Uni Lux 2016-@(new java.util.Date().format("yyyy"))
        </p>
    </div>
</footer>