@import play.api.Play.current

@()(implicit msg: Messages)

<footer>
    <div align="center">
        <hr/>
        <ul class="list-inline">
        @current.configuration.getObjectList("footer.logos").get.map(_.toConfig).map { logoConfig =>
            <li>
                <a target="_blank" href="@{logoConfig.getString("url")}">
                    <img @if(logoConfig.hasPath("height")) {height="@logoConfig.getInt("height") px" } src="@routes.Assets.versioned(logoConfig.getString("logo"))"/>
                </a>
            </li>
        }
        </ul>
        <hr/>
        <p class="text-muted" align="center">
            Ada (@Messages("project.name") Reporting System), Version @current.configuration.getString("app.version").get
        </p>
        <p class="text-muted" align="center">
            &copy; <a target="_blank" href="@current.configuration.getString("unilu.url").get">Université du Luxembourg</a> 2016-@(new java.util.Date().format("yyyy")). All rights reserved.
        </p>
    </div>
</footer>