@import views.html.layout.main
@import views.html.elements.{value => elementValue}
@import play.api.libs.json.{JsObject, JsNull}
@import util.JsonUtil.unescapeKey

@(
	domainName : String,
	item: JsObject,
	listCall : Call,
	nonNullOnly : Boolean = true,
	sideBar : Option[Html] = None
)(
	implicit msg: play.api.i18n.Messages, request: RequestHeader
)

@main(Messages("show.title", domainName), sideBar) {

	<div class="page-header">
		<h1>@Messages("show.title", domainName)</h1>
	</div>

	<div class="row">
		<div class="col-md-9">
			<fieldset>
			@item.fields.map { case (key, value) =>
				@if(!nonNullOnly || value != JsNull) {
					@elementValue(key, attributeLabel(domainName, unescapeKey(key).take(35)), value.asOpt[String].getOrElse(value.toString()), false)
				}
			}
			</fieldset>

			<div class="actions" align="center">
				<a href="@listCall" class="btn btn-default">Go Back</a>
			</div>
		</div>
		<div class="col-md-3">
			@info()
		</div>
	</div>
}