@import play.api.libs.json.{JsObject, JsNull}
@(items : Traversable[JsObject], currentOrderBy: String, displayCall : (Int, Option[String]) => Any, fieldsToShow : Option[Seq[String]] = None, rowClickCall : Option[JsObject => Any] = None)(implicit request: RequestHeader)

@header(fieldName: String, title: String) = {
	<th class="col header @if(currentOrderBy == fieldName){glyphicon glyphicon-chevron-down} @if(currentOrderBy == "-" + fieldName){glyphicon glyphicon-chevron-up}">
		<a href="@displayCall(0, Some(fieldName))">@title</a>
	</th>
}

<table class="table table-striped">
	<thead>
		<tr>
            @if(fieldsToShow.isDefined) {
                @fieldsToShow.get.map { field =>
                    @header(field, field.capitalize)
                }
            } else {
                @items.headOption.map { item =>
                    @item.fields.map { field =>
                        @header(field._1, field._1.capitalize)
                    }
                }
            }
		</tr>
	</thead>
	<tbody>
    	@items.map { item =>
	    	<tr class='@if(rowClickCall.isDefined) {clickable-row}' data-href='@if(rowClickCall.isDefined){@rowClickCall.get(item)}'>
		    	@item.fields.map { field =>
                    @if(!fieldsToShow.isDefined || fieldsToShow.get.contains(field._1)) {
                        <td>
                            @if(field._2 != JsNull) {@field._2.asOpt[String].getOrElse(field._2)}
                        </td>
                    }
                }
		    </tr>
	    }
	</tbody>
</table>
