@(domainName : String, actions: Html, table : Html, displayCall : (Int, Option[String]) => Any, currentPage: Page[_])(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages, request: RequestHeader)

    @main(Messages("list.title", domainName)) {

        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h3>
                    @Messages("list.count.title", currentPage.total, domainName)
                </h3>
            </div>

            @flash.get("success").map { message =>
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Well done!</strong> @message
                </div>
            }

            <div id="actions">
                @actions
            </div>

            @if(!currentPage.items.isEmpty) {
                @table
                <hr/>
                @pagination(displayCall, currentPage)
            } else {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <em>Nothing to display</em>
                    </div>
                </div>
            }
        </div>
    }

