@()(implicit request: RequestHeader)
@main("NCER-PD Home") {

    <!-- Begin page content -->
    <div class="container" style="padding-bottom: 190px;" xmlns="http://www.w3.org/1999/html">
        <div class="page-header">
            <h1>Welcome to NCER-PD Data and Computing Platform</h1>
        </div>

        @{/*helper.form(action=router.plainFindCall, 'role -> "search")*/}
            <div class="login well well-lg col-md-6">
                <form role="form">
                    <div class="form-group row">
                        <label for="user"> User name: <br></label>
                        <input type="email" class="form-control" id="user" name="user" value="" placeholder="Enter user name">
                    </div>
                    <div class="form-group row">
                        <label for="password"> Password: <br></label>
                        <input type="password" class="form-control" id="password" name="pwd" value="" placeholder="Enter password">
                    </div>
                    <div class="col-md-12 row">
                        <input type="submit" id="submit" value="Login" class="btn btn-primary btn-sm btn-block">
                    </div>
                </form>
            </div>
    </div>
}