@import play.api.Play.current
@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-united", "bootstrap.min.css"))">
		
		@* Optional theme *@
		@* <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap", "bootstrap-theme.min.css"))"> *@
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
			<!-- HighCharts -->
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>

		<script src="http://code.highcharts.com/highcharts-more.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.js"))"></script>
	      <script src="@routes.WebJarAssets.at(WebJarAssets.locate("respond.min.js"))"></script>
	    <![endif]-->
		
    </head>
    <body>
    
    	<!-- Fixed navbar -->
	    @navbar(request)
	    
        @content

	    <div id="footer">

	      <div class="container">
            <p class="text-muted" align="center">NCER-PD Data and Computing Platform, Version 0.0.3<img style="float: right;" src="@routes.Assets.at("images/LCSB_logo.png")" /></p>
            <p class="text-muted" align="center">&copy; LCSB 2015</p>
		</div>
	    </div>
        
        <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->

	    
	    <!-- Latest compiled and minified JavaScript -->
		<script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-united", "bootstrap.min.js"))"></script>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/rowClickable.js")"></script>
    </body>
</html>
