@import play.api.Play.current
@import util.matchesPath
@import be.objectify.deadbolt.scala.views.html.{subjectPresent, subjectPresentOr, restrict}
@import models.security.SecurityRole

@(implicit request: Request[_])

@listItem(call: Call, text: String, matchPrefixDepth : Option[Int] = None) = {

    <li @if(matchesPath(call.url, request.path, matchPrefixDepth)) {
        class="active"}>
        <a href="@call">@text</a>
    </li>
}

<div class="navbar navbar-inverse navbar-fixed-top navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.AppController.index()">Ada</a>
        </div>

        <div id="navigation" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @subjectPresent() {
                    @listItem(routes.AppController.studies(), "Studies", Some(1))
                }
                @restrict(roles = List(Array(SecurityRole.admin))) {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @listItem(routes.TranslationController.find(), "DE-EN Translations", Some(3))
                            <li role="separator" class="divider"></li>
                            @listItem(routes.RedCapController.listRecords(), "LuxPark REDCap Records")
                            @listItem(routes.RedCapController.listMetadatas(), "LuxPark REDCap Metadata")
                            @listItem(routes.RedCapController.listExportFields(), "LuxPark REDCap Export Fields")
                            @listItem(routes.RedCapController.overview(), "LuxPark REDCap Overview")
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ML<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @listItem(controllers.ml.routes.ClassificationController.find(), "Classification Specs")
                            @listItem(controllers.ml.routes.RegressionController.find(), "Regression Specs")
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @listItem(controllers.dataset.routes.DataSetImportController.find(), "Data Set Imports")
                            @listItem(controllers.dataset.routes.DataSetSettingController.find(), "Data Set Settings")
                            <li role="separator" class="divider"></li>
                            @listItem(routes.UserController.listAll(), "Users")
                            @listItem(routes.LdapUserController.listAll, "LDAP User")
                            @listItem(routes.LdapController.settings(), "LDAP Settings")
                            <li role="separator" class="divider"></li>
                            @listItem(routes.AdminController.listRunnables(), "Runnables")
                        </ul>
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">

                @subjectPresent() {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Links<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@current.configuration.getString("redcap.testserver.url").get">
                                RedCap Test Server</a></li>
                            <li><a href="@current.configuration.getString("redcap.prodserver.url").get">
                                NCER RedCap Server</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@current.configuration.getString("denopa.url").get">DeNoPa Home</a></li>
                            <li><a href="@current.configuration.getString("ppmi.url").get">PPMI Home</a></li>
                            <li><a href="@current.configuration.getString("mpower.url").get">mPower Home</a></li>
                            <li><a href="@current.configuration.getString("mpower.app.url").get">
                                mPower Hackathon App</a></li>
                            <li><a href="@current.configuration.getString("icgc.url").get">ICGC Home</a></li>
                        </ul>
                    </li>
                }

                @listItem(routes.AppController.contact(), "Contact", Some(1))

                <li>
                    <!-- show login link, if no subject present; otherwise show user dropdown list -->
                    @subjectPresentOr() {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.UserProfileController.profile()">My Profile</a></li>
                                <li><a href="@routes.UserProfileController.workspace()">My Workspace</a></li>
                                <li><a href="@routes.UserProfileController.settings()">Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@routes.AuthController.logout()">Logout&#160;&#160;&#160;<span class="glyphicon glyphicon-log-out"></span></a></li>
                            </ul>
                        </li>
                    }{
                        <a href="@routes.AuthController.login">Login&#160;&#160;&#160;<span class="glyphicon glyphicon-log-in"></span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("li.dropdown").each(function () {
            if ($(this).find("li.active").size() > 0)
                $(this).addClass("active")
        });
    })
</script>