@import standalone.TypeCount
@(typeCount : TypeCount)
    <div id="pieChart" class="chart-holder"></div>
    <script type="text/javascript">
        $(function () {
            $('#pieChart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Type Stats'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: "Type Count",
                    colorByPoint: true,
                    data: [{
                        name : "null-or-Nas",
                        y :	@typeCount.nullOrNa
                    }, {
                        name : "booleans",
                        y :	@typeCount.boolean
                    }, {
                        name : "dates",
                        y :	@typeCount.date
                    }, {
                        name : "number enums",
                        y :	@typeCount.numberEnum
                    }, {
                        name : "free numbers",
                        y :	@typeCount.freeNumber
                    }, {
                        name : "text enums",
                        y :	@typeCount.textEnum
                    }, {
                        name : "free texts",
                        y :	@typeCount.freeText
                    }]
                }]
            });
        });
    </script>