@import play.api.Play.current
@import controllers.denopa.{routes => denoparoutes}

@(implicit request: RequestHeader)
<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav nav-list bs-docs-sidenav">

        <li class="sidebar-brand">
            <a href="@routes.AppController.index()">NCER-PD</a>
        </li>

        <li>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">LuxPark</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            @listGroupItem("Overview", Some(routes.LuxParkController.overview()))
                            @listGroupItem("Records", Some(routes.LuxParkController.find()))
                            @listGroupItem("Types", Some(routes.LuxParkController.overviewFieldTypes()))
                        </ul>
                    </div>
                </div>
            </div>

        </li>

        <li>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">DeNoPa Baseline</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li role="separator" class="list-group-item divider"><i>Curated</i></li>
                            @listGroupItem("Overview", Some(denoparoutes.DeNoPaCuratedBaselineController.overview()))
                            @listGroupItem("Records", Some(denoparoutes.DeNoPaCuratedBaselineController.find()))
                            @listGroupItem("Types", Some(denoparoutes.DeNoPaCuratedBaselineController.overviewFieldTypes()))
                            <li role="separator" class="list-group-item divider"><i>Raw</i></li>
                            @listGroupItem("Overview", Some(denoparoutes.DeNoPaBaselineController.overview()))
                            @listGroupItem("Records", Some(denoparoutes.DeNoPaBaselineController.find()))
                            @listGroupItem("Types", Some(denoparoutes.DeNoPaBaselineController.overviewFieldTypes()))
                        </ul>
                    </div>
                </div>
            </div>

        </li>
        <li>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse4">DeNoPa First Visit</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li role="separator" class="list-group-item divider"><i>Curated</i></li>
                            @listGroupItem("Overview", Some(denoparoutes.DeNoPaCuratedFirstVisitController.overview()))
                            @listGroupItem("Records", Some(denoparoutes.DeNoPaCuratedFirstVisitController.find()))
                            @listGroupItem("Types", Some(denoparoutes.DeNoPaCuratedFirstVisitController.overviewFieldTypes()))
                            <li role="separator" class="list-group-item divider"><i>Raw</i></li>
                            @listGroupItem("Overview", Some(denoparoutes.DeNoPaFirstVisitController.overview()))
                            @listGroupItem("Records", Some(denoparoutes.DeNoPaFirstVisitController.find()))
                            @listGroupItem("Types", Some(denoparoutes.DeNoPaFirstVisitController.overviewFieldTypes()))
                        </ul>
                    </div>
                </div>
            </div>

        </li>

        <li>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">LuxPark REDCap Server</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            @listGroupItem("Overview", Some(routes.RedCapController.overview()))
                            @listGroupItem("Records", Some(routes.RedCapController.listRecords()))
                            @listGroupItem("Fields", Some(routes.RedCapController.listFieldNames()))
                            @listGroupItem("Metadata", Some(routes.RedCapController.listMetadatas()))
                        </ul>
                    </div>
                </div>
            </div>

        </li>

    </ul>
</div>