@import models.DataSetMetaInfo
@import scala.util.Random

@import controllers.dataset.{DataSetRouter, DictionaryRouter, CategoryRouter}

@(metaInfo: DataSetMetaInfo)(implicit request: RequestHeader)

@defining((
    Random.nextLong(),
    new DataSetRouter(metaInfo.id),
    new DictionaryRouter(metaInfo.id),
    new CategoryRouter(metaInfo.id)
)) { case (panelId, dataSetRouter, dictionaryRouter, categoryRouter) =>
    <li>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse@panelId">@metaInfo.name</a>
                    </h4>
                </div>
                <div id="collapse@panelId" class="panel-collapse collapse in">
                    <ul class="list-group">
                        @listGroupItem(dataSetRouter.plainOverviewList, "Overview")
                        @listGroupItem(dictionaryRouter.plainList, "Dictionary")
                        @listGroupItem(categoryRouter.plainList, "Category Tree")
                        @listGroupItem(dataSetRouter.getDistribution, "Distribution")
                        @listGroupItem(dataSetRouter.getScatterStats, "Scatter Analysis")
                    </ul>
                </div>
            </div>
        </div>
    </li>
}