@import models.DataSetMetaInfo

@import controllers.dataset.{DataSetRouter, DictionaryRouter}

@(metaInfo: DataSetMetaInfo)(implicit request: RequestHeader)

@defining(scala.util.Random.nextLong()) { panelId =>
    <li>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse@panelId">@metaInfo.name</a>
                    </h4>
                </div>
                <div id="collapse@panelId" class="panel-collapse collapse in">
                    <ul class="list-group">
                        @listGroupItem(DataSetRouter(metaInfo.id).plainOverviewList, "Overview")
                        @listGroupItem(DictionaryRouter(metaInfo.id).plainList, "Dictionary")
                        @listGroupItem(DataSetRouter(metaInfo.id).getDistribution, "Distribution")
                        @listGroupItem(DataSetRouter(metaInfo.id).getScatterStats, "Scatter Analysis")
                    </ul>
                </div>
            </div>
        </div>
    </li>
}