@import controllers.routes.javascript.{MessageController => messageJsRoutes}

@()(implicit req: play.api.mvc.RequestHeader, webJarAssets: WebJarAssets)

@helper.javascriptRouter("jsMessageRoutes")(
    messageJsRoutes.saveUserMessage,
    messageJsRoutes.listMostRecent
)
<script src="@routes.WebJarAssets.at(webJarAssets.locate("Autolinker.js", "Autolinker.min.js"))"></script>
<script type="text/javascript" defer="defer">
    $(function() {
        $('.trollmessagebox').css('max-height',$(window).height() - 220);

        jsMessageRoutes.controllers.MessageController.listMostRecent(15).ajax( {
            success: function(data) {
                $.each(data.reverse(), function(index, json) {
                    prependTrollboxJsonMessage(json, false);
                });
                $("#trollmessagebox").scrollTop($(document).height());
                registerMessageEventSource('@routes.MessageController.eventStream.url');
            },
            error: function(data){
                console.log(data);
            }
        })
    });

    $("#shoutmessage").keydown(function(event) {
        if (event.keyCode == 13) {
            var message = $("#shoutmessage").val();
            jsMessageRoutes.controllers.MessageController.saveUserMessage(message).ajax( {
                success: function() {
                    $("#shoutmessage").val("");
                },
                error: function(data){
                    $("#shoutmessage").val(data.responseText);
                }
            });
        }
    });
</script>