@import controllers.core.WebContext
@import controllers.core.WebContext._

@(
    modalId: String,
    itemId: String,
    itemText: String,
    idAndNamesCall: Call,
    submitCall: Option[Call] = None
)(
    implicit context: WebContext
)

@modalBody = {
    <input id="@{itemId}Typeahead" class="typeahead" style="width: 100%;" type="text" placeholder="@itemText" value="">
    <input id="@{itemId}Id" name="@{itemId}Id" type="hidden" value="">
}

@modalButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
@if(submitCall.isDefined) {
    <button type="submit" id="submitButton" data-dismiss="modal" class="btn btn-primary">OK</button>
} else {
    <button type="button" id="submitButton" data-dismiss="modal" class="btn btn-primary">OK</button>
}
}

@modal(modalId, s"Choose $itemText", modalBody, submitCall, Some(modalButtons))

<script type="text/javascript">
    $(function () {
        $.ajax({
            url: '@Html(idAndNamesCall.url)',
            success: function (data) {
                var typeaheadData = data.map(function (item, index) {
                    return {name: item._id.$oid, label: item.name};
                });
                populateFieldTypeahed(
                    $('#@{itemId}Typeahead'),
                    $('#@{itemId}Id'),
                    typeaheadData,
                    @FilterShowFieldStyle.LabelsOnly.id
                );
            }
        });
    })
</script>