@import models.ConditionType
@import play.api.libs.json.Json
@import models.FilterShowFieldStyle
@import models.{Field, Filter}
@import models.JsTreeNode.format
@import controllers.dataset.FilterJsRouter
@import views.html.filter.{jsTree, categoricalTree}
@import play.api.libs.json.JsArray

@(
    filter: Option[Filter],
    categoriesOrCall: Option[Either[Traversable[Category], Call]] = None,
    showFieldStyle: Option[FilterShowFieldStyle.Value] = None,
    filterJsRouter: Option[FilterJsRouter] = None,
    listFiltersCall: Option[Call] = None,
    filterElementName: String = "filterDiv",
    categoricalTreeId: String = "categoryTree"
)(
    implicit request: Request[_], webJarAssets: WebJarAssets
)

@showChoice(value: FilterShowFieldStyle.Value, text: String) = {
    <li>
        <label class="radio-inline"><input type="radio" name="showChoice" value="@value.id" @if(showFieldStyle.getOrElse(FilterShowFieldStyle.NamesAndLabels) == value) {checked="checked"}>
            <h5 style="padding-left: 10px">
            @text
            </h5>
        </label>
    </li>
}

@saveFilterModalBody = {
    <input id="saveFilterName" name="saveFilterName" value="" placeholder="Filter Name">
}

@saveFilterModelButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" id="submitButton" onclick="$('#@filterElementName').multiFilter('saveFilter');" data-dismiss="modal" class="btn btn-primary">OK</button>
}

@loadFilterModalBody = {
    <input id="filterTypeahead" class="typeahead" style="width: 100%;" type="text" placeholder="Filter Name" value="">
    <input id="filterId" name="filterId" type="hidden" value="">
}

@loadFilterModelButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" id="submitButton" onclick="$('#@filterElementName').multiFilter('loadFilter');" data-dismiss="modal" class="btn btn-primary">OK</button>
}

@valueOrUndefined(condition: FilterCondition) = @{
    val valueOrLabel =
        condition.valueLabel match {
            case Some(label) => Some(label)
            case None => condition.value
        }
    valueOrLabel match {
        case None => "undefined"
        case Some(s) if s.isEmpty => "undefined"
        case Some(s) => s
    }
}

@conditionPanel(isDisplayed: Boolean) = {
    <ul class="list-inline">
        <li>
            <ul id="conditionPanel" class="list-inline" @if(!isDisplayed) {style="display:None"}>
                @filter.map{ f =>
                    @f.conditions.zipWithIndex.map { case (condition, index) =>
                    <li id="condition-full@index" class="condition-full">
                        <h4>
                            <span class="condition">
                                <span class="label label-primary" id="fieldLabel">@condition.fieldLabelOrElseName</span>
                                <span id="conditionType"><b>@condition.conditionType</b></span>
                                <span class="label label-primary" id="value">@valueOrUndefined(condition)</span>
                            </span>
                            <span class="condition-buttons" style="display: none; padding-left: 5px">
                                <button type="button" class="btn btn-sm btn-default" onclick="$('#@filterElementName').multiFilter('showEditConditionModal', '@index')">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-default" onclick="$('#@filterElementName').multiFilter('deleteCondition', '@index')">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </span>
                        </h4>
                    </li>
                    }.reduceLeftOption((e1: Html, e2: Html) => Html(e1 + "<li>AND</li>" + e2))
                }.getOrElse(Html(""))
            </ul>
        </li>
        <li>
            <button type="button" class="btn btn-sm btn-default" onclick="$('#@filterElementName').multiFilter('showAddConditionModal')" data-toggle="tooltip" title="Add Filter Condition">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </li>
    </ul>
}

@categoryTreeNodeSelectedJsFun = {
    function(node) {
        if (node.type.startsWith("field-")) {
            var text = node.text
            var nonNullCount = node.data.nonNullCount
            if (nonNullCount) {
                var lastIndex = text.lastIndexOf(" (" + nonNullCount + ")")
                text = text.substring(0, lastIndex)
            }
            $('#@filterElementName').multiFilter('setFieldTypeaheadAndName', node.id, text);
        }
    }
}

<div id="@filterElementName">
    <div class="modal fade" id="addEditConditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add/Edit Condition</h4>
                </div>
                <form onsubmit="return false;">
                    <div class="modal-body">
                        <input id="conditionIndex" type="hidden" value=""/>
                        @if(categoriesOrCall.isDefined) {
                            <div id="categoryFilterDiv" class="row collapse">
                                @categoricalTree(categoricalTreeId, categoriesOrCall.get, Some(categoryTreeNodeSelectedJsFun))
                                <hr/>
                            </div>
                        }
                        <div class="row">
                            <div class="float-left col-md-4">
                                <input id="fieldNameTypeahead" class="typeahead" type="text" placeholder="Field Name or Label">
                                <input id="fieldName" type="hidden" value="">
                            </div>
                            <div id="conditionDiv">
                                <select id="conditionType" class="float-left">
                                @ConditionType.values.map{ conditionType =>
                                    <option value="@conditionType">@conditionType</option>
                                }
                                </select>
                                <input id="value" class="float-left" placeholder="Condition"/>
                            </div>
                            <a id="showChoicesButton" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#showChoicesPanel" data-toggle="tooltip" title="Field Name/Label Display Options">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            </a>
                            @if(categoriesOrCall.isDefined) {
                                <a id="showCategoryTreeButton" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#categoryFilterDiv" data-toggle="tooltip" title="Show Category Tree">
                                    <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                                </a>
                            }
                        </div>
                        <div id="showChoicesPanel" class="row collapse">
                            <hr/>
                            <div class="well">
                                What do you want to show?
                                <ul class="list-unstyled">
                                    @showChoice(FilterShowFieldStyle.NamesOnly, "Field names only")
                                    @showChoice(FilterShowFieldStyle.LabelsOnly, "Field labels only")
                                    @showChoice(FilterShowFieldStyle.LabelsAndNamesOnlyIfLabelUndefined, "Field labels, and names only if label undefined")
                                    @showChoice(FilterShowFieldStyle.NamesAndLabels, "Both, field names and labels")
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="$('#@filterElementName').multiFilter('addEditConditionFinished')">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <ul class="list-inline">
        <li>
            Filter:
        </li>
        @if(filter.isDefined && filter.get._id.isDefined) {
            <li>
                <button id="filterNameButton" type="button" class="btn btn-sm" onclick="$('#@filterElementName').multiFilter('showConditionPanel')" title="Show Conditions">
                    <h5><b>@filter.get.name.getOrElse("No Name")</b></h5>
                </button>
            </li>
        }
        <li>
        @conditionPanel(!filter.isDefined || !filter.get._id.isDefined)
        </li>
        <li>
            @if(filterJsRouter.isDefined && filter.isDefined && filter.get._id.isEmpty && filter.get.conditions.nonEmpty) {
                <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#saveFilterModal@filterElementName" title="Save Filter">
                    <span class="glyphicon glyphicon glyphicon-save"></span>
                </button>
                @modal(s"saveFilterModal$filterElementName", "Save Filter", saveFilterModalBody, None, Some(saveFilterModelButtons))
            }

            @if(listFiltersCall.isDefined) {
                <button id="loadFilterButton" type="button" class="btn btn-sm btn-default" onclick="$('#@filterElementName').multiFilter('loadFilterSelectionAndShowModal')" title="Load Filter">
                    <span class="glyphicon glyphicon-book"></span>
                </button>

                @modal("loadFilterModal", "Load Filter", loadFilterModalBody, None, Some(loadFilterModelButtons))
            }
        </li>
    </ul>
</div>