@import java.util.Date
@(
        userName: String,
        role: Role.Value,
        url: String,
        requesterName: String,
        dataSetId: String,
        timeCreated: Date,
        fromState: BatchRequestState.Value,
        toState: BatchRequestState.Value,
        updateTimestamp: Date,
        updatedByUser: String
)

Dear @userName,<br>
as @role member, please be informed that the status of a request changed,<br>
<b>you can see the request in Ada at the following url <a href="@url">@url</a></b><br><br>
please find below the current status:<br>
requester: @requesterName<br>
dataset Id: @dataSetId<br>
created on date: @timeCreated<br>
status change: <b>from @fromState to @toState</b><br>
status changed on date :@updateTimestamp<br>
updated by user: @updatedByUser<br><br>
Best regards, Ada Team