@import java.util.Date
@import org.ada.web.util.toHumanReadableCamel

@(
        userName: String,
        role: Role.Value,
        url: String,
        requesterName: String,
        dataSetId: String,
        timeCreated: Date,
        fromState: BatchRequestState.Value,
        toState: BatchRequestState.Value,
        updateTimestamp: Date,
        updatedByUser: String
)

Dear @userName,<br>
as @role, please be informed that the status of a request changed,<br>
<b>you are now required to do an action in Ada at the following url <a href="@url">@url</a></b><br><br>
please find below the current status:<br>
requester: @requesterName<br>
dataset Id: @dataSetId<br>
created on date: @timeCreated<br>
status change: <b>from @toHumanReadableCamel(fromState.toString) to @toHumanReadableCamel(toState.toString())</b><br>
status changed on date: @updateTimestamp<br>
updated by user: <b>@updatedByUser</b><br><br>
Best regards, Ada Team