@import views.html.layout
@import views.html.elements.editableTextElements
@import org.ada.server.models.Translation
@import org.ada.web.util.typeColumns
@import org.ada.web.controllers.routes
@import views.html.elements._
@import org.incal.play.Page
@import org.ada.web.controllers.dataset.routes
@import org.ada.web.security.AdaAuthConfig
@import views.html.table.{dynamicStringTable, dynamicTableJsImport, dynamicTable}
@import views.html.helper.input
@import views.html.table.dynamicStringTable
@import views.html.table.paginatedTable
@import views.html.dataset.{dynamicFieldTable, dataSetExportDropdown}
@import views.html.table.dynamicTableJsImport
@import reactivemongo.bson.BSONObjectID
@import org.incal.play.controllers.{GenericJsRouter, GenericRouter}
@import org.ada.web.controllers.dataset.datatrans.javascript.ReverseDataSetTransformationController
@import org.ada.web.controllers.dataset.datatrans.DataSetTransformationController
@import views.html.table.dynamicStringTable
@import views.html.requestSettings.dynamicUserTable
@import org.ada.server.models.FilterShowFieldStyle
@import org.ada.server.models.User
@import org.ada.web.controllers.dataset.DataSetWebContext
@import org.ada.web.controllers.dataset.DataSetWebContext._

@(
	form: Form[BatchRequestSetting]
)(
    implicit context: DataSetWebContext
)

@extraFieldButtons = {
	<a id="addAllFieldsButton" class="btn btn-info btn-sm" href="#" onclick="addAllFields();" data-toggle="tooltip" title="Add All Fields">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> All
	</a>
}

@elements = {
	@dynamicTableJsImport()

	@labelValue("dataSetId", attributeLabel("requestSetting", "dataSetId")) {
		<input id="dataSetId" name="dataSetId" value="@context.dataSetId" readonly="true">
	}

	@labelValue("userIds", attributeLabel("requestSetting", "committeeUserIds")) {
		@dynamicUserTable("userId")
	}

	@labelValue("displayFieldNames", attributeLabel("requestSetting", "displayFieldNames")) {
		@dynamicFieldTable(
			"displayFieldName",
			Nil,
			true,
			5,
			Some(extraFieldButtons),
			None,
			showFieldStyle = Some(FilterShowFieldStyle.NamesOnly)
		)
	}

	@typeaheadJsImport()

	<script type="text/javascript">
		$(function () {
			populateIdNameTypeahedFromUrl(
				$('#add_userIdModal').find('#userTypeahead'),
				$('#add_userIdModal').find('#userId'),
				'@Html(org.ada.web.controllers.routes.UserController.idAndNames().url)'
			)

			populateFieldTypeahedFromUrl(
				$('#displayFieldNameDiv').find('#fieldTypeahead'),
				$('#displayFieldNameDiv').find('#fieldName'),
				'@Html(context.dataSetRouter.allFields.url)',
				@FilterShowFieldStyle.NamesOnly.id
			)
		})

		function addAllFields() {
			$.ajax({
				url:  '@Html(context.dataSetRouter.allFields.url)',
				success: function (data) {
					$.each(data, function(index, field) {
						var values = {};
						values["fieldName"] = field.name;
						values["fieldTypeahead"] = field.label ? field.label : field.name;

						$('#displayFieldNameDiv').dynamicTable('addTableRow', values)
					});
				},
				error: showErrorResponse
			});
		}
	</script>
}

@layout.create(
    "Request setting",
	"request setting",
	form = form,
	elements = elements,
	saveCall = controllers.orderrequest.routes.RequestSettingController.save(),
	listCall = controllers.orderrequest.routes.RequestSettingController.find()
)