@import views.html.layout
@import views.html.elements.editableTextElements
@import org.ada.server.models.Translation
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext
@import org.ada.web.util.typeColumns
@import org.ada.web.controllers.routes
@import controllers.requests.routes
@import views.html.elements._
@import org.incal.play.Page
@import org.ada.web.controllers.dataset.routes
@import org.ada.web.security.AdaAuthConfig
@import views.html.table.{dynamicStringTable, dynamicTableJsImport, dynamicTable}
@import views.html.helper.input
@import views.html.table.dynamicStringTable
@import views.html.table.paginatedTable
@import views.html.dataset.{dynamicFieldTable, dataSetExportDropdown}
@import views.html.table.dynamicTableJsImport
@import reactivemongo.bson.BSONObjectID
@import org.incal.play.controllers.{GenericJsRouter, GenericRouter}

@import views.html.table.dynamicStringTable
@import views.html.dataset.{dynamicFieldTable}


@(
	form: Form[BatchRequestSetting]
)(
    implicit context: WebContext
)

@elements = {
@inputText("requestSetting", "dataSetId", form)

@dynamicTableJsImport()
@typeaheadJsImport()

@labelValue("requestSetting", "userIds") {
	@dynamicStringTable("userId", Seq("577e18c24500004800cdc558"))
}

	@labelValue("requestSetting", "displayFieldNames") {
		@dynamicStringTable("displayFieldName", Seq("field1"))

}
}

@layout.create(
    "Request setting",
	"request setting",
	form = form,
	elements = elements,
	saveCall = controllers.requestSetting.routes.RequestSettingController.save(),
	listCall = controllers.requestSetting.routes.RequestSettingController.listAll()
)

