@import views.html.layout
@import views.html.elements.editableTextElements
@import views.html.table.dynamicTableJsImport
@import org.incal.play.controllers.{WebContext, IdForm}
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.routes
@import views.html.elements._
@import org.ada.web.util.typeColumns
@import views.html.table.{displayTable, dynamicTable}
@import reactivemongo.bson.BSONObjectID
@import  org.ada.server.models._
@import views.html.table.dynamicStringTable
@import views.html.dataset.{dynamicFieldTable}

@(
    data: IdForm[BSONObjectID, BatchRequestSetting],
    committees: Map[BSONObjectID, String] // TODO: Not used
)(
    implicit context: WebContext
)

@elements = {

    @inputTextReadonly("requestSetting", "dataSetId", data.form)

    @dynamicTableJsImport()
    @typeaheadJsImport()

    @labelValue("userIds", attributeLabel("requestSetting", "userIds")) {
        @* TODO: How come a user-id table is a field table? Looks like an abuse *@
        @dynamicFieldTable(
            "userId",
            Nil,
            true,
            5,
            None,
            None,
            showFieldStyle = Some(FilterShowFieldStyle.NamesOnly)
        )
    }

    @labelValue("displayFieldNames", attributeLabel("requestSetting", "displayFieldNames")){
        @dynamicFieldTable(
            "displayFieldName",
            data.form.value.map(_.displayFieldNames.map(f => Field(f,Some(f)))).getOrElse(Nil), // TODO: I would probably load the fields with labels and everything first and pass to the view
            true,
            5,
            Some(extraFieldButtons),
            None,
            showFieldStyle = Some(FilterShowFieldStyle.NamesOnly) //TODO: NamesOnly?
        )
    }

    @helper.javascriptRouter("dataSetJsRoutes")(
        org.ada.web.controllers.dataset.routes.javascript.DataSetDispatcher.getFields
    )

    <script type="text/javascript">
        $(function () {
            populateIdNameTypeahedFromUrl(
                $('#userIdDiv').find('#fieldTypeahead'),
                $('#userIdDiv').find('#fieldName'),
                '@Html(org.ada.web.controllers.routes.UserController.idAndNames().url)',
                true
            )

            var dataSetId = $("#dataSetId").val()

            if (dataSetId.length > 0) {
                @* TODO: This is bad, actually very very bad... at too many levels: 1) Passing param like this is hacky, 2) You should never access DataSetDispatcher directly but use DataSetRouter or DataSetJsRouter that does exactly what you need, 3) The param "dataSetId" is set to a readonly field, then read in js, and passed to a function. You can just pass it as a view attribute if you ever need it. *@
                var url = dataSetJsRoutes.org.ada.web.controllers.dataset.DataSetDispatcher.getFields().url + "?dataSet=" + dataSetId
                populateFieldTypeahedFromUrl(
                    $('#displayFieldNameDiv').find('#fieldTypeahead'),
                    $('#displayFieldNameDiv').find('#fieldName'),
                    url,
                    @FilterShowFieldStyle.NamesOnly.id
                )
            }
        })

        @* TODO: Might work but risky... *@
        function clearTable(){
            $('#displayFieldNameDiv').find('table tbody tr').remove()
        }

        function addAllFields() {
            var dataSetId = $('#dataSetId').val()
            clearTable()
            @* TODO: Same as above... use DataSetRouter or DataSetJsRouter *@
            var url = dataSetJsRoutes.org.ada.web.controllers.dataset.DataSetDispatcher.getFields().url + "?dataSet=" + dataSetId

            $.ajax({
                url: url,
                success: function (data) {
                    $.each(data, function(index, field) {
                        var values = {};
                        values["fieldName"] = field.name;
                        values["fieldTypeahead"] = field.label ? field.label : field.name;

                        $('#displayFieldNameDiv').dynamicTable('addTableRow', values)
                    });
                },
                error: showErrorResponse
            });
        }
    </script>
}

@extraFieldButtons = {
    <a id="addAllFieldsButton" class="btn btn-info btn-sm" href="#" onclick="addAllFields();" data-toggle="tooltip" title="Add All Fields">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> All
    </a>
}

@layout.edit(
    "Request setting",
    "request setting",
    errors = data.form.errors,
    elements = elements,
    updateCall = controllers.requestSetting.routes.RequestSettingController.update(data.id),
    cancelCall = controllers.requestSetting.routes.RequestSettingController.listAll(),
    deleteCall = Some(controllers.requestSetting.routes.RequestSettingController.delete(data.id)),
    None,
    None
)