@import views.html.layout
@import views.html.table.paginatedTable
@import views.html.filter.{filter, filterWithJs}
@import views.html.elements.labelValue
@import org.ada.web.util.typeColumns
@import org.ada.server.models.{User,Field,FilterShowFieldStyle,Filter}
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext
@import org.incal.play.Page
@import org.incal.core.FilterCondition
@import reactivemongo.bson.BSONObjectID
@import org.ada.web.controllers.routes

@import views.html.user.settings
@(
    page: Page[User],
    conditions: Seq[FilterCondition]
)(implicit context: WebContext)

@filterByPermissionModalBody = {
    <fieldset>
        <input id="permissionPrefix" name="permissionPrefix" value="">
    </fieldset>
}

@copyPermissionsModalBody = {
    <fieldset>
        <select id="sourceUserId" name="sourceUserId">
            @page.items.map { user =>
                <option value="@user._id.get.stringify">@user.userId</option>
            }
        </select>
        <span>
            To
        </span>
        <select id="targetUserId" name="targetUserId">
            @page.items.map { user =>
                <option value="@user._id.get.stringify">@user.userId</option>
            }
        </select>
    </fieldset>
}

@copyPermissionsModalButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="copyPermissions(); return false;" data-dismiss="modal">OK</button>
}

@actions = {
    @settings()
    <div class="row">
        <div class="col-md-8">
            @filterWithJs(
                Filter(conditions),
                routes.UserController.find(),
                Left(Seq(
                    Field("userId", Some("Id")),
                    Field("email", Some("Email"))
                )),
                None,
                Some(FilterShowFieldStyle.LabelsOnly)
            )
        </div>
        <div class="pull-right">
            <div class="dropdown">
                <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a data-toggle="modal" data-target="#filterByPermissionPrefixModal" title="Filter By Permission Prefix">
                            Filter by permission
                        </a>
                    </li>
                </ul>
            </div>
            @modal("filterByPermissionPrefixModal", "Filter By Permission Prefix", filterByPermissionModalBody, Some(routes.UserController.listUsersForPermissionPrefix(None)))
        </div>
    </div>
}

@lockedCheckbox(user: User) = {
    <input type="checkbox" @if(user.locked) { checked="checked" } disabled="disabled"/>
}

@table = @{
    paginatedTable(
        page,
        routes.UserController.find(_, _, conditions),
        typeColumns[User](
            (Some("id"), "Id", _.userId),
            (Some("email"), "Email", _.email),
            (Some("locked"), "Locked", lockedCheckbox)
        ),
        Some({ item : Any => routes.UserController.get(item.asInstanceOf[User]._id.get)})
    )
}


@layout.list(
    "user",
    None,
    page.total,
    Some(actions),
    Some(table)
)