@import views.html.layout
@import views.html.elements.editableTextElements
@import org.ada.server.models.RunnableSpec
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext
@import org.ada.web.controllers.routes
@import views.html.datasetimport.schedulePanel
@import views.html.runnable.topInfoPanel
@import views.html.runnable.elements
@import views.html.elements.inputText

@(
	form: Form[RunnableSpec],
	runnableClassName: String,
	inputFields: Option[Html]
)(
    implicit context: WebContext
)

@layout.create(
    "Runnable Spec",
	"runnableSpec",
	form = form,
	elements = elements(form, runnableClassName, inputFields),
	saveCall = routes.RunnableController.save(),
	listCall = routes.RunnableController.listAll()
)