@import views.html.layout
@import views.html.elements.editableTextElements
@import reactivemongo.bson.BSONObjectID
@import org.ada.server.models.RunnableSpec
@import org.incal.play.controllers.{WebContext, IdForm}
@import org.incal.play.controllers.WebContext._
@import views.html.runnable.elements
@import org.ada.web.controllers.routes

@(
    data: IdForm[BSONObjectID, RunnableSpec],
    runnableClassName: String,
    inputFields: Option[Html]
)(
    implicit context: WebContext
)

@layout.edit(
    "Runnable Spec",
    "runnableSpec",
	errors = data.form.errors,
    elements = elements(data.form, runnableClassName, inputFields),
	updateCall = routes.RunnableController.update(data.id),
	cancelCall = routes.RunnableController.listAll(),
    deleteCall = Some(routes.RunnableController.delete(data.id)),
    None,
    None
)